<% if (!_.isEmpty(bids)) { %>
	<% _.each(bids, function(bid){ %>
		<tr>
			<td class="align-center"><input type="checkbox" name="bidids[]" class="bidids" value="<%= bid.get("id") %>"></td>
			<td><a href="<%= bid_url %>/<%= bid.get("id") %>"><%= bid.get("bidnumber") %></a></td>
			<td><%= bid.get("created_at").split(" ")[0] %></td>
			<td>
				<% if (bid.get("ponumber")) { %>
					<a href="<%= po_url %>/<%= bid.get("id") %>"><%= bid.get("ponumber") %></a>
				<% } %>
			</td>
			<td>
				<% if (bid.get("status").toLowerCase() == "open") { %>
					<span class="label label-success"><%= bid.get("status") %></span>
				<% } else if (bid.get("status").toLowerCase() == "closed") { %>
					<span class="label label-default"><%= bid.get("status") %></span>
				<% } else { %>
					<span class="label label-danger"><%= bid.get("status") %></span>
				<% } %>
			</td>
			<td><%= bid.get("account").name %></td>
			<td><%= bid.get("destination").destination %></td>
			<td>
				<% if (bid.get("status").toLowerCase() == "open") { %>
					<a href="<%= bid_edit_url %>/<%= bid.get("id") %>" class="btn btn-info btn-xs">
			          <span class="glyphicon glyphicon-pencil"></span>
			        </a>

			        <a href="#" data-id="<%= bid.get("id") %>" class="btn btn-danger btn-xs cancel-bid">
			          <span class="glyphicon glyphicon-copyright-mark"></span>
			        </a>
				<% } else { %>
					<a href="<%= bid_edit_url %>/<%= bid.get("id") %>" class="btn btn-info btn-xs disabled">
			          <span class="glyphicon glyphicon-pencil"></span>
			        </a>

			        <a href="#" data-id="<%= bid.get("id") %>" class="btn btn-danger btn-xs cancel-bid disabled">
			          <span class="glyphicon glyphicon-copyright-mark"></span>
			        </a>
				<% } %>
			</td>
		</tr>
	<% }); %>
<% } else { %>
	<tr>
		<td colspan="9">No result found.</td>
	</tr>
<% } %>