<div class="clearfix">
	<div>
		<a href="<%= bid_add_url %>">+ Add Bid</a>
	</div>
	<div class="search-filter-cont clearfix">
		<div class="pull-left">
			<div id="filter-date" class="calendar-cont">
				<div class="input-group date">
					<input type="text" class="form-control" value="">
					<span class="input-group-addon"><i class="glyphicon glyphicon-th"></i></span>
				</div>
			</div>
		</div>
		<div class="pull-right">
			<form class="form-inline" role="form">
				<div>
					<div class="form-group">
						<label class="sr-only" for="search">Search</label>
						<input type="text" class="search form-control" id="search-keyword" placeholder="">
					</div>
					<button type="button" class="btn btn-default search-local">Search</button>
					<button type="button" class="btn btn-link" data-toggle="collapse" href="#collapseFilters">Advance Search</button>
				</div>
				<div id="collapseFilters" class="collapse filters">
					<div>
						<h4>Filter by destination</h4>
						<label class="radio-inline">
							<input class="bidDestination" type="radio" name="destination" value="" checked> All
						</label>
						<%= destination_filters %>
					</div>
					<div>
						<h4>Filter by status</h4>
						<label class="radio-inline">
							<input class="statusFilter" type="radio" name="statusFilter" value="" checked> All
						</label>
						<label class="radio-inline">
							<input class="statusFilter" type="radio" name="statusFilter" value="Open"> Open
						</label>
						<label class="radio-inline">
							<input class="statusFilter" type="radio" name="statusFilter" value="Closed"> Closed
						</label>
						<label class="radio-inline">
							<input class="statusFilter" type="radio" name="statusFilter" value="Cancelled"> Cancelled
						</label>
					</div>
				</div>
			</form>
		</div>
	</div>	
</div>

<div class="clearfix">
	<ul class="pagination" style="display:none;">
		<li><a class="first-page" href="#">&laquo;</a></li>
		<li><a class="last-page" href="#">&raquo;</a></li>
	</ul>
</div>

<div class="content-inner table-responsive">
	<table id="bid-list" class="table table-bordered">
		<thead>
			<tr>
				<th class="sortable sort-bidnumber">Bid No. <span class="glyphicon glyphicon-sort"></span></th>
				<th class="sortable sort-date">Date of Bid <span class="glyphicon glyphicon-sort"></span></th>
				<th>PO No.</th>
				<th>Status</th>
				<th class="sortable sort-producer">Producer <span class="glyphicon glyphicon-sort"></span></th>
				<th>Destination</th>
				<th>Operation</th>
			</tr>
		</thead>
		<tbody></tbody>
	</table>
</div>
<!--<div class="clearfix">
	<ul class="pagination" style="display:none;">
		<li><a class="first-page" href="#">&laquo;</a></li>
		<li><a class="last-page" href="#">&raquo;</a></li>
	</ul>
</div>-->