<div class="row">
	<div class="col-md-12">
		<a href="<%= bid_add_url %>" class="btn btn-danger">+ Add Bid</a>
	</div>
</div>
<div class="row margin-top-10">
	<div class="col-md-6">
		<div id="filter-date" class="calendar-cont">
			<div class="input-group date">
				<input type="text" class="form-control" value="">
				<span class="input-group-addon"><i class="glyphicon glyphicon-th"></i></span>
			</div>
		</div>
	</div>
	<div class="col-md-6">
		<form class="form-inline" role="form">
			<div class="form-group pull-right">
				<div class="input-group col-md-8 pull-right">
					<label class="sr-only" for="search">Search</label>
					<input type="text" class="search form-control" id="search-keyword" placeholder="">

					<div class="input-group-btn">
						<button type="button" class="btn btn-primary dropdown-toggle" data-toggle="dropdown">
							<span class="caret"></span>
						</button>
						<ul class="dropdown-menu pull-right filters" role="menu">
							<li class="dropdown-header">Filter By destination</li>
							<li>
								<input class="bidDestination" type="radio" name="destination" value="" checked> All
							</li>
							<%= destination_filters %>
							<li class="dropdown-header">Filter By status</li>
							<li>
								<input class="statusFilter" type="radio" name="statusFilter" value="" checked> All
							</li>
							<li>
								<input class="statusFilter" type="radio" name="statusFilter" value="Open"> Open
							</li>
							<li>
								<input class="statusFilter" type="radio" name="statusFilter" value="Closed"> Closed
							</li>
							<li>
								<input class="statusFilter" type="radio" name="statusFilter" value="Cancelled"> Cancelled
							</li>
						</ul>
						<button type="button" class="btn btn-primary search-local">Search</button>
					</div>
				</div>
			</div>
		</form>
	</div>
</div>

<div class="clearfix">
	<div class="row">
		<div class="col-md-6">
			<div class="btn-group margin-top-10 display-items" style="display:none;">
				<button class="btn btn-default btn-sm dropdown-toggle" type="button" data-toggle="dropdown">
				Display Items <span class="caret"></span>
				</button>
				<ul class="dropdown-menu filters">
					<li>
						<input class="item-per-page" type="radio" name="itemperpage" value="10" checked> 10 items
					</li>
					<li>
						<input class="item-per-page" type="radio" name="itemperpage" value="20"> 20 items
					</li>
					<li>
						<input class="item-per-page" type="radio" name="itemperpage" value="50"> 50 items
					</li>
					<li>
						<input class="item-per-page" type="radio" name="itemperpage" value="100"> 100 items
					</li>
				</ul>
			</div>
		</div>
		<div class="col-md-6">
			<ul class="pagination pagination-sm pull-right" style="display:none;">
				<li><a class="first-page btn" href="#"><span class="glyphicon glyphicon-fast-backward"></span></a></li>
				<li><a class="prev-page btn" href="#"><span class="glyphicon glyphicon-step-backward"></span></a></li>
				<li><a class="next-page btn" href="#"><span class="glyphicon glyphicon-step-forward"></span></a></li>
				<li><a class="last-page btn" href="#"><span class="glyphicon glyphicon-fast-forward"></span></a></li>
			</ul>
		</div>
	</div>
</div>

<div class="content-inner table-responsive">
	<table id="bid-list" class="table table-bordered">
		<thead>
			<tr>
				<th class="width-40"><input type="checkbox" name="checkall" class="checkall"></th>
				<th class="sortable sort-bidnumber">Bid No. <span class="glyphicon glyphicon-sort"></span></th>
				<th class="sortable sort-date">Date of Bid <span class="glyphicon glyphicon-sort"></span></th>
				<th>PO No.</th>
				<th>Status</th>
				<th class="sortable sort-producer">Producer <span class="glyphicon glyphicon-sort"></span></th>
				<th>Destination</th>
				<th class="width-70">Action</th>
			</tr>
		</thead>
		<tbody></tbody>
	</table>
</div>

<div class="clearfix">
	<div class="row">
		<div class="col-md-6">
			<div class="btn-group dropup margin-top-10">
				<button class="btn btn-default btn-sm dropdown-toggle" type="button" data-toggle="dropdown">
				Action <span class="caret"></span>
				</button>
				<ul class="dropdown-menu">
					<li>
						<a class="delete-selected btn disabled" href="#">Delete selected</a>
					</li>
				</ul>
			</div>
		</div>
		<div class="col-md-6">
			<ul class="pagination pagination-sm pull-right" style="display:none;">
				<li><a class="first-page btn" href="#"><span class="glyphicon glyphicon-fast-backward"></span></a></li>
				<li><a class="prev-page btn" href="#"><span class="glyphicon glyphicon-step-backward"></span></a></li>
				<li><a class="next-page btn" href="#"><span class="glyphicon glyphicon-step-forward"></span></a></li>
				<li><a class="last-page btn" href="#"><span class="glyphicon glyphicon-fast-forward"></span></a></li>
			</ul>
		</div>
	</div>
</div>