<tr class="product-item">
	<td><input class="form-control" type="text" /></td>
	<td><textarea class="form-control"></textarea></td>
	<td><input class="form-control" type="text" /></td>
	<td><input class="form-control" type="text" /></td>
	<td><input class="form-control" type="text" /></td>
	<td><input class="form-control" type="text" /></td>
	<td>
		<select class="form-control">
			<option value="0">No</option>
			<option value="1">Yes</option>
		</select>
	</td>
	<td>
		<button title="Remove Product" type="button" class="pull-right btn btn-default btn-xs remove-bid-product"><span class="glyphicon glyphicon-remove"></span></button>
	</td>
</tr>