<tr class="product-item">
	<td>
		<% if (typeof show_id !== "undefined") { %>
			<input type="hidden" class="id" name="id" value="" />
		<% } %>
		<input class="form-control productname" type="text" name="productname"/>
		<input type="hidden" class="form-control product_id product" name="product" value="">
	</td>
	<td><textarea class="form-control product-description" readonly></textarea></td>
	<td><input class="form-control text-right-align stacknumber" type="text" name="stacknumber" required></td>
	<td><input class="form-control text-right-align bidprice" type="text" name="bidprice" value="0.00" required></td>
	<td><input class="form-control text-right-align tons" type="text" name="tons"></td>
	<td><input class="form-control text-right-align bales" type="text" name="bales"></td>
	<td><input class="form-control text-right-align unit-price" type="text" value="0.00" readonly></td>
	<td>
		<select class="form-control ishold" name="ishold">
			<option value="0">No</option>
			<option value="1">Yes</option>
		</select>
	</td>
	<td>
		<button title="Remove Product" type="button" class="pull-right btn btn-default btn-xs remove-bid-product"><span class="glyphicon glyphicon-remove"></span></button>
	</td>
</tr>