<tr class="product-item">
	<td><span class="bid-product"><%= product %></span></td>
	<td><span class="bid-product-desc"><%= desc %></span></td>
	<td class="text-right-align"><span class="bid-product-stacknumber"><%= stacknumber %></span></td>
	<td class="text-right-align"><span class="bid-product-bidprice"><%= bidprice %></span></td>
	<td class="text-right-align"><span class="bid-product-tons"><%= tons %></span></td>
	<td class="text-right-align"><span class="bid-product-bales"><%= bales %></span></td>
	<td class="text-right-align"><span class="bid-product-unitprice"><%= unitprice %></span></td>
	<td><span class="bid-product-holdfortesting"><%= holdfortesting %></span></td>
</tr>