<div class="row">
    <div class="col-md-12">
        <div class="block-flat">
            <div class="content">
                <div class="row">
                    <div class="col-md-9">
                        <form id="TruckerForm" class="form-horizontal" role="form" method="post" enctype="multipart/form-data">
                            <% if (typeof trucker_id !== "undefined") { %>
                                <input type="hidden" name="id" value="<%= trucker_id %>" />
                            <% } %>
                            <fieldset>
                                <legend>Details</legend>                  
                                <div class="form-group">
                                    <label for="truckerAccountType_id" class="col-sm-3 control-label">Truck Type *</label>
                                    <div class="col-sm-5">
                                        <div class="styled-select">
                                            <select class="form-control width-304" id="truckerAccountType_id" name="truckerAccountType_id" required>
                                                <option value="">Select a trucker account</option>
												<%= trucker_account_type_list %>
                                            </select>
                                        </div>
                                    </div>
                                </div>
								<div class="form-group">
									<label for="account_id" class="col-sm-3 control-label">Trucker</label>
									<div class="col-sm-5">
										<div class="styled-select">
											<select class="form-control width-200" id="account_id" name="account_id" required>
												<option value="">Select a trucker</option>
											</select>
											<span class="field-throbber throbber_wrap" style="display: none;"><i class="fa fa-refresh fa-spin throbber_ajax"></i></span>
										</div>
									</div>
								</div>
                                <div class="form-group">
                                    <label for="trucknumber" class="col-sm-3 control-label">Truck Name *</label>
                                    <div class="col-sm-5">
                                        <input type="text" class="form-control capitalize width-200" id="trucknumber" name="trucknumber" minlength="1" maxlength="20" required>
                                    </div>
                                </div>
								<div class="form-group">
                                    <label for="fee" class="col-sm-3 control-label">Admin Fee *</label>
                                    <div class="col-sm-2">
                                        <div class="input-group margin-0">
                                            <span class="input-group-addon">$</span>
                                            <input type="text" class="form-control text-right" id="fee" name="fee" value="0.00" min="0.00" max="1000.00" maxlength="8" required>
                                        </div>
                                    </div>
                                </div>
                            </fieldset>
                            <div class="form-group">
                                <div class="col-md-5 col-md-offset-3">
                                    <button id="save" type="submit" class="save btn btn-primary">Save</button>
                                    <% if (typeof trucker_id !== "undefined") { %>
                                    <button id="delete-trucker" type="button" class="btn btn-danger">Delete</button>
                                    <% } %>
                                    <a id="go-to-previous-page" class="btn btn-default" href="#">Cancel</a>
                                </div>
                            </div>
                        </form>
                    </div>
                </div>
            </div> <!-- /.content -->
        </div> <!-- /.block-flat -->
    </div>
</div>