<div class="row">
    <div class="col-md-12">
        <div class="block-flat">
            <dl id="view-trucker" class="dl-horizontal">
                <dt>Truck Number</dt>
                <dd><%= trucker.get("trucknumber") %></dd>
                <dt>Account Name</dt>
                <dd><%= trucker.get("account").name %></dd>
                <dt>Trucker Type</dt>
                <dd><%= trucker.get("account").accounttype[0].name %></dd>
                <dt>Admin Fee</dt>
                <dd>$ <%= numberFormat(trucker.get("fee")) %></dd>
                <dd>
                    <div class="clearfix"></div>
                    <a href="<%= trucker_edit_url %>/<%= trucker.get('id') %>" class="btn btn-primary btn-trans btn-rad"><i class="fa fa-pencil width-10"></i> Edit</a>
                    <button id="delete-trucker" type="button" class="btn btn-danger btn-rad btn-trans"><i class="fa fa-times width-10"></i> Delete</button>
                    <a id="go-to-previous-page" href="#" class="btn btn-warning btn-trans btn-rad"><i class="fa fa-ban width-10"></i> Cancel</a>
                </dd>
            </dl>
        </div>
    </div>
</div>