<% if (!_.isEmpty(inventory)) { %>
	<% _.each(inventory, function(i){ %>
	<tr>
		<td><%= i.get("productname") %></td>
		<td><a href="<%= stacknumber_url %>/<%= i.get("stacknumber") %>"><%= i.get("stacknumber") %></a></td>
		<td><%= i.get('unitprice') %></td>
		<td><%= i.get('producer') %></td>
		<td><%= i.get('cityState') %></td>
		<td><%= i.get("stacklocation") %></td>
		<td class="text-right"><%= numberFormatTons(i.get("onHandTons")) %></td>
		<td><% if (i.get("committed")) { %><%= i.get("committed") %><% } %></td>
		<td><% if (i.get("ordered")) { %><%= i.get("ordered") %><% } %></td>
		<td><% if (i.get("available")) { %><%= i.get("available") %><% } %></td>
	</tr>
	<% }); %>
<% } else { %>
	<tr>
		<td colspan="7">No result found.</td>
	</tr>
<% } %>