<div class="row margin-top-0">
    <div class="col-md-12 no-padding">
        <div class="block-flat padding-top-0 padding-bottom-0">
            <div class="content padding-top-0">
                <div class="row margin-top-0">
                    <div class="col-md-9 padding-top-10 padding-right-0">
                        <a href="<%= inventory_add_url %>" class="btn btn-primary btn-rad btn-sm margin-left-0">+ Add Transaction</a>
                    </div>
                    <div class="col-md-3 padding-top-10">
                        <form id="searchLocal" name="searchLocal" class="form-inline searchLocal" role="form">
                            <div class="input-group input-group-sm">
                                <label class="sr-only" for="search">Search</label>
                                <input type="text" class="search form-control" style="border-radius:3px 0 0 3px;" id="search-keyword" placeholder="">

                                <div class="input-group-btn">
                                    <button type="button" class="btn btn-trans dropdown-toggle" data-toggle="dropdown" style="border-radius:0;">
                                        <span class="caret"></span>
                                    </button>
                                    <ul class="dropdown-menu pull-right filter" role="menu">
                                        <li class="dropdown-header"><i class="fa fa-barcode"></i>Filter By Product</li>
                                        <li><input class="product_id" type="radio" name="product_id" value="" checked> All</li>
                                        <%= product_filters %>
                                    </ul>
                                    <button type="button" class="btn btn-trans search-local">Search</button>
                                </div>
                            </div>
                        </form>
                    </div>
                </div>

                <div class="content-inner table-responsive">
                    <table id="inventory-list" class="table-condensed table-bordered table-hover">
                        <thead>
                            <tr>
                                <th class='width-150'>Product</th>
                                <th class='width-150'>Stack No.</th>
								<th class='width-250'>Location</th>
								<th class='width-120'>On Hand</th>
                                <th class='width-120'>Committed</th>
								<th class='width-120'>Ordered</th>
								<th class='width-120'>Available</th>
                            </tr>
                        </thead>
                        <tbody></tbody>
                    </table>

                    <div class="clearfix">
                        <select class="form-control width-100 pull-left margin-top-10 margin-bottom-0 margin-left-0 margin-right-0 display-items input-sm" id="perpage" name="perpage" style="display:none;">
                            <option value="15">15 rows</option>
                            <option value="25">25 rows</option>
                            <option value="50">50 rows</option>
                        </select>
                        <ul class="pagination pagination-sm pull-right margin-top-10 margin-bottom-0 margin-left-0 margin-right-0" style="display:none;">
                            <li><a class="first-page btn" href="#"><span class="glyphicon glyphicon-fast-backward"></span></a></li>
                            <li><a class="prev-page btn" href="#"><span class="glyphicon glyphicon-step-backward"></span></a></li>
                            <li><a class="next-page btn" href="#"><span class="glyphicon glyphicon-step-forward"></span></a></li>
                            <li><a class="last-page btn" href="#"><span class="glyphicon glyphicon-fast-forward"></span></a></li>
                        </ul>
                    </div>
                </div>

            </div> <!-- /.content -->
        </div> <!-- /.block-flat -->
    </div>
</div>