<tr class="product-item">
	<td>
		<input type="hidden" class="id" name="id" value="" />
        <select class="form-control product_id width-160 input-sm" name="product_id"><%= product_list %></select>
	</td>
	<td><input class="form-control input-sm stacknumber" type="text" name="stacknumber" maxlength="20" minlength="2" required></td>
	<td>
		<select class="form-control sectionfrom_id width-160 input-sm" name="sectionfrom_id"><%= location_list %></select>
	</td>
	<td>
		<select class="form-control sectionto_id width-160 input-sm" name="sectionto_id"><%= location_list %></select>
	</td>
	<td><input class="form-control input-sm text-right bales" name="bales" type="text"></td>
	<td><input class="form-control input-sm text-right tons" type="text" name="tons" maxlength="12"></td>
	<td>
		<div class="input-group margin-0"><span class="input-group-addon">$</span><input class="form-control input-sm text-right price" type="text" name="price" placeholder="0.00" value="" required></div>
		<div class="error-msg-cont"></div>
	</td>
	<td><div class="input-group margin-0"><span class="input-group-addon">$</span><input class="form-control input-sm text-right total-price" type="text" value="0.00" readonly></div></td>
	<td align="center">
		<button title="Remove Product" type="button" class="margin-left-0 btn btn-rad btn-danger btn-xs remove-product"><span class="glyphicon glyphicon-remove"></span></button>
	</td>
</tr>