body { font-size: 12px; }
*, h1, h2, h3, h4, h5, h6, .h1, .h2, .h3, .h4, .h5, .h6 { font-family: Helvetica, Arial, sans-serif; }
p { font-size:12px; }

.sidebar-logo {
    background:url("../images/logo.png") no-repeat scroll 5px 5px;
    height:45px;
}
.well { background-color:#fafafa; }
.navbar { height:45px; min-height:45px; }
.profile_menu .dropdown-toggle { padding: 13px 10px; }

select.error,
input.error { border-color: #CC0000 !important; }
.input-sm,
.input-sm.error { height:28px; }
select.input-sm.error { height:30px; }
.input-group { margin-bottom:10px; }

label.error { color: #CC0000 !important; font-weight: normal; }
textarea.form-control { resize:none; }

@media only screen and (max-width : 767px) {
  .cl-sidebar { width:100%; }
}

@media only screen and (min-width : 768px) {
  .cl-sidebar { width:150px; }
}

.cl-sidebar .collapse-button { width:150px; }
.cl-sidebar .collapse-button .search { width:150px; }
.cl-sidebar .cl-toggle { top:5px; right:5px; }
.cl-mcont { font-size:12px; }

.cl-vnavigation li a { padding:5px; font-weight:normal; font-size:12px; }
.cl-vnavigation .parent ul li a { padding: 5px 18px 5px 30px; }
.navbar-default .navbar-nav > li > a { font-size:12px; }
.not-nav > li > h1 {
    font-size:18px;
    line-height:24px;
    font-weight:400;
    margin:10px 0;

    small {
        font-size:75%;
    }
}

.cl-mcont {
    padding:6px 21px;
    .margin-top-0 {
        margin-top: 0;
    }
    .row {
        .margin-top-10 {
            margin-top:10px;
        }
    }
    .block-flat,
    .block-wizard { padding:7px; }
}
.cont {
    h2 {
        font-family: Helvetica, Arial, sans-serif;
        font-size:20px;
        line-height:28px;
    }
    h2.margin-bottom-0 {
        margin-bottom:0;
    }
}

.block-flat .padding-top-0 { padding-top: 0; }
.block-flat .padding-top-10 { padding-top: 10px; }
.block-flat, .block-wizard { padding:5px; }
.pagination-sm>li>a, .pagination-sm>li>span { padding:2px 5px; font-size:12px; }


// Audit
.audit {
    ul.timeline {
        li {
            margin-bottom:10px;
            min-height:65px;
            .content { margin-left:65px; }

            ul.timeline-value {
                padding-left:15px;
                margin-top:10px;
                list-style-type:disc;
                li {
                    min-height:15px;
                    margin-bottom:3px;
                    list-style-type:disc;
                }
            }
        }
        li > .date {
            line-height:18px;
            padding:0;
            top:45px;
            width:65px;
            margin-left:-8px
        }
    }
}

.table-condensed > thead > tr > th,
.table-condensed > tbody > tr > th,
.table-condensed > tfoot > tr > th,
.table-condensed > thead > tr > td,
.table-condensed > tbody > tr > td,
.table-condensed > tfoot > tr > td { padding:3px; font-size:12px; }
.fa-stack { width:1.7em; height:1.7em; line-height:1.53em; }
.fa-stack-2x { font-size:1.7em; }
.label { padding:.3em .3em .2em; }

.transform-upper { text-transform:uppercase; }
.height-3 { height:3px; }
.height-1 { height:1px; }
.height-70, textarea.form-control.height-70 { height:70px; }
.height-100, textarea.form-control.height-100 { height:100px; }
.progress-bar-default { background-color: #a1a1a1; }

.text-success { color:#19b698; }

.font-size-10 { font-size:10px; }
.font-size-12 { font-size:12px; }

// Modal
.custom-width { width:35%; }
.width-90-percent { width:90%; }
.modal-header { padding:10px; }
.modal-body { padding:10px; }
.modal-footer { padding:10px; }
.close { font-size:20px;}

.btn-sm { padding:4px 5px; }
.btn-rad { border-radius:3px; }

.cursor-pointer { cursor:pointer; }

h2, .h2 { font-size:20px; }
h3, .h3 { font-size:16px; }

label { font-size:12px; font-weight:normal;}
.form-group { margin-bottom:5px; margin-top:5px; }

.padding-5 { padding:5px; }
.padding-10 { padding:10px; }
.padding-top-0 { padding-top: 0; }
.padding-top-10 { padding-top: 10px; }
.padding-right-0 { padding-right: 0; }
.padding-left-0 { padding-left: 0; }

.margin-none { margin: 0; }
.margin-0 { margin: 0; }
.margin-top-0 { margin-top: 0; }
.margin-top-5 { margin-top:5px; }
.margin-top-10 { margin-top:10px; }
.margin-bottom-0 { margin-bottom: 0; }
.margin-bottom-5 { margin-bottom: 5px; }
.margin-bottom-10 { margin-bottom: 10px; }

.margin-left-0 { margin-left:0; }
.margin-left-5 { margin-left:5px; }
.margin-left-10 { margin-left:10px; }
.margin-left-20 { margin-left:20px; }
.margin-right-0 { margin-right:0px; }
.margin-right-3 { margin-right:3px; }
.margin-right-5 { margin-right:5px; }
.margin-right-10 { margin-right:10px; }

.searchLocal {
    .border-radius-0 { border-radius:0px; }
    .border-radius-tl-3 { border-radius:3px 0 0 3px; }
}

body {
    .filter {
        > li {
          font-size: 12px;
          padding: 0 5px;
          margin-right:0;
          cursor:pointer;
        }
        .dropdown-header {
            margin-top:5px;
            background:#4c6e93;
            color:#ffffff;
            padding:5px;

            &:before {
                background: url("../images/menu-tail-up.png") no-repeat scroll 0 0 rgba(0, 0, 0, 0);
                content: "";
                display: inline-block;
                height: 43px;
                position: absolute;
                right: 66px;
                top: -10px;
                width: 17px;
            }
        }
    }
}

#content-wrapper {
    .row {
        margin-top: 0;
    }
}
#content-top {
    margin-top: 0;
}
.btn-link {
  border: 0 none;
}
/* Table  */
.table-condensed > thead > tr > th,
.table-condensed > tfoot > tr > td { color:#000; font-weight:400; }
.table-condensed > thead > tr > th.sortable { cursor:pointer; }
.table-condensed > thead > tr > th,
.table-condensed > tbody > tr > th,
.table-condensed > tfoot > tr > th,
.table-condensed > thead > tr > td,
.table-condensed > tbody > tr > td,
.table-condensed > tfoot > tr > td {
    vertical-align: top;
}
.table-condensed > thead > tr > th.valign-middle,
.table-condensed > tbody > tr > th.valign-middle,
.table-condensed > tfoot > tr > th.valign-middle,
.table-condensed > thead > tr > td.valign-middle,
.table-condensed > tbody > tr > td.valign-middle,
.table-condensed > tfoot > tr > td.valign-middle {
    vertical-align: middle;
}
.table-condensed {
    th.align-center { text-align: center; }
    td.align-center { text-align: center; }
}

.dl-horizontal {
    dt,
    dd {
        padding: 5px;
    }
}
.dl-horizontal dt {
    width: 20%;
}
.dl-horizontal dd {
    margin-left: 25%;
}

.textarea-height-34 {
    max-height: 34px;
}

.radio-inline {
    // padding-left: 0;
}

ul.autocomplete, .ui-autocomplete {
    display: none;
    max-height: 200px;
    overflow-x: hidden;
    overflow-y: auto;
    padding: 0 0 0 4px;
    position: absolute;
    z-index: 20;
    background: #fff;
    border: 1px solid #ccc;
    padding: 0;

    li {
        background-image: none;
        display: list-item;
        list-style: none outside none;

        a {
            display: block;
            padding: 5px 20px;
            clear: both;

            &:hover,
            &:focus {
                background-color: #19B698;
                color: #fff;
            }
        }

        &.active {
            a {
                background-color: #19B698;
                color: #fff;
            }
        }
    }
}

.styled-select {
    position: relative;

    select {
        -webkit-appearance: none;  /*Removes default chrome and safari style*/
        -moz-appearance: none; /* Removes Default Firefox style*/
        background: url('select2.png') no-repeat #fff;  /*Adds background-image*/
        background-position: 272px 0;  /*Position of the background-image*/
        text-indent: 0.01px; /* Removes default arrow from firefox*/
        text-overflow: "";  /*Removes default arrow from firefox*/
        width: 304px;
        outline: 0 none;
        // font-size: 14px;
        // color: #555;
        // color: rgba(37,37,37,1);
        text-shadow: 0 0 0 #555;
        border: 1px solid #ccc;
        // height: 34px;
        height: 30px;
        padding: 6px 37px 6px 8px;
        vertical-align: middle;

        option {
            background: #fff;
            height: 34px;
            padding: 6px 8px;
            -webkit-appearance: button;

            &:hover,
            &:focus {
                background-color: #19B698;
                color: #555;
            }
        }

        &.width-60 {
            width:60px;
            background-position: 24px 0;
        }

        &.width-64 {
            width:64px;
            background-position: 34px 0;
        }

        &.width-70 {
            width:70px;
            background-position: 34px 0;
        }

        &.width-80 {
            width:80px;
            background-position: 47px -3px;
        }

        &.width-100 {
            width:100px;
            background-position: 68px -3px;
        }

        &.width-115 {
            width:115px;
            background-position: 68px -3px;
        }

        &.width-160 {
            width:160px;
            background-position: 126px 0;
        }

        &.width-180 {
            width:180px;
            background-position: 147px -3px;
        }

        &.width-200 {
            width:200px;
            background-position: 167px -3px;
        }
    }
}

#accounttype select {
    background-position: 272px 0;  /*Position of the background-image*/
    width: 100%;
}

#so-origin,
#so-nos,
#po-destination {
    input[type="radio"] {
        display:none;
    }

    input[type="radio"] + span {
        display:inline-block;
        width:20px;
        height:20px;
        margin:-1px 4px 0 0;
        vertical-align:middle;
        background:url(blue.png) -132px top no-repeat;
        cursor:pointer;
    }

    input[type="radio"]:checked + span {
        background:url(blue.png) -110px top no-repeat;
    }

    label {
        padding-left: 0;
    }
}

.max-width-80 { max-width: 130px; }
.min-width-100 { min-width: 100px; }
.width-10 { width:10px; }
.width-30  { width: 30px; }
.width-40  { width: 40px; }
.width-50  { width: 50px; }
.width-60  { width: 60px; }
.width-70  { width: 70px; }
.width-80  { width: 80px; }
.width-63  { width: 63px; }
.width-90  { width: 90px; }
.width-100 { width:100px; }
.width-110 { width: 110px; }
.width-115 { width: 115px; }
.width-120 { width: 120px; }
.width-125 { width: 125px; }
.width-130 { width: 130px; }
.width-140 { width: 140px; }
.width-150 { width:150px; }
.width-170 { width:170px; }
.width-175 { width:175px; }
.width-200 { width:200px; }
.width-250 { width:250px; }
.width-300 { width: 300px; }
.width-304 { width: 304px; }
.width-350 { width: 350px; }

// icons
.btn-sm i { font-size:12px; }
table td i { font-size:12px; }

.list-view-collapse {
    .container {
        width:100%;
        padding:5px;
        .order-stack-details {
            width:100%;
            padding:7px;
            background-color:#fff;
            border:1px solid #f1f1f1;
        }
    }
}
table tr.product-stack {
    td {
        .container {
            width:100%;
            padding:2px;
            .inner-con {
                padding:6px;
                background-color:#fff;
                border:1px solid #f1f1f1;
            }
        }
    }
}

.nav-tabs.inner-tabs-menu > li.active > a,
.nav-tabs.inner-tabs-menu > li.active > a:hover,
.nav-tabs.inner-tabs-menu > li.active > a:focus {
    padding:5px 10px;
}

.inner-tabs-menu {
    > li.active {
        a {
            padding:5px 10px;
        }
    }
    > li {
        a {
            font-size:12px;
            padding:5px 10px;
        }
    }
    > li.margin-bottom-n2 { margin-bottom:-2px; }
}

.inner-tab-content {
    border-top:1px solid #e2e2e2;
    padding:10px;
}

#description,
#notes {
    resize: none;
}

.ui-tooltip {
	z-index:99 !important;
}

/***start upload pdf window ***/
.pdf-icon-small {
	padding:5px;
}

#pdf-file {
	display:inline;
}

#pdf-filename {
	padding-left:5px;
}

#remove-pdf-filename {
	padding-left:10px;
}

#upload-error {
	color:#CC0000 !important;
}

.no-attachment {
	color:#555555 !important;
}
/***end upload pdf window ***/

.backdrop {
    background-color: #000000;
    bottom: 0;
    left: 0;
    position: fixed;
    right: 0;
    top: 0;
    z-index: 1040;
    opacity: 0.5;
}

.lightbox {
    bottom: 0;
    display: block;
    left: 0;
    outline: 0 none;
    overflow-x: auto;
    overflow-y: scroll;
    position: fixed;
    right: 0;
    top: 0;
    z-index: 1050;
}

.lightbox-inner {
    margin: 200px auto;
    width: 32px;
}

.field-throbber {
    position: absolute;
    left: 205px;
    top: 4px;
}

// Print
.print {
    #cl-sidebar,
    .tab-container {
        display: none;
    }
}

@import "datepicker.less";

@media print {
    .no-print, .no-print *
    {
        display: none !important;
    }
}

.display-inline{display:inline;}
.display-inline-block{display:inline-block;}
.valign-middle{vertical-align:middle;}

.multiselect.btn-default:focus {
    background-color:#eeeeee; 
    border-color:#adadad;
    color:#333333;
    -webkit-box-shadow:0 3px 5px rgba(0, 0, 0, 0.125) inset;
    -moz-box-shadow:0 3px 5px rgba(0, 0, 0, 0.125) inset;
    box-shadow:0 3px 5px rgba(0, 0, 0, 0.125) inset;
}

/**Dashboard **/
#weather-forecast,
#graph-cont,
.location-holder { margin-left:0px; margin-right:0px; }

.weather-box,
.graph-cont { padding-left:5px; padding-right:0; }
#graph-cont .graph-cont:nth-child(odd) { padding-left:0; }

.graph-cont .block { margin-bottom:10px; }
.graph-cont .block .content { padding:0 15px 10px; }
.graph-cont .block .content.map-cont { padding:0 5px 5px; }
.graph-cont .block .content.map-cont .graph-container { height:305px !important; width:100%; margin:5px 0 0; }
.graph-cont .block .content.map-cont .graph-container .mapholder { width:100%; height:100%; }

.weather-box .tile-blue { background:#b2d5d5; color:#666666; }
.graph-cont .md-dark.prusia .modal-header {
    background: #63a2b7; /* Old browsers */
    background: -moz-linear-gradient(top, #63a2b7 0%, #227c9a 100%); /* FF3.6+ */
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#63a2b7), color-stop(100%,#227c9a)); /* Chrome,Safari4+ */
    background: -webkit-linear-gradient(top, #63a2b7 0%,#227c9a 100%); /* Chrome10+,Safari5.1+ */
    background: -o-linear-gradient(top, #63a2b7 0%,#227c9a 100%); /* Opera 11.10+ */
    background: -ms-linear-gradient(top, #63a2b7 0%,#227c9a 100%); /* IE10+ */
    background: linear-gradient(to bottom, #63a2b7 0%,#227c9a 100%); /* W3C */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#63a2b7', endColorstr='#227c9a',GradientType=0 ); /* IE6-9 */ 
    border-radius:3px 3px 0 0;
}

/** Table List **/
.content-inner.table-responsive { padding:1px; background:#eeeeee; }
.content-inner.table-responsive table tr { background:#ffffff; }
.content-inner.table-responsive .table-condensed > thead > tr > th { color:#ffffff; }
.content-inner.table-responsive .table-condensed > thead > tr > th,
.content-inner.table-responsive .table-condensed > tfoot > tr > td { padding: 3px; font-weight:500; }
.content-inner.table-responsive .table-condensed > tfoot > tr > td {  }

.content-inner.table-responsive .table-bordered > thead > tr > th, 
.content-inner.table-responsive .table-bordered > thead > tr > td { background:#4C6E93; border-color:#f5f5f5; border-bottom-color:#f5f5f5; border-bottom-width:3px; }
.content-inner.table-responsive .table-bordered .product-stack-table > thead > tr > th { padding:4px 3px; background:#f6f0da; }
.content-inner.table-responsive .table-bordered .product-stack-table > thead > tr > th,
.sales-order-details-by-product .content-inner.table-responsive .table-bordered > thead > tr > th,
.order-weight-details-by-stack .content-inner.table-responsive .table-bordered > thead > tr > th,
.order-stack-details .content-inner.table-responsive .table-bordered > thead > tr > th { border-bottom-width:1px; color:#8e8171; border-right-color:#dfdfdf; font-size:12px; padding:1px 3px; background:#E5ECF2; color:#666666; }
.sales-order-details-by-product fieldset legend,
.order-weight-details-by-stack fieldset legend { border-bottom:0; }

.content-inner.table-responsive table tr:nth-child(2n) { background:#FBFBFB; }
.content-inner.table-responsive table tr:nth-child(2n).product-stack { background:#f8f8f8; }
.content-inner.table-responsive .table-hover > tbody > tr:hover > td,
.content-inner.table-responsive .table-hover#commission-list > tbody > tr:nth-child(even) > td,
.content-inner.table-responsive .table-hover > tbody > tr:hover > th { background:#f5f5f5; }
.content-inner.table-responsive .table-hover > tbody > tr td.subheader { background:#E5ECF2; }

span.label-default,
label.default,
.content-inner.table-responsive .table-bordered > tbody td span.label-default { color:#666666; background:#f1efe2; display:inline-block; padding:3px 4px; margin-right:1px; }
.content-inner.table-responsive .table-bordered .btn-xs { padding:0 3px; }
.content-inner.table-responsive .table-bordered legend .btn-xs { padding:2px 6px; }

.footer-pagination { background:#ffffff; border: 1px solid #dddddd; border-top-width:3px; border-top-color:#f5f5f5; padding:5px; }

/** Forms **/
fieldset legend h3 { font-size:15px; padding:5px 10px; min-width:95px; }
fieldset legend h3, fieldset legend h4 { background:#E5F6FF; }
fieldset legend h3, fieldset legend h4, fieldset legend h5, .modal-content fieldset h3 { display:inline-block; margin-bottom:0; }
fieldset legend h5 { font-size:13px; font-weight:bold; padding:7px 45px; background:#f5f5f5; color:#505050; border-radius:3px 3px 0 0; }
fieldset legend h5 span { display:inline-block; padding:0 2px; }
.block-flat .content fieldset legend h4 { font-size:14px; margin-top:5px; padding:5px 40px; }
.list-view-collapse fieldset legend h3 { padding:5px; }
fieldset legend button.margin-top-20 { margin-top: 20px; margin-bottom:4px !important; }
fieldset .form-horizontal .form-group,
.form-horizontal fieldset .form-group,
.form-horizontal .form-group { margin-top:5px; margin-left:0; margin-right:0; }
fieldset .form-group .btn.multiselect { margin-bottom:0 !important; }
fieldset table.information td i,
fieldset table td i,
table td i { font-size:13px; width:auto; }

fieldset.address-fields-group { border:1px solid #dddddd; padding:0 10px 10px; }
fieldset.address-fields-group legend,
fieldset.report-fields-group legend { border:0; margin-bottom:0; width:auto; }
fieldset.address-fields-group legend h3 { background:#f5f5f5; color:#505050; margin-top:0; }

fieldset.report-fields-group { border:1px solid #dddddd; padding:0 8px 10px 8px; background:#438696; color:#ffffff; }
fieldset.report-fields-group legend h3 { background:#ffffff; box-shadow:0 0 1px 1px #ccc inset; margin-top:0; }
fieldset.report-fields-group label.error { margin-top:0; margin-bottom:0; color:#c00 !important; font-weight:bold; line-height:1; display:block; }

#product-list.table-bordered tr:nth-child(2n) { background:#f8f8f5; }
#product-list.table-bordered .stack-details,
#product-list.table-bordered .product-stack,
#product-list.table-bordered tr:nth-child(2n).product-stack { background:#ffffff; }
#product-list.table-bordered tr:nth-child(2n).product-stack td { background:#efefef; }
#product-list.table-bordered tr:nth-child(2n).product-stack tr td { background:#ffffff; }
#product-list.table-bordered tr:nth-child(2n).product-stack tr:nth-child(2n).product-stack-item td { background:#f8f8f5; }

#account-tabpanes table.information > tbody > tr > td { padding-bottom:0; }

select.form-control.input-sm { height:30px; padding: 0; }
.input-group-addon.input-sm { padding:5px 7px; }

h2.content-header { margin-top:0; }
h2.content-header span { background:#3D566D; padding:5px 10px; display:inline-block; color:#ffffff; font-family:Menlo,Monaco,Consolas,"Courier New",monospace; font-size:22px; }
h2.entity-header { padding:10px; background:#3D566D; color:#ffffff; }
h2.entity-header span { height:30px; line-height:30px; display:block; }
h2.entity-header .btn { margin-bottom: 0 !important; margin-top:-5px !important; }

.modal-content .modal-header {
    border-bottom:3px solid #f0f0f0; 
    border-radius:5px 5px 0 0; 
    padding:13px 10px;
    background: #e1e1e1; /* Old browsers */
    background: -moz-linear-gradient(top, #ffffff 0%, #e1e1e1 100%); /* FF3.6+ */
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#ffffff), color-stop(100%,#e1e1e1)); /* Chrome,Safari4+ */
    background: -webkit-linear-gradient(top, #ffffff 0%,#e1e1e1 100%); /* Chrome10+,Safari5.1+ */
    background: -o-linear-gradient(top, #ffffff 0%,#e1e1e1 100%); /* Opera 11.10+ */
    background: -ms-linear-gradient(top, #ffffff 0%,#e1e1e1 100%); /* IE10+ */
    background: linear-gradient(to bottom, #ffffff 0%,#e1e1e1 100%); /* W3C */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffffff', endColorstr='#e1e1e1',GradientType=0 ); /* IE6-9 */  
}
.modal-content .modal-header h3 { font-weight:500; }

/** Weather **/
.weather-box .fd-tile.header .icon img { width:100px; height:100px; }
.location-holder .placeholder { background:#3386A1;  display:inline-block; min-width:198px; border-radius:3px 3px 0 0; min-height:0; }
.location-holder .placeholder h2 { color:#ffffff; padding:8px 10px; }
#weather-forecast .weather-box { border-left:2px solid #F0F0F0; background:#227c9a; padding-left:0; padding-right:0; }
#weather-forecast .weather-box:first-child { background:#b24443; padding-top:0px; margin-top:0; margin-bottom:0; box-shadow:none; border-left:0; }
#weather-forecast .weather-box .fd-tile {
    color:#333; 
    border-bottom:1px solid #ccc; 
    background: #fdfdfd; /* Old browsers */
    background: -moz-linear-gradient(top, #fdfdfd 0%, #d1d1d1 100%); /* FF3.6+ */
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#fdfdfd), color-stop(100%,#d1d1d1)); /* Chrome,Safari4+ */
    background: -webkit-linear-gradient(top, #fdfdfd 0%,#d1d1d1 100%); /* Chrome10+,Safari5.1+ */
    background: -o-linear-gradient(top, #fdfdfd 0%,#d1d1d1 100%); /* Opera 11.10+ */
    background: -ms-linear-gradient(top, #fdfdfd 0%,#d1d1d1 100%); /* IE10+ */
    background: linear-gradient(to bottom, #fdfdfd 0%,#d1d1d1 100%); /* W3C */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#fdfdfd', endColorstr='#d1d1d1',GradientType=0 ); /* IE6-9 */
}
#weather-forecast .weather-box:first-child .fd-tile { color:#ffffff; border-bottom:1px solid #2a819d; background:#3386a1; }
#weather-forecast .weather-box .fd-tile .header { background: #dddddd; border-bottom: 1px solid rgba(255, 255, 255, 0.2); }
#weather-forecast .weather-box:first-child .fd-tile .header { background:rgba(255,255,255,.2); }
#weather-forecast .weather-box .fd-tile .header .ico { background:none; }
#weather-forecast .weather-box .fd-tile .header .ico i { font-size:25px; top:6px; left:10px; z-index:10; position:absolute; opacity:.7; filter:alpha(opacity=70); }
#weather-forecast .weather-box .fd-tile.header .icon p { position:absolute; width:100%; top:39px; right:10px; text-align:right; }
#weather-forecast .weather-box .fd-tile.header .icon img { top:auto; bottom:-18px; }
#weather-forecast .weather-box .fd-tile .header .title { position:relative; top:0; }

#confirm-navigate:focus { text-decoration:underline; }
.btn.close-window:focus { background-color:#ebebeb; border-color:#adadad; color:#333333; }

.footer-pagination .pagination-sm { padding-top:4px; }
.footer-pagination .pagination-sm>li>a, .footer-pagination .pagination-sm>li>span { margin-bottom:0 !important; }

/*#report-accordion { background:#708090; color:#ffffff; padding:5px; border-radius:3px; }*/

#report-list table { table-layout:fixed; }
#report-list table thead tr th {
    background: #efefef; /* Old browsers */
    background: -moz-linear-gradient(top, #efefef 1%, #d1d1d1 100%); /* FF3.6+ */
    background: -webkit-gradient(linear, left top, left bottom, color-stop(1%,#efefef), color-stop(100%,#d1d1d1)); /* Chrome,Safari4+ */
    background: -webkit-linear-gradient(top, #efefef 1%,#d1d1d1 100%); /* Chrome10+,Safari5.1+ */
    background: -o-linear-gradient(top, #efefef 1%,#d1d1d1 100%); /* Opera 11.10+ */
    background: -ms-linear-gradient(top, #efefef 1%,#d1d1d1 100%); /* IE10+ */
    background: linear-gradient(to bottom, #efefef 1%,#d1d1d1 100%); /* W3C */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#efefef', endColorstr='#d1d1d1',GradientType=0 ); /* IE6-9 */ 
}
#report-list table tbody tr:nth-child(even) td { background:#fafafa; }
#report-list #trucker-list td { font-size:11px; }
#report-list h5 samp { font-size:14px; }
#report-filter .btn.multiselect { margin-bottom:0 !important; }

.input-group-btn.open .dropdown-toggle { background:#f0f0f0; }

#accounttype { display:block !important; opacity:0; height:0; padding:0; }