/* Table  */
body {
  font-size: 13px;
}
input.error {
  border-color: #CC0000 !important;
}
label.error {
  color: #CC0000 !important;
  font-weight: normal;
}
@media only screen and (max-width: 767px) {
  .cl-sidebar {
    width: 100%;
  }
}
@media only screen and (min-width: 768px) {
  .cl-sidebar {
    width: 200px;
  }
}
.cl-sidebar .collapse-button {
  width: 200px;
}
.cl-sidebar .collapse-button .search {
  width: 180px;
}
.cl-mcont .margin-top-0 {
  margin-top: 0;
}
.block-flat .padding-top-0 {
  padding-top: 0;
}
.transform-upper {
  text-transform: uppercase;
}
.padding-top-0 {
  padding-top: 0;
}
.padding-top-10 {
  padding-top: 10px;
}
.padding-right-0 {
  padding-right: 0;
}
.margin-top-0 {
  margin-top: 0;
}
.margin-top-10 {
  margin-top: 10px;
}
.margin-bottom-0 {
  margin-bottom: 0;
}
.margin-bottom-10 {
  margin-bottom: 10px;
}
.help-block {
  font-size: 11px;
}
body .filter > li {
  font-size: 10px;
  padding: 3px 10px;
  text-transform: uppercase;
  margin-right: 15px;
}
#content-wrapper .row {
  margin-top: 0;
}
#content-top {
  margin-top: 0;
}
.btn-link {
  border: 0 none;
}
/* Table  */
.table > thead > tr > th.sortable {
  cursor: pointer;
}
.table > thead > tr > th {
  font-weight: bold;
}
.table > thead > tr > th,
.table > tbody > tr > th,
.table > tfoot > tr > th,
.table > thead > tr > td,
.table > tbody > tr > td,
.table > tfoot > tr > td {
  vertical-align: middle;
}
table th.align-center {
  text-align: center;
}
table td.align-center {
  text-align: center;
}
.margin-none {
  margin: 0;
}
.dl-horizontal dt,
.dl-horizontal dd {
  padding: 5px;
}
.dl-horizontal dt {
  width: 20%;
}
.dl-horizontal dd {
  margin-left: 25%;
}
.margin-0 {
  margin: 0;
}
.textarea-height-34 {
  max-height: 34px;
}
ul.autocomplete {
  display: none;
  max-height: 200px;
  overflow-x: hidden;
  overflow-y: auto;
  padding: 0 0 0 4px;
  position: absolute;
  z-index: 20;
  background: #fff;
  border: 1px solid #ccc;
  padding: 0;
}
ul.autocomplete li {
  background-image: none;
  display: list-item;
  list-style: none outside none;
}
ul.autocomplete li a {
  display: block;
  padding: 5px 20px;
  clear: both;
}
ul.autocomplete li a:hover,
ul.autocomplete li a:focus {
  background-color: #19B698;
  color: #fff;
}
ul.autocomplete li.active a {
  background-color: #19B698;
  color: #fff;
}
.styled-select select {
  -webkit-appearance: none;
  /*Removes default chrome and safari style*/

  -moz-appearance: none;
  /* Removes Default Firefox style*/

  background: url('select2.png') no-repeat #ffffff;
  /*Adds background-image*/

  background-position: 272px 0;
  /*Position of the background-image*/

  text-indent: 0.01px;
  /* Removes default arrow from firefox*/

  text-overflow: "";
  /*Removes default arrow from firefox*/

  width: 304px;
  outline: 0 none;
  font-size: 14px;
  color: #555;
  color: #252525;
  text-shadow: 0 0 0 #555;
  border: 1px solid #ccc;
  height: 34px;
  padding: 6px 8px;
}
.styled-select select option {
  background: #fff;
  height: 34px;
  padding: 6px 8px;
  -webkit-appearance: button;
}
.styled-select select option:hover,
.styled-select select option:focus {
  background-color: #19B698;
  color: #555;
}
.styled-select select.width-80 {
  width: 80px;
  background-position: 44px 0;
}
.styled-select select.width-100 {
  width: 100px;
  background-position: 64px 0;
}
.styled-select select.width-160 {
  width: 160px;
  background-position: 126px 0;
}
#so-origin input[type="radio"],
#so-nos input[type="radio"],
#po-destination input[type="radio"] {
  display: none;
}
#so-origin input[type="radio"] + label span,
#so-nos input[type="radio"] + label span,
#po-destination input[type="radio"] + label span {
  display: inline-block;
  width: 20px;
  height: 20px;
  margin: -1px 4px 0 0;
  vertical-align: middle;
  background: url(green.png) -132px top no-repeat;
  cursor: pointer;
}
#so-origin input[type="radio"]:checked + label span,
#so-nos input[type="radio"]:checked + label span,
#po-destination input[type="radio"]:checked + label span {
  background: url(green.png) -110px top no-repeat;
}
.max-width-80 {
  max-width: 130px;
}
.width-70 {
  width: 70px;
}
.width-80 {
  width: 70px;
}
.width-100 {
  width: 100px;
}
.width-110 {
  width: 110px;
}
.width-130 {
  width: 130px;
}
.width-150 {
  width: 150px;
}
.width-300 {
  width: 300px;
}
.width-304 {
  width: 304px;
}
