<% if (!_.isEmpty(users)) { %>
  <% _.each(users, function(user){ %>
    <tr>
      <td><a href="<%= user_url %>/<%= user.get("id") %>"><%= user.get("lastname") %>, <%= user.get("firstname") %> <%= user.get("suffix") %></a></td>
      
      <td><%= user.get("email") %></td>
      <td>
        <% _.each(user.get("roles"), function(role){ %>
          <%= role.name %><br />
        <% }); %>
      </td>
      <td><% if (user.get("validated") == 1) { %>yes<% } else { %>no<% } %></td>
      <td><% if (user.get("status") == 1) { %>active<% } else { %>inactive<% } %></td>
      <td>
          <a href="<%= user_edit_url %>/<%= user.get("id") %>" class="btn btn-info btn-xs">
             <span class="glyphicon glyphicon-pencil"></span>
          </a>
          <a href="<%= user_edit_url %>/<%= user.get("id") %>" id="delete" class="btn btn-danger btn-xs">
              <span class="glyphicon glyphicon-remove"></span>
          </a>
      </td>
    </tr>
  <% }); %>
<% } else { %>
	<tr>
		<td colspan="8">No result found.</td>
	</tr>
<% } %>