<div class="row margin-top-0">
    <div class="col-md-12 no-padding">
        <div class="block-flat padding-top-0 padding-bottom-0">
            <div class="content padding-top-0">
                <div class="row margin-top-0">
                    <div class="col-md-12">

                        <form id="addUserForm" class="form-horizontal" role="form" method="post" enctype="multipart/form-data">
                          <% if (typeof user_id !== "undefined") { %>
                            <input type="hidden" id="id" name="id" value="<%= user_id %>" />
                          <% } %>
                          <fieldset>
                            <legend><h3>PERSONAL INFORMATION</h3></legend>
                            <div class="form-group">
                              <label for="firstname" class="col-sm-2 control-label">First Name <i class="color-danger">*</i></label>
                              <div class="col-sm-5">
                                <input type="text" class="form-control capitalize input-sm" id="firstname" name="firstname" placeholder="" minlength="2" maxlength="50" required>
                              </div>
                            </div>
                            <div class="form-group">
                              <label for="lastname" class="col-sm-2 control-label">Last Name <i class="color-danger">*</i></label>
                              <div class="col-sm-5">
                                <input type="text" class="form-control capitalize input-sm" id="lastname" name="lastname" placeholder="" minlength="2" maxlength="50" required>
                              </div>
                            </div>
                            <div class="form-group">
                              <label for="suffix" class="col-sm-2 control-label">Suffix</label>
                              <div class="col-sm-5">
                                <input type="text" class="form-control capitalize input-sm" id="suffix" name="suffix" placeholder="" minlength="2" maxlength="6">
                              </div>
                            </div>
                            <div class="form-group">
                              <label for="email" class="col-sm-2 control-label">Email <i class="color-danger">*</i></label>
                              <div class="col-sm-5">
                                <input type="email" class="form-control lowercase input-sm" id="email" name="email" placeholder="" maxlength="250" required>
                              </div>
                            </div>
                            <div class="form-group">
                              <label for="position" class="col-sm-2 control-label">Position</label>
                              <div class="col-sm-5">
                                <input type="text" class="form-control capitalize input-sm" id="position" name="position" placeholder="" minlength="2" maxlength="50">
                              </div>
                            </div>
                            <div class="form-group">
                              <label for="emp_no" class="col-sm-2 control-label">Employee No. <i class="color-danger">*</i></label>
                              <div class="col-sm-5">
                                <input type="text" class="form-control input-sm" id="emp_no" name="emp_no" placeholder="" maxlength="250" required>
                              </div>
                            </div>
                            <div class="form-group">
                              <label for="phone" class="col-sm-2 control-label">Phone</label>
                              <div class="col-sm-5">
                                <input type="text" class="form-control phone-number input-sm" id="phone" name="phone" placeholder="" minlength="14" maxlength="14">
                              </div>
                            </div>
                            <div class="form-group">
                              <label for="mobile" class="col-sm-2 control-label">Mobile</label>
                              <div class="col-sm-5">
                                <input type="text" class="form-control mobile-number input-sm" id="mobile" name="mobile" placeholder="" minlength="14" maxlength="14">
                              </div>
                            </div>
                            <div class="form-group">
                              <!--
                              <label for="profile-pic" class="col-sm-3 control-label">Profile Image</label>
                              <div id="profile-pic-upload" class="col-sm-5">
                                <input type="file" id="profile-pic" class="profile-pic" name="profile-pic"> <a class="cancel-remove-image" href="#" style="display:none;">cancel remove</a>
                                <p class="help-block">Example block-level help text here.</p>
                              </div>
                              -->
                              <div id="profile-pic-preview" class="col-sm-5" style="display:none;">
                                <div class="pull-left max-width-300">
                                  <div><img src="" /></div>
                                  <a class="remove-image pull-right" href="#">remove</a>
                                </div>
                              </div>
                            </div>
                          </fieldset>
                          <fieldset>
                            <legend><h3>USER SETTINGS</h3></legend>
                            <div class="form-group">
                              <label for="" class="col-sm-2 control-label">Roles</label>
                              <div class="col-sm-5 user-role-container"></div>
                            </div>
                          </fieldset>
                          <div class="form-group form-button-container margin-top-10" style="display:none;">
                            <label for="" class="col-sm-2 control-label"></label>
                            <div class="col-sm-5">
                               <button id="save" type="submit" class="save btn btn-primary btn-sm btn-rad margin-left-0"><i class="fa fa-save"></i> Save</button>
                               <a id="go-to-previous-page" class="btn btn-warning btn-sm btn-rad" href="#"><i class="fa fa-ban width-10"></i> Cancel</a>
                            </div>
                          </div>
                        </form>
                      
                    </div>
                </div>
              
            </div> <!-- /.content -->
        </div> <!-- /.block-flat -->
    </div>
</div>