<div class="row margin-top-0">
    <div class="col-md-12">
        <div class="block-flat">
            <div class="content padding-top-0">
              
                <div id="content-top" class="row margin-top-0">
                    <div class="col-md-9 col-xs-8">
                        <a href="<%= user_add_url %>" class="btn btn-primary">+ Add User</a>
                    </div>
                    <div class="col-md-3 col-xs-4">
                        <form class="form-inline" role="form">
                            <div class="input-group">
                                <label class="sr-only" for="search">Search</label>
                                <input type="text" class="search form-control" id="search-keyword" placeholder="">
                                <span class="input-group-btn">
                                    <button type="button" class="btn btn-primary search-local">Search</button>
                                </span>
                            </div>
                        </form>
                    </div>
                </div>

                <!-- <div class="clearfix">
                  <ul class="pagination" style="display:none;">
                    <li><a class="first-page" href="#">&laquo;</a></li>
                    <li><a class="last-page" href="#">&raquo;</a></li>
                  </ul>
                </div> -->

                <div class="content-inner table-responsive">
                  <table id="user-list" class="table table-bordered table-hover">
                    <thead>
                      <tr>
                        <th class="sortable sort-lastname"><i class="fa fa-sort"></i> Full Name</th>
                        <th class="sortable sort-email"><i class="fa fa-sort"></i> Email</th>
                        <th>Role</th>
                        <th>Validated</th>
                        <th>Status</th>
                        <th class="width-110">Action</th>
                      </tr>
                    </thead>
                    <tbody></tbody>
                  </table>
                </div>

                <div class="clearfix">
                  <ul class="pagination" style="display:none;">
                    <li><a class="first-page" href="#">&laquo;</a></li>
                    <li><a class="last-page" href="#">&raquo;</a></li>
                  </ul>
                </div>

            </div> <!-- /.content -->
        </div> <!-- /.block-flat -->
    </div>
</div>