<div>
	<a href="<%= user_add_url %>">+ Add User</a>
</div>
<div>
	<ul class="pagination user-list-pagination">
		<li><a class="first-page" href="#">&laquo;</a></li>
		<li><a class="last-page" href="#">&raquo;</a></li>
	</ul>
</div>
<div class="table-responsive">
	<table id="user-list" class="table table-bordered">
		<thead>
			<tr>
				<th>Last Name</th>
				<th>First Name</th>
				<th>Suffix</th>
				<th>Email</th>
				<th>Role</th>
				<th>Validated</th>
				<th>Status</th>
				<th>Operation</th>
			</tr>
		</thead>
		<tbody></tbody>
	</table>
</div>
<div>
	<ul class="pagination">
		<li><a class="first-page" href="#">&laquo;</a></li>
		<li><a class="last-page" href="#">&raquo;</a></li>
	</ul>
</div>