<% if (!_.isEmpty(users)) { %>
  <% _.each(users, function(user){ %>
    <tr>
      <td valign="top">
        <a href="<%= user_url %>/<%= user.get("id") %>">
          <%= user.get("lastname") %>, <%= user.get("firstname") %> <%= user.get("suffix") %>
        </a>
      </td>
      
      <td valign="top"><%= user.get("email") %></td>
      <td>
        <% _.each(user.get("roles"), function(role){ %>
          <span class="label label-info"><%= role.name %></span> 
        <% }); %>
      </td>
      <td valign="top">
        <% if (user.get("validated") == 1) { %>
          <span class="fa-stack text-success">
            <i class="fa fa-square fa-stack-2x"></i>
            <i class="fa fa-check fa-stack-1x fa-inverse"></i>
          </span>
        <% } else { %>
          <span class="fa-stack">
            <i class="fa fa-square fa-stack-2x"></i>
            <i class="fa fa-check fa-stack-1x fa-inverse"></i>
          </span>
        <% } %>
      </td>
      <td valign="top">
        <% if (user.get("status") == 1) { %>
          <span class="label label-success">active</a>
        <% } else { %>
          <span class="label label-default">inactive</a>
        <% } %>
      </td>
      <td valign="top" align="center">
          <a href="<%= user_edit_url %>/<%= user.get("id") %>" class="text-primary">
            <span class="fa-stack">
              <i class="fa fa-square fa-stack-2x"></i>
              <i class="fa fa-pencil fa-stack-1x fa-inverse"></i>
            </span>
          </a>
          <span class="fa-stack">
            <i class="fa fa-square fa-stack-2x"></i>
            <i class="fa fa-times fa-stack-1x fa-inverse"></i>
          </span>
      </td>
    </tr>
  <% }); %>
<% } else { %>
	<tr>
		<td colspan="6"><span class="text-danger">No results found.</span></td>
	</tr>
<% } %>