<div class="row margin-top-0">
    <div class="col-md-12 no-padding">
        <div class="block-flat padding-top-0 padding-bottom-0 col-md-4 success-box">
            <div class="header margin-top-5 ">              
              <h3 class="margin-bottom-5">Schedule Settings</h3>
            </div>

            <div class="content padding-top-0">

              <form id="sheduleSettingsForm" class="form-horizontal" role="form" method="post" enctype="multipart/form-data">

                <div class="form-group">
                  <label for="freight_rate" class="col-sm-6 control-label">Freight Rate</label>
                  <div class="col-sm-4">
                    <div class="input-group input-group-sm margin-0 width-100">
                      <span class="input-group-addon"><i class="fa fa-dollar"></i></span>
                      <input type="text" class="form-control mask-fee text-right" id="freight_rate" name="freight_rate" placeholder="0.00">
                    </div>
                  </div>
                </div>

                <div class="form-group">
                  <label for="loading_rate" class="col-sm-6 control-label">Loading Rate</label>
                  <div class="col-sm-4">
                    <div class="input-group input-group-sm margin-0 width-100">
                      <span class="input-group-addon"><i class="fa fa-dollar"></i></span>
                      <input type="text" class="form-control mask-fee text-right" id="loading_rate" name="loading_rate" placeholder="0.00">
                    </div>
                  </div>
                </div>

                <div class="form-group">
                  <label for="unloading_rate" class="col-sm-6 control-label">Unloading Rate</label>
                  <div class="col-sm-4">
                    <div class="input-group input-group-sm margin-0 width-100">
                      <span class="input-group-addon"><i class="fa fa-dollar"></i></span>
                      <input type="text" class="form-control mask-fee text-right" id="unloading_rate" name="unloading_rate" placeholder="0.00">
                    </div>
                  </div>
                </div>

                <div class="form-group">
                  <label for="trailer_percentage_rate" class="col-sm-6 control-label">Trailer Percentage Rate</label>
                  <div class="col-sm-4">
                    <div class="input-group input-group-sm margin-0 width-100">
                      <input type="text" class="form-control text-right" id="trailer_percentage_rate" name="trailer_percentage_rate" placeholder="0.00">
                      <span class="input-group-addon">%</span>
                    </div>
                  </div>
                </div>

				<div class="form-group">
                  <label for="fuel_rate" class="col-sm-6 control-label">Fuel Rate</label>
                  <div class="col-sm-4">
                    <div class="input-group input-group-sm margin-0 width-100">
                      <span class="input-group-addon"><i class="fa fa-dollar"></i></span>
                      <input type="text" class="form-control mask-fee text-right" id="fuel_rate" name="fuel_rate" placeholder="0.00">
                    </div>
                  </div>
                </div>

                <div class="form-group">
                  <div class="col-sm-offset-6 col-sm-4">
                    <button id="save" type="submit" class="save btn btn-danger btn-rad btn-sm"><i class="fa fa-save"></i> Save</button>
                  </div>
                </div>
              </form>
              
            </div> <!-- /.content -->
        </div> <!-- /.block-flat -->
    </div>
</div>