<dl class="dl-horizontal">
	<dt>Type</dt>
	<dd><%= account.get("id") %></dd>
	<dt>Website</dt>
	<dd><%= account.get("website") %></dd>
	<dt>Description</dt>
	<dd><%= account.get("description") %></dd>
	<dt>Phone</dt>
	<dd><%= account.get("phone") %></dd>
	<% _.each(account.get("address"), function (a){ %>
		<dt><%= a.type %></dt>
		<dd></dd>
	<% }); %>
	<dd>
		<div class="clearfix"></div>
		<br />
		<a href="<%= account_url %>" class="btn btn-default">Back</a> 
		<a href="<%= account_edit_url %>/<%= account.get("id") %>" class="btn btn-default">Edit</a>
		<button id="delete" type="button" class="btn btn-default" value="Delete">Delete</button>
	</dd>
</dl>