<div class="address-fields-container">
	<% if (typeof hide_remove_button == "undefined") { %>
		<div><button type="button" class="pull-right btn btn-default remove-address-fields">Remove address</button></div>
		<div class="clearfix"></div>
	<% } %>
	<div class="form-group">
		<label for="addresstype" class="col-sm-2 control-label">Address Type</label>
		<div class="col-sm-10">
			<select class="form-control" id="addresstype" name="addresstype" <% if (typeof uneditable_type != "undefined") { %>disabled<% } %>>
				<option value="Mailing">Mailing</option>
				<option value="Billing">Billing</option>
				<option value="Stack">Stack</option>
			</select>
		</div>
	</div>
	<div class="form-group">
		<label for="street" class="col-sm-2 control-label">Street</label>
		<div class="col-sm-10">
			<input type="text" class="form-control" id="street" name="street" placeholder="" maxlength="250">
		</div>
	</div>
	<div class="form-group">
		<label for="city" class="col-sm-2 control-label">City</label>
		<div class="col-sm-10">
			<input type="text" class="form-control" id="city" name="city" placeholder="" maxlength="250">
		</div>
	</div>
	<div class="form-group">
		<label for="stateprovince" class="col-sm-2 control-label">State/Provonce</label>
		<div class="col-sm-10">
			<input type="text" class="form-control" id="stateprovince" name="stateprovince" placeholder="" maxlength="250">
		</div>
	</div>
	<div class="form-group">
		<label for="zippostalcode" class="col-sm-2 control-label">Zip/Postal Code</label>
		<div class="col-sm-10">
			<input type="text" class="form-control" id="zippostalcode" name="zippostalcode" placeholder="" maxlength="250">
		</div>
	</div>
	<div class="form-group">
		<label for="country" class="col-sm-2 control-label">Country</label>
		<div class="col-sm-10">
			<input type="text" class="form-control" id="country" name="country" placeholder="" maxlength="250">
		</div>
	</div>
</div>