<div class="row">
    <div class="col-md-12">
        <div class="block-flat">
            <div class="content">
            
                <div class="row">
                    <div class="col-md-9">
            
                        <form id="addAccountForm" class="form-horizontal" role="form" method="post" enctype="multipart/form-data">
                            <% if (typeof account_id !== "undefined") { %>
                            <input type="hidden" id="id" name="id" value="<%= account_id %>" />
                            <% } %>
                            
                            <div class="form-group">
                                <label for="name" class="col-sm-3 control-label">Account Name *</label>
                                <div class="col-sm-5">
                                    <input type="text" class="form-control capitalize" id="name" name="name" placeholder="" minlength="2" maxlength="50" required>
                                </div>
                            </div>
                            <div class="form-group">
                                <label for="accounttype" class="col-sm-3 control-label">Account Type *</label>
                                <div class="col-sm-5">
                                    <div class="styled-select">
                                        <select class="form-control" id="accounttype" name="accounttype">
                                            <option value="">Select an account type</option>
                                            <% _.each(account_types, function(account_type){ %>
                                            <option value="<%= account_type.id %>"><%= account_type.name %></option>
                                            <% }); %>
                                        </select>
                                    </div>
                                </div>
                            </div>
                            <div class="form-group">
                                <label for="website" class="col-sm-3 control-label">Website</label>
                                <div class="col-sm-5">
                                    <input type="text" class="form-control" id="website" name="website" placeholder="" minlength="2" maxlength="255">
                                </div>
                            </div>
                            <div class="form-group">
                                <label for="phone" class="col-sm-3 control-label">Phone *</label>
                                <div class="col-sm-5">
                                    <input type="text" class="form-control phone-number width-150" id="phone" name="phone" placeholder="" minlength="14" maxlength="14" required>
                                </div>
                            </div>
                            <div class="form-group">
                                <label for="description" class="col-sm-3 control-label">Description</label>
                                <div class="col-sm-9">
                                    <textarea class="form-control width-400" rows="3" id="description" name="description" minlength="2" maxlength="200"></textarea>
                                </div>
                            </div>

                            <div id="account-adresses" class="row margin-top-10"></div>
                            
                            <div class="form-group form-button-container" style="display:none;">
                                <label for="" class="col-sm-3 control-label"></label>
                                <div class="col-sm-5">
                                     <button id="save" type="submit" class="save btn btn-primary">Save</button>
                                     <a id="go-to-previous-page" class="btn btn-default" href="#">Cancel</a>
                                </div>
                            </div>
                        </form>
                
                    </div>
                </div>

            </div> <!-- /.content -->
        </div> <!-- /.block-flat -->
    </div>
</div>