<div class="row">
    <div class="col-md-12">
        <div class="block-flat">
            <dl class="dl-horizontal">
                <dt>Type</dt>
                <dd><%= account.get("accounttype")[0].name %></dd>
                <dt>Website</dt>
                <dd><%= account.get("website") %>&nbsp</dd>
                <dt>Description</dt>
                <dd><%= account.get("description") %>&nbsp</dd>
                <dt>Phone</dt>
                <dd><%= account.get("phone") %>&nbsp</dd>
                <% _.each(account.get("address"), function (a){ %>
                <dt><%= a.address_type[0].name %></dt>
                <dd>
                    <%= a.street %><br />
                    <%= a.city + " " + a.address_states[0].state_code  + " " + a.zipcode %><br />
                    USA
                </dd>
                <% }); %>
                <dd>
                    <div class="clearfix"></div>
                    <br />
                    <a id="go-to-previous-page" href="#" class="btn btn-primary">Back</a> 
                    <a href="<%= account_edit_url %>/<%= account.get("id") %>" class="btn btn-info">Edit</a>
                    <button id="delete-account" type="button" class="btn btn-danger">Delete</button>
                </dd>
            </dl>
        </div>
    </div>
</div>