<div class="row margin-top-0">
    <div class="col-md-12 no-padding">
        <div class="block-flat padding-top-0 padding-bottom-0">
            <form id="addAccountForm" class="form-horizontal" role="form" method="post" enctype="multipart/form-data">
                <% if (typeof account_id !== "undefined") { %>
                <input type="hidden" id="id" name="id" value="<%= account_id %>" />
                <% } %>
                <fieldset>                            
                    <legend>
                        <h3 class="margin-top-0">DETAILS</h3>
                    </legend>
                    <div class="form-group">
                        <label for="accountnumber" class="col-sm-2 control-label">Account Number <i class="color-danger">*</i></label>
                        <div class="col-sm-5">
                            <input type="text" class="form-control capitalize input-sm" id="accountnumber" name="accountnumber" placeholder="" minlength="2" maxlength="50" required>
                        </div>
                    </div>
                    <div class="form-group">
                        <label for="name" class="col-sm-2 control-label">Account Name <i class="color-danger">*</i></label>
                        <div class="col-sm-5">
                            <input type="text" class="form-control capitalize input-sm" id="name" name="name" placeholder="" minlength="2" maxlength="50" required>
                        </div>
                    </div>
                    <div class="form-group">
                        <label for="accounttype" class="col-sm-2 control-label">Account Type <i class="color-danger">*</i></label>
                        <div class="col-sm-5">
                            <select class="form-control accounttype" name="accounttype" id="accounttype" multiple='multiple' required>
                                <% _.each(account_types, function(account_type){ %>
                                <option value="<%= account_type.id %>"><%= account_type.name %></option>
                                <% }); %>
                            </select>
                        </div>
                    </div>
                    <div class="form-group">
                        <label for="website" class="col-sm-2 control-label">Website</label>
                        <div class="col-sm-5">
                            <input type="text" class="form-control input-sm" id="website" name="website" placeholder="" minlength="2" maxlength="100">
                        </div>
                    </div>
                    <div class="form-group">
                        <label for="phone" class="col-sm-2 control-label">Phone <i class="color-danger">*</i></label>
                        <div class="col-sm-5">
                            <input type="text" class="form-control phone-number width-150 input-sm" id="phone" name="phone" placeholder="" minlength="14" maxlength="14" required>
                        </div>
                    </div>
                    <div class="form-group">
                        <label for="description" class="col-sm-2 control-label">Description</label>
                        <div class="col-sm-9">
                            <textarea class="form-control width-400" rows="3" id="description" name="description" minlength="2" maxlength="200"></textarea>
                        </div>
                    </div>

                    <div class="row margin-left-0 margin-right-0 margin-top-20">
                        <div class="col-md-12 no-padding">
                            <div id="account-adresses" class="margin-top-10">
                            </div>
                        </div>
                    </div>

                    <div class="form-group form-button-container margin-top-10">
                        <label for="" class="col-sm-2 control-label"></label>
                        <div class="col-sm-5">
                             <button id="save" type="submit" class="save btn btn-primary btn-sm btn-rad margin-left-0"><i class="fa fa-save"></i> Save</button>
                             <a id="go-to-previous-page" class="btn btn-warning btn-sm btn-rad" href="#"><i class="fa fa-ban width-10"></i> Cancel</a>
                        </div>
                    </div>
                </fieldset>
            </form>
        </div> <!-- /.block-flat -->
    </div>
</div>