<% if (!_.isEmpty(contacts)) { %>
  <% _.each(contacts, function(contact){ %>
    <tr>
      <td><a href="<%= contact_url %>/<%= contact.get("id") %>"><%= contact.get("lastname") %>, <%= contact.get("firstname") %></a></td>
      <td><%= contact.get('position') %></a></td>          
      <td><%= contact.get('email') %></a></td>          
      <td><%= contact.get('phone') %></a></td>          
    </tr>
  <% }); %>
<% } else { %>
	<tr>
		<td colspan="4"><span class="text-danger">No results found.</span></td>
	</tr>
<% } %>