<div id="<%= type_name %>" class="tab-pane fade" role="tabpanel">   
    <table id="sl-list" class="table-condensed table-bordered table-hover">
        <thead>
            <tr>
                <th>Account Name</th>
                <th>Location Name</th>
                <th>Description</th>
            </tr>
        </thead>
        <tbody id="stacklocation-accordion" class="accordion-list-cont">
            <tr>
                <td colspan="4">Loading contents...</td>
            </tr>
        </tbody>
    </table>
</div>