<% if (!_.isEmpty(sls)) { print(sls) %>
	<% _.each(sls, function(sl){ %>
	<tr class="collapse-trigger cursor-pointer" data-id="<%= sl.get("id") %>">		
        <td>			
			<%
				if(!_.isEmpty(sl.get("address")))
				{ %>
				<%= sl.get('address').street %>, <%= sl.get('address').city %>, <%= sl.get('address').state.state_code %> <%= sl.get('address').zipcode %> USA
				<% }
			%>
		</td>		
		<td><%= sl.get("name") %></td>
		<td><%= sl.get("description") %></td>
	</tr>
	<tr>
		<td colspan="9" style="padding:0;">
			<div class="location-collapsible-item list-view-collapse">
				<div class="container">
					<div class="order-stack-details">						
						<div class="location-section-list">
							<div class="row margin-top-0 padding-top-10">
								<div class="col-md-12">Sections:</div>
							</div>
							<div class="row margin-top-0">
								<div class="col-md-12">
									<div class="content-inner table-responsive">
										<table class="table-condensed table-bordered table-hover">
											<thead>
												<tr>
													<th>Section Name</th>
													<th>Description</th>
												</tr>
											</thead>
											<tbody>
												<% if (!_.isEmpty(sl.get("section"))) { %>
													<% _.each(sl.get("section"), function(s){ %>
													<tr>
														<td><%= s.name %></td>														
														<td><%= s.description %></td>
													</tr>
													<% }); %>
												<% } else { %>
													<tr>
														<td colspan="2">No results found.</td>
													</tr>
												<% } %>
											</tbody>
										</table>
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</td>
	</tr>
	<% }); %>
<% } else { %>
	<tr>
		<td colspan="3"><span class="text-danger">No results found.</span></td>
	</tr>
<% } %>