<div class="content-inner table-responsive">   
    <table id="sl-list" class="table-condensed table-bordered table-hover">
        <thead>
            <tr>           
                <th class="width-300">Address</th>
                <th>Location Name</th>
                <th>Description</th>
            </tr>
        </thead>
        <tbody id="stacklocation-accordion" class="accordion-list-cont">
            <tr>
                <td colspan="3">Loading contents...</td>
            </tr>
        </tbody>
    </table>
    <div class="clearfix">
        <select class="form-control width-100 pull-left margin-top-10 margin-bottom-0 margin-left-0 margin-right-0 input-sm display-items" id="perpage" name="perpage" style="display:none;">
            <option value="15">15 rows</option>
            <option value="25">25 rows</option>
            <option value="50">50 rows</option>
        </select>
        <ul class="pagination pagination-sm pull-right margin-top-10 margin-bottom-0 margin-left-0 margin-right-0" style="display:none;">
            <li><a class="first-page btn" href="#"><span class="glyphicon glyphicon-fast-backward"></span></a></li>
            <li><a class="prev-page btn" href="#"><span class="glyphicon glyphicon-step-backward"></span></a></li>
            <li><a class="next-page btn" href="#"><span class="glyphicon glyphicon-step-forward"></span></a></li>
            <li><a class="last-page btn" href="#"><span class="glyphicon glyphicon-fast-forward"></span></a></li>
        </ul>
    </div>
</div>