<% if (!_.isEmpty(truckers)) { %>
	<% _.each(truckers, function(trucker){ %>
	<tr>
        <td><a href="<%= trucker_url %>/<%= trucker.get('id') %>"><%= trucker.get("trucknumber") %></a></td>
		<td>
			<% _.each(trucker.get("account").accounttype, function(type) {
	        	if(type.id == truckertypes.HAULER || type.id == truckertypes.OPERATOR || type.id == truckertypes.SWFTRUCKER){
	        	%>
	            	<span class="label label-default margin-right-3"><%= type.name %></span>
	        	<% }

	    	}) %>
		</td>
		<td>$ <%= numberFormat(trucker.get("fee")) %></td>		
	</tr>
	<% }); %>
<% } else { %>
	<tr>
		<td colspan="3"><span class="text-danger">No results found.</span></td>
	</tr>
<% } %>