<div class="row margin-top-0">
	<div class="col-md-12 no-padding">
		<div class="row margin-top-0 location-holder">
			<div class="placeholder col-sm-2 no-padding"></div>
		</div>
	</div>
</div>
<div id="weather-cont" class="row margin-top-0 padding-top-0">		
	<div class='col-md-12 no-padding'>
		<div class="padding-top-0 margin-bottom-10">						
			<div id="weather-forecast" class="row margin-top-0">
			</div>
		</div>
	</div>	
</div>
<div id="graph-container" class="row margin-top-0">
	<div class="col-md-12 no-padding">
		<div id="graph-cont" class="row margin-top-0">
		</div>
	</div>
</div>