<div class="row margin-top-0">
  <div class="col-md-12 no-padding">

    <% if (!_.isEmpty(audit)) { %>
    <div class="block-transparent padding-10 audit">
      <ul class="timeline">
        <% _.each(audit, function(trail){ %>
        <li>
          <i class="fa fa-comment"></i>
          <span class='date'><%= timelineDate(trail.get('created_at')) %></span>
          <div class="content">
            <a href='<%= audittrail_url %>/<%= strtolower(trail.get("type")) %>/<%= trail.get("data_id") %>' class='pull-right color-primary'>
              <i class='fa fa-history'></i>
            </a>
            <p>
              <strong><%= trail.get("user") %></strong> has <%= strtolower(trail.get("event")) %> 
              <strong><a href="<%= audittrail_url %>/<%= strtolower(trail.get("type")) %>"><%= strtolower(trail.get("type")) %></a></strong>.
            </p>
            <small><%= timelineStamp(trail.get('created_at')) %></small>

            <ul class='timeline-value'>
            <% _.each(trail.get("value"), function(value, key){ %>
              <li>
                <% if(typeof value != "object") { %>
                <%= key %>: <%= value %>
                <% } 
                else { %>
                  <%= key %>                  
                    <%
                    _.each(value, function(val, k){ %>
                    <ul class="margin-top-10">
                    <% 
                      _.each(val, function(v, field){
                        if(typeof v != "object"){ %>
                          <li><%= field %>: <%= v %></li>
                      <% }
                      else { 
                      %>
                      <li>
                        <%= field %>
                      <ul>
                      <%
                        _.each(v, function(fieldvalue, keyfield){
                      %>
                          <li><%= keyfield %>: <%= fieldvalue %></li>
                      <% }); %>
                      </ul> 
                      </li>
                      <% }
                      }); %>
                    </ul>                            
                    <% }); %>                          
                <% } %>
              </li>
            <% }); %>
            <ul>

          </div>
        </li>
        <% }); %>
      </ul>
    </div>
    <div class="clearfix text-center">
      <ul class="pagination pagination-sm margin-top-10 margin-bottom-0 margin-left-0 margin-right-0" style="display:none;">
        <li><a class="first-page btn" href="#"><span class="glyphicon glyphicon-fast-backward"></span></a></li>
        <li><a class="prev-page btn" href="#"><span class="glyphicon glyphicon-step-backward"></span></a></li>
        <li><a class="next-page btn" href="#"><span class="glyphicon glyphicon-step-forward"></span></a></li>
        <li><a class="last-page btn" href="#"><span class="glyphicon glyphicon-fast-forward"></span></a></li>
      </ul>
    </div>
    <% } else { %>
      <div class="alert alert-info alert-white rounded">
        <div class="icon"><i class="fa fa-info-circle"></i></div>
        <strong>Info!</strong> No results found.
       </div>
    <% } %>
  </div>
</div>