<% if (!_.isEmpty(audittrail)) { %>
  <% _.each(audittrail, function(trail){ %>
    <tr>
      <td><a href="<%= audittrail_url %>/<%= trail.get("type") %>"><%= trail.get("type") %></a></td>
      <td><%= trail.get("created_at") %></td>
      <td><%= trail.get("user") %></td>
      <td><%= trail.get("event") %></td>
      <td>
        <ul>
        <% _.each(trail.get("value"), function(value, key){ %>
          <li><%= key %>: <%= value %></li>
        <% }); %>
        <ul>
      </td>
      <td><a href="<%= audittrail_url %>/<%= trail.get("type") %>/<%= trail.get("data_id") %>" class="btn btn-info btn-xs"><span class="glyphicon glyphicon-pencil"></span></a></td>
    </tr>
  <% }); %>
<% } else { %>
	<tr>
		<td colspan="6">No results found.</td>
	</tr>
<% } %>