<div class="row margin-top-0">
    <div class="col-md-12">
        <div class="block-flat">
            <div class="content padding-top-0">
              <div id="content-top" class="row margin-top-0">
                <div class="table-responsive">
                    <table id="audit-trail-list" class="table table-bordered table-hover">
                      <thead>
                        <tr>
                          <th>Type</th>
                          <th class="sortable sort-date"><i class="fa fa-sort"></i> Date</th>
                          <th>User</th>
                          <th>Event</th>
                          <th>Value</th>
                          <th>Action</th>
                        </tr>
                      </thead>
                      <tbody></tbody>
                    </table>
                </div>
              </div>

              <div class="clearfix">
                  <ul class="pagination pagination-sm pull-right margin-none" style="display:none;">
                      <li><a class="first-page btn" href="#"><span class="glyphicon glyphicon-fast-backward"></span></a></li>
                      <li><a class="prev-page btn" href="#"><span class="glyphicon glyphicon-step-backward"></span></a></li>
                      <li><a class="next-page btn" href="#"><span class="glyphicon glyphicon-step-forward"></span></a></li>
                      <li><a class="last-page btn" href="#"><span class="glyphicon glyphicon-fast-forward"></span></a></li>
                  </ul>
              </div>
              
            </div> <!-- /.content -->
        </div> <!-- /.block-flat -->
    </div>
</div>