<tr class="product-item">
	<td>
		<input type="hidden" class="id" name="id" value="" />
        <select class="form-control product_id width-250 input-sm" name="product_id" required><%= product_list %></select>
	</td>
    <td><input class="form-control input-sm text-right tons" type="text" name="tons" maxlength="12" required></td>
	<td><input class="form-control input-sm text-right bales" type="text" name="bales" maxlength="7"></td>
	<td align="center">
		<button title="Remove Product" type="button" class="btn btn-danger btn-rad btn-xs remove-product"><span class="glyphicon glyphicon-remove"></span></button>
	</td>
</tr>