<% if (!_.isEmpty(schedules)) { %>
	<% _.each(schedules, function(schedule){ %>
	<tr>
		<td><a href="<%= so_schedule_url %>/<%= schedule.get("id") %>"><%= schedule.get("scheduledate") %> <%= schedule.get("scheduletimeHour") %>:<%= schedule.get("scheduletimeMin") %> <%= schedule.get("scheduletimeAmPm") %></a></td>
		<td><%= schedule.get("trucker").accountidandname.accounttype[0].name %></td>
		<td><%= schedule.get("trucker").lastname %>, <%= schedule.get("trucker").firstname %> <%= schedule.get("trucker").suffix %></td>
		<td><%= schedule.get("originloader").lastname %>, <%= schedule.get("originloader").firstname %> <%= schedule.get("originloader").suffix %></td>
		<td><%= schedule.get("destinationloader").lastname %>, <%= schedule.get("destinationloader").firstname %> <%= schedule.get("destinationloader").suffix %></td>
		<td><%= schedule.get("distance") %> miles</td>
		<td>
			<a href="<%= so_weight_info_url %>/<%= schedule.get("id") %>" class="text-primary" title="weight info">
			 	<span class="fa-stack">
					<i class="fa fa-square fa-stack-2x"></i>
					<i class="fa fa-clock-o fa-stack-1x fa-inverse"></i>
				</span>
			</a>
			<% if (schedule.get("status").name.toLowerCase() == "open" && typeof editable !== "undefined") { %>
			<a href="<%= so_schedule_edit_url %>/<%= schedule.get("id") %>" class="text-primary" title="edit">
				<span class="fa-stack">
					<i class="fa fa-square fa-stack-2x"></i>
					<i class="fa fa-pencil fa-stack-1x fa-inverse"></i>
				</span>
			</a>
			<a href="#" data-id="<%= schedule.get("id") %>" class="text-danger delete-schedule" title="delete">
				<span class="fa-stack">
					<i class="fa fa-square fa-stack-2x"></i>
					<i class="fa fa-times fa-stack-1x fa-inverse"></i>
				</span>
			</a>
			<% } %>
		</td>
	</tr>
	<% }); %>
<% } else { %>
	<tr>
		<td colspan="7">No result found.</td>
	</tr>
<% } %>