<tr class="product-item">
	<td>
		<input type="hidden" class="id" name="id" value="" />
        <select class="form-control productorder_id width-200 input-sm" name="productorder_id" required><%= product_list %></select>
	</td>
    <td><span class="product"></span></td>
	<td>
		<select class="form-control sectionto_id width-200 input-sm" name="sectionto_id"><%= locationto_list %></select>
	</td>
	<td>
		<div class="input-group input-group-sm margin-0">
			<input type="text" class="form-control text-right quantity" name="quantity" placeholder="0.0000" required>
			<span class="input-group-addon">Tons</span>
		</div>	
		<div class="error-msg-cont"></div>
	</td>
	<td align="center">
		<button type="button" title="Remove Product" class="remove-product margin-left-0 btn-rad btn btn-danger btn-xs">
			<span class="glyphicon glyphicon-remove"></span>
		</button>
	</td>
</tr>
