<% if (!_.isEmpty(schedules)) { %>
	<% _.each(schedules, function(schedule){ %>
	<tr>
		<td><a href="<%= so_schedule_url %>/<%= schedule.get("id") %>"><%= formatDateAMPM(schedule.get("date")) %></a></td>
		<td><label class="label label-<%= schedule.get('status').class %>"><%= schedule.get('status').name %></label></td>
		<td class="text-right">
			<% 
				var totalTons = 0;
				_.each(schedule.get("transportscheduleproduct"), function(product){ 
					totalTons += parseFloat(product.quantity);
				});

				print(numberFormatTons(totalTons));
			%>
		</td>
		<td>
			<a href="<%= contact_url %><%= schedule.get("trucker").id %>">
				<%= schedule.get("trucker").lastname %>, <%= schedule.get("trucker").firstname %> <%= schedule.get("trucker").suffix %>
			</a>
		</td>
		<td>
			<a href="<%= contact_url %><%= schedule.get("originloader").id %>">
				<%= schedule.get("originloader").lastname %>, <%= schedule.get("originloader").firstname %> <%= schedule.get("originloader").suffix %>
			</a>
		</td>
		<td>
			<a href="<%= contact_url %><%= schedule.get("destinationloader").id %>">
				<%= schedule.get("destinationloader").lastname %>, <%= schedule.get("destinationloader").firstname %> <%= schedule.get("destinationloader").suffix %>
			</a>
		</td>
		<td>
			<a href="<%= so_weight_info_url %>/<%= schedule.get("id") %>" title="weight info">
			 	<span class="fa-stack">
					<i class="fa fa-square fa-stack-2x"></i>
					<i class="fa fa-clock-o fa-stack-1x fa-inverse"></i>
				</span>
			</a>
			<% if (schedule.get("status").name.toLowerCase() == "open" && typeof editable !== "undefined") { %>
			<a href="<%= so_schedule_edit_url %>/<%= schedule.get("id") %>" title="edit">
				<span class="fa-stack">
					<i class="fa fa-square fa-stack-2x"></i>
					<i class="fa fa-pencil fa-stack-1x fa-inverse"></i>
				</span>
			</a>
			<a href="#" data-id="<%= schedule.get("id") %>" class="color-danger delete-schedule" title="delete">
				<span class="fa-stack">
					<i class="fa fa-square fa-stack-2x"></i>
					<i class="fa fa-times fa-stack-1x fa-inverse"></i>
				</span>
			</a>
			<% } %>
		</td>
	</tr>
	<% }); %>
<% } else { %>
	<tr>
		<td colspan="7">No result found.</td>
	</tr>
<% } %>