<div class="content padding-top-0">
	<h2 class="ponumber margin-bottom-0"><%= so.get("order_number") %></h2>
	Scheduled Date: <span class="text-danger"><%= formatDateAMPM(pu.get("date")) %></span><br>
	Status: <label class="label label-<%= pu.get("status").class %>"><%= pu.get("status").name %></label>
	<div class="row margin-top-0">
    	<div class="col-md-4">
			<h3>Loader (<span class="text-danger">Origin</span>)</h3>
			Loader: <span class="text-danger"><%= pu.get("originloader").accountidandname.name %></span><br>
	        Loader Contact: <span class="text-danger"><%= pu.get("originloader").lastname %>, <%= pu.get("originloader").firstname %> <%= pu.get("originloader").suffix %></span><br>

			<h3>Loader (<span class="text-danger">Destination</span>)</h3>
			Loader: <span class="text-danger"><%= pu.get("destinationloader").accountidandname.name %></span><br>
	        Loader Contact: <span class="text-danger"><%= pu.get("destinationloader").lastname %>, <%= pu.get("destinationloader").firstname %> <%= pu.get("destinationloader").suffix %></span>

		</div>
		<div class="col-md-4">
			<h3>Trucker</h3>
			Trucker: <span class="text-danger"><%= pu.get("trucker").accountidandname.name %></span><br>
	        Trucker Contact: <span class="text-danger"><%= pu.get("trucker").lastname %>, <%= pu.get("trucker").firstname %> <%= pu.get("trucker").suffix %></span><br>

	        <h3>Trailer</h3>
			Trailer: <span class="text-danger"><%= pu.get("trailer").account.name %></span><br>
			Trailer Number: <span class="text-danger"><%= pu.get("trailer").number %></span>
		</div>
		<div class="col-md-4">
			<div class="table-responsive margin-top-10">
				<table class="table-condensed no-border">
					<tbody class="no-border-x no-border-y">
						<tr>
							<td class="width-170">Distance :</td>
							<td class="text-right text-danger"><%= numberFormat(pu.get("distance")) %></td>
						</tr>
						<tr>
							<td>Fuel Charges :</td>
							<td class="text-right text-danger">$ <%= numberFormat(pu.get("fuelcharge")) %></td>
						</tr>
						<tr>
							<td>Loaders Fee (<span class="text-danger">Origin</span>) :</td>
							<td class="text-right text-danger">$ <%= numberFormat(pu.get("originloaderfee")) %></td>
						</tr>
						<tr>
							<td>Loaders Fee (<span class="text-danger">Destination</span>) :</td>
							<td class="text-right text-danger">$ <%= numberFormat(pu.get("destinationloaderfee")) %></td>
						</tr>
						<tr>
							<td>Trucking / Hauling Rate :</td>
							<td class="text-right text-danger">$ <%= numberFormat(pu.get("truckingrate")) %></td>
						</tr>
						<tr>
							<td>Trailer Rent :</td>
							<td class="text-right text-danger">$ <%= numberFormat(pu.get("trailerrate")) %></td>
						</tr>
					</tbody>
				</table>
			</div>
		</div>
	</div>
	<div class="row">
    	<div class="col-md-12">
			<h3 class="margin-top-0">Products</h3>
			<div class="table-responsive">
				<table id="product-list" class="table-condensed table-hover table-bordered">
					<thead>
						<tr>							
							<th class="width-200">Product</th>
							<th>Stack No.</th>
							<th class="width-150">Quantity</th>
						</tr>
					</thead>
					<tbody></tbody>
					<tfoot>
						<tr>
							<td class="text-right" colspan="2">Total</td>
							<td class="text-right" id="total-quantity">0.0000</td>
						</tr>
					</tfoot>
				</table>
			</div>
		</div>
	</div>
	<div class="row">
	    <div class="col-md-12">
			<div class="pull-right">
				<% if (typeof editable !== "undefined") { %>
					<a id="edit-schedule" class="btn btn-primary btn-trans btn-rad btn-sm editable-button" href="<%= schedule_edit_url %>">
						<i class="fa fa-pencil width-10"></i> Edit Schedule
					</a>
					<a id="close-schedule" class="btn btn-warning btn-trans btn-rad btn-sm editable-button" href="#">
						<i class="fa fa-times width-10"></i> Close Schedule
					</a>
					<a id="delete-schedule" class="btn btn-warning btn-trans btn-rad btn-sm editable-button">
						<i class="fa fa-trash-o width-10"></i> Delete Schedule
					</a>
				<% } %>
				<a id="go-to-weight-info" class="btn btn-primary btn-trans btn-rad btn-sm" href="<%= weight_info_url %>">
					<i class="fa fa-ticket width-10"></i> Weight Ticket
				</a>
				<a class="btn btn-trans btn-rad btn-sm" id="go-to-previous-page" href="#">
					<i class="fa fa-history width-10"></i> Back
				</a>
			</div>
		</div>
	</div>
</div>