<div class="content padding-top-0">
    <div class="row margin-top-0">
        <div class="col-md-12">
            <% if (typeof editable !== "undefined") { %>
				<a href="<%= so_schedule_add_url %>" class="btn btn-primary btn-rad btn-sm margin-left-0">+ Add Schedule</a>
			<% } %>
        </div>
    </div>

    <div class="content-inner table-responsive">
        <table id="so-schedule-list" class="table-condensed table-bordered table-hover">
            <thead>
                <tr>
                    <th class="width-150">Schedule</th>
                    <th class="width-90">Status</th>
                    <th class="width-130">Expected</th>
                    <th class="width-150">Trucker Contact</th>
                    <th class="width-150">Loader [Origin]</th>
                    <th class="width-150">Loader [Destination]</th>
                    <th class="width-110">Action</th>
                </tr>
            </thead>
            <tbody></tbody>
        </table>

       <div class="clearfix footer-pagination" style="display:none">
            <select class="form-control width-100 pull-left margin-top-0 margin-bottom-0 margin-left-0 margin-right-0 input-sm display-items" id="perpage" name="perpage" style="display:none">
                <option value="15">15 rows</option>
                <option value="25">25 rows</option>
                <option value="50">50 rows</option>
            </select>
            <ul class="pagination pagination-sm pull-right margin-top-0 margin-bottom-0 margin-left-0 margin-right-0" style="display:none;">
                <li><a class="first-page btn" href="#"><span class="glyphicon glyphicon-fast-backward"></span></a></li>
                <li><a class="prev-page btn" href="#"><span class="glyphicon glyphicon-step-backward"></span></a></li>
                <li><a class="next-page btn" href="#"><span class="glyphicon glyphicon-step-forward"></span></a></li>
                <li><a class="last-page btn" href="#"><span class="glyphicon glyphicon-fast-forward"></span></a></li>
            </ul>
        </div>
    </div>
</div>