<% if (!_.isEmpty(stacks)) { %>
	<% _.each(stacks, function(stack){ %>
		<div class="row">
			<div class="col-md-2">Stack No.: <%= stack.get("stackNumber") %></div>
			<div class="col-md-2">Product: <%= stack.get("productName") %></div>
		</div>
		<div class="row">
			<div class="col-md-9">
				<div class="content-inner table-responsive">
					<table class="table-condensed table-bordered table-hover">
						<thead>
							<tr>
								<th>Schedule</th>
								<th>Weight Ticket No.</th>
								<th>Expected</th>
								<th>Delivered</th>
							</tr>
						</thead>
						<tbody>
							<% if (!_.isEmpty(stack.get("schedule"))) { %>
								<% _.each(stack.get("schedule"), function(schedule){ %>
								<tr>
									<td>
										<%= schedule.transportscheduledate %>&nbsp;&nbsp;
										<a href="<%= schedule_url %>/<%= schedule.transportschedule_id %>" class="text-primary" title="edit">
											<span class="fa-stack">
												<i class="fa fa-square fa-stack-2x"></i>
												<i class="fa fa-pencil fa-stack-1x fa-inverse"></i>
											</span>
										</a>
									</td>
									<td>
										<% if (schedule.weightTicketNumber) { %>
											<%= schedule.weightTicketNumber %>&nbsp;&nbsp;
											<a href="<%= weight_info_url %>/<%= schedule.transportschedule_id %>" class="text-primary" title="edit">
												<span class="fa-stack">
													<i class="fa fa-square fa-stack-2x"></i>
													<i class="fa fa-pencil fa-stack-1x fa-inverse"></i>
												</span>
											</a>
										<% } %>
									</td>
									<td><%= schedule.expected %></td>
									<td><%= schedule.delivered %></td>
								</tr>
								<% }); %>
							<% } else { %>
								<tr>
									<td colspan="4">No results found.</td>
								</tr>
							<% } %>
						</tbody>
					</table>
				</div>
			</div>
			<div class="col-md-3">
				<div class="content-inner table-responsive">
					<table class="table-condensed table-bordered table-hover">
						<tbody>
							<tr>
								<td>Expected</td>
								<td><%= stack.get("totalExpected") %></td>
							</tr>
							<tr>
								<td>Total Deliveries</td>
								<td><%= stack.get("totalDeliveries") %></td>
							</tr>
							<tr>
								<td>Remaining</td>
								<td><%= (parseFloat(stack.get("totalExpected")) - parseFloat(stack.get("totalDeliveries"))).toFixed(4) %></td>
							</tr>
						</tbody>
					</table>
				</div>
			</div>
		</div>
	<% }); %>
<% } %>