<tr class="product-item">
	<td><strong><%= productname %></strong></td>
	<td class="text-right"><%= tons %></td>
	<td class="text-right">$ <%= unitprice %></td>
	<td class="text-right">$ <%= totalprice %></td>
</tr>
<tr class="product-stack">
	<td colspan="4">
		<div class='container'>
			<div class='inner-con'>
				<div class="table-responsive">
					<table class="table-condensed table-bordered table-hover product-stack-table">
						<thead>
							<th class='width-100'>Stack No.</th>
							<th class='width-150'>Location From</th>
							<th class='width-150'>Description</th>
							<th class='width-170'>Tons</th>
							<th class='width-170'>Bales</th>
						</thead>
						<tbody></tbody>
					</table>
				</div>
			</div>
		</div>
	</td>
</tr>