<% if (!_.isEmpty(sos)) { %>
	<% _.each(sos, function(so){ %>
	<tr>
		<td></td>
		<td></td>
		<td></td>
		<td></td>
		<td></td>
		<td></td>
		<td></td>
		<td></td>
		<td></td>
		<td>
			<% if (po.get("po_status").toLowerCase() == "open") { %>
				<a href="<%= po_edit_url %>/<%= po.get("id") %>">edit</a> 
				<a class="cancel-po" href="#" data-id="<%= po.get("id") %>">cancel po</a> 
				<a href="<%= po_sched_url %>/<%= po.get("id") %>">pick up schedule</a>
			<% } %>
		</td>
	</tr>
	<% }); %>
<% } else { %>
	<tr>
		<td colspan="10">No result found.</td>
	</tr>
<% } %>