<tr class="product-item">
	<td>
		<input class="form-control productname" type="text" maxlength="50" value="<%=  %>" readonly>
	</td>
	<td><textarea class="form-control description" maxlength="200" readonly><%=  %></textarea></td>
	<td><input class="form-control text-align-right stacknumber" type="text" maxlength="20" value="<%=  %>" readonly></td>
	<td>
		<div class="input-group"><span class="input-group-addon">$</span><input class="form-control text-align-right price unitprice" type="text"  value="<%=  %>" readonly></div>
	</td>
	<td><input class="form-control text-align-right tons" type="text" value="<%=  %>" readonly></td>
	<td><input class="form-control text-align-right bales" type="text" value="<%=  %>" readonly></td>
	<td><div class="input-group"><span class="input-group-addon">$</span><input class="form-control text-align-right unit-price" type="text"  value="<%=  %>" readonly></div></td>
</tr>