<div class="content padding-top-0">
  <h2 class="ponumber margin-bottom-0"><%= so.get("order_number") %></h2>
  <div class="progress width-150 margin-bottom-0 height-3">
  <div style="width: <%= so.get("weightPercentageDelivered") %>%" class="progress-bar progress-bar-<%= so.get("status").class %>"></div>
  </div>
  <div class="row margin-top-0">
    <div class="col-md-6">
        Sales Date: <span class="text-danger"><%= formatDateAMPM(so.get("created_at")) %></span><br>
        Delivery Start: <span class="text-danger"><%= formatDate(so.get("transportdatestart")) %></span>
        Delivery End: <span class="text-danger"><%= formatDate(so.get("transportdateend")) %></span><br>
        Nature of Sale: <span class="text-danger"><%= so.get("natureofsale").name %></span><br>
        
        <% if (so.get("contract") && typeof so.get("contract").contract_number != "undefined") { %>
            Contract: <span class="text-danger"><%= so.get("contract").contract_number %></span><br>
        <% } %>

        Status: <label class="label label-<%= so.get("status").class %>"><%= so.get("status").name %></label>
        <% if(so.get("status").id == 3) { if(so.get("ordercancellingreason").reason.id != reason_others ) { %>
            <br>Reason: <span class="text-danger"><%= so.get("ordercancellingreason").reason.reason %></span>
        <% } else { %>
            <br>Reason: <span class="text-danger"><%= so.get("ordercancellingreason").others %></span>
        <% }} %>

        <% if (so.get("notes").length > 0) { %>
            <br>Notes: <%= so.get("notes") %>
        <% } %>
    </div>
    <div class="col-md-6">
      Producer:
      <address>
        <p class="margin-top-5 margin-bottom-0"><strong><%= so.get("account").name %></strong></p>
        <%= so.get("orderaddress").street %>
        <br>
        <%= so.get("orderaddress").city %>,
        <%= so.get("orderaddress").address_states.state_code %>
        <%= so.get("orderaddress").zipcode %>
      </address>
    </div>
  </div>
  
  <div class="row margin-top-10">
    <div class="col-md-12">
      <h3 class="margin-top-0">Products</h3>
      <div class="content-inner table-responsive">
        <table id="product-list" class="table-condensed table-bordered table-hover">
          <thead>
            <tr>
              <th class="width-150">Product</th>
              <th>Description</th>
              <th class="width-150">Stack No.</th>
               <th class="width-110">Unit Price</th>
              <th class="width-110">Est Tons</span></th>
              <th class="width-110">Bales</th>
              <th class="width-110">Total Price</th>
            </tr>
          </thead>
    		  <tfoot>
    		    <tr>
      			  <td class="text-right" colspan="4">Total</td>
      			  <td class="text-right" id="total-tons">0.0000</td>
      			  <td class="text-right" id="total-bales">0</td>
      			  <td class="text-right" id="total-price">$ 0.00</td>
      			</tr>
    		  </tfoot>
          <tbody></tbody>
        </table>
      </div>
    </div>
  </div>

  <div class="row">
    <div class="col-md-12">
      <div class="pull-right">
        <% if (typeof editable !== "undefined") { %>
            <a id="edit-so" class="btn btn-primary btn-trans btn-rad btn-sm editable-button" href="<%= so_edit_url %>">
              <i class="fa fa-pencil width-10"></i> Edit SO
            </a>
            <a id="close-order" class="btn btn-warning btn-trans btn-rad btn-sm editable-button" href="#">
              <i class="fa fa-times width-10"></i> Close SO
            </a>
            <a href="#" class="btn btn-warning btn-trans btn-rad btn-sm cancel-so editable-button">
              <i class="fa fa-ban width-10"></i> Cancel SO
            </a>
        <% } %>        
        <a class="btn btn-trans btn-rad btn-sm" href="<%= so_url %>"><i class="fa fa-history width-10"></i> Back</a>
      </div>
    </div>
  </div>
</div>