<div class="row">
    <div class="col-md-12">
        <div class="block-flat">

          <form id="soForm" class="form-horizontal" role="form" method="post" enctype="multipart/form-data">
            <fieldset>
              <legend>Details</legend>
              <div class="row">
                <div class="col-md-6">
                  <div class="form-group">
                    <label for="sonumber" class="col-sm-3 control-label">SO Number</label>
                    <div class="col-sm-9">
                      <input id="sonumber" type="text" class="form-control sonumber" placeholder="" maxlength="250" readonly>
                    </div>
                  </div>
                  <div class="form-group">
                    <label for="status" class="col-sm-3 control-label">Status</label>
                    <div class="col-sm-9">
                      <input id="status" type="text" class="form-control status" placeholder="" maxlength="250" readonly>
                    </div>
                  </div>
                  <div class="form-group">
                    <label for="origin" class="col-sm-3 control-label">Origin</label>
                    <div class="col-sm-9">
                      <input id="origin" type="text" class="form-control origin" placeholder="" maxlength="250" readonly>
                    </div>
                  </div>
				  <div class="form-group">
                    <label for="nos" class="col-sm-3 control-label">Nature of Sale</label>
                    <div class="col-sm-9">
                      <input id="nos" type="text" class="form-control nos" placeholder="" maxlength="250" readonly>
                    </div>
                  </div>
                  <div class="form-group">
                    <label for="account" class="col-sm-3 control-label">Producer *</label>
                    <div class="col-sm-9">
                      <input type="text" class="form-control capitalize" id="account" maxlength="50" readonly>
                    </div>
                  </div>
                  <div class="form-group">
                    <label for="street" class="col-sm-3 control-label">Street</label>
                    <div class="col-sm-9">
                      <input id="street" type="text" class="form-control street" placeholder="" maxlength="250" readonly>
                    </div>
                  </div>
                  <div class="form-group">
                    <label for="state" class="col-sm-3 control-label">State</label>
                    <div class="col-sm-9">
                      <input id="state" type="text" class="form-control state" placeholder="" maxlength="250" readonly>
                    </div>
                  </div>
                  <div class="form-group">
                    <label for="city" class="col-sm-3 control-label">City</label>
                    <div class="col-sm-9">
                      <input id="city" type="text" class="form-control city" placeholder="" maxlength="250" readonly>
                    </div>
                  </div>
                  <div class="form-group">
                    <label for="zipcode" class="col-sm-3 control-label">Zip Code</label>
                    <div class="col-sm-9">
                      <input id="zipcode" type="number" class="form-control zipcode" placeholder="" maxlength="250" readonly>
                    </div>
                  </div>
                </div>
                <div class="col-md-6">
                  <div class="form-group">
                    <label for="dateofsales" class="col-sm-3 control-label">Date of Sales</label>
                    <div class="col-sm-9">
                      <input id="dateofsales" type="text" class="form-control dateofsales" placeholder="" maxlength="250" readonly>
                    </div>
                  </div>
                  <div class="form-group"><label for="" class="col-sm-3 control-label">Delivery Period:</label></div>
                  <div class="form-group">
                    <label for="transportdatestart" class="col-sm-3 control-label">Start</label>
                    <div class="col-sm-4">
                      <input id="transportdatestart" type="text" class="form-control transportdatestart" placeholder="" maxlength="250" readonly>
                    </div>
                    <label for="transportdateend" class="col-sm-1 control-label">End</label>
                    <div class="col-sm-4">
                      <input id="transportdateend" type="text" class="form-control transportdateend" placeholder="" maxlength="250" readonly>
                    </div>
                  </div>
                  <div class="form-group">
                    <label for="notes" class="col-sm-3 control-label">Notes</label>
                    <div class="col-sm-9">
                      <textarea class="form-control notes" id="notes" readonly></textarea>
                    </div>
                  </div>
                </div>
              </div>
            </fieldset>
            <fieldset>
              <legend>
                Products
              </legend>
              <div class="table-responsive">
                <table id="product-list" class="table table-bordered">
                  <thead>
                    <tr>
                      <th>Product</th>
                      <th>Description</th>
                      <th>Stack No.</th>
                      <th class="width-130">Unit Price</th>
                      <th>Est Tons</th>
                      <th>Bales</th>
                      <th class="width-130">Total Price</th>
                    </tr>
                  </thead>
                  <tbody></tbody>
                </table>
              </div>
            </fieldset>
            <div class="form-group form-button-container">
              <div class="pull-right">
			  <% if (typeof editable !== "undefined") { %>
				<a id="edit-so" class="btn btn-primary" href="<%= so_edit_url %>">Edit Sales Order</a>
			  <% } %>
              <a class="btn btn-link" href="<%= so_url %>">Back</a>
              </div>
            </div>
          </form>
          
        </div>
    </div>
</div>