<div class="row margin-top-0">
    <div class="col-md-12">
        <div class="block-flat">
            <div class="content padding-top-0">
              <div class="row margin-top-0">
                <div class="col-md-3 padding-top-10 padding-right-0">
                  <a href="<%= so_add_url %>" class="btn btn-primary">+ Add Sales Order</a>
                </div>
                <div class="col-md-2">
                  <div class="form-group">
                    <div id="filter-date-of-sale" class="search-filter-field calendar-cont">
                        <div class="input-group date datetime margin-bottom-0" data-start-view="2" data-date="1979-09-16T05:25:07Z" data-date-format="dd MM yyyy - HH:ii p" data-link-field="dtp_input1">
                          <input class="form-control" size="16" type="text" value="" />
                          <span class="input-group-addon btn btn-primary"><span class="glyphicon glyphicon-th"></span></span>
                        </div>
                        <p class="help-block">Date of Sale</p>
                    </div>  
                  </div>
                </div>
                <div class="col-md-2">
                  <div class="form-group">
                      <div id="filter-delivery-start" class="search-filter-field calendar-cont">
                          <div class="input-group date datetime margin-bottom-0" data-start-view="2" data-date="1979-09-16T05:25:07Z" data-date-format="dd MM yyyy - HH:ii p" data-link-field="dtp_input1">
                            <input class="form-control" size="16" type="text" value="" />
                            <span class="input-group-addon btn btn-primary"><span class="glyphicon glyphicon-th"></span></span>
                          </div>
                          <p class="help-block">Delivery Period: Start</p>
                      </div>
                  </div>
                </div>
                <div class="col-md-2">
                  <div class="form-group">
                      <div id="filter-delivery-end" class="search-filter-field calendar-cont">
                          <div class="input-group date datetime margin-bottom-0" data-start-view="2" data-date="1979-09-16T05:25:07Z" data-date-format="dd MM yyyy - HH:ii p" data-link-field="dtp_input1">
                            <input class="form-control" size="16" type="text" value="" />
                            <span class="input-group-addon btn btn-primary"><span class="glyphicon glyphicon-th"></span></span>
                          </div>
                          <p class="help-block">Delivery Period: End</p>
                      </div>
                  </div>
                </div>
                <div class="col-md-3 padding-top-10">
                  <form id="searchLocal" name="searchLocal" class="form-inline searchLocal" role="form">
                      <div class="input-group">
                        <label class="sr-only" for="search">Search</label>
                        <input type="text" class="search form-control" id="search-keyword" placeholder="">

                        <div class="input-group-btn">
                          <button type="button" class="btn btn-primary dropdown-toggle" data-toggle="dropdown">
                            <span class="caret"></span>
                          </button>
                          <ul class="dropdown-menu pull-right filter" role="menu">
                            <li class="dropdown-header"><i class="fa fa-truck"></i>Filter By Origin</li>
                            <li><input class="location_id" type="radio" name="location_id" value="" checked> All</li>
                            <%= origin_filters %>
							<li class="dropdown-header"><i class="fa fa-truck"></i>Filter By Nature Of Sale</li>
                            <li><input class="natureofsale_id" type="radio" name="natureofsale_id" value="" checked> All</li>
                            <%= nos_filters %>
                            <li class="dropdown-header"><i class="fa fa-tags"></i>Filter By Status</li>
                            <li><input class="statusFilter" type="radio" name="statusFilter" value="" checked> All</li>
                            <%= status_filters %>
                          </ul>
                          <button type="button" class="btn btn-primary search-local">Search</button>
                        </div>
                      </div>
                  </form>
                </div>
              </div>

              <div class="content-inner table-responsive">
                <table id="so-list" class="table table-bordered table-hover">
                  <thead>
                    <tr>
					  <th>SO No.</th>
					  <th class="sortable sort-date-of-so"><i class="fa fa-sort"></i> Date of Sale</span></th>
					  <th>Start</th>
					  <th>End</th>
					  <th>Customer</th>
					  <th>Status</th>
					  <!-- th>Origin</th -->
					  <th>Nature of Sale</th>
					  <th>Total Amount</th>
					  <th class="width-110">Action</th>
                    </tr>
                  </thead>
                  <tbody></tbody>
                </table>
                  
                  <div class="clearfix">
                      <ul class="pagination pagination-sm pull-right margin-none" style="display:none;">
                          <li><a class="first-page btn" href="#"><span class="glyphicon glyphicon-fast-backward"></span></a></li>
                          <li><a class="prev-page btn" href="#"><span class="glyphicon glyphicon-step-backward"></span></a></li>
                          <li><a class="next-page btn" href="#"><span class="glyphicon glyphicon-step-forward"></span></a></li>
                          <li><a class="last-page btn" href="#"><span class="glyphicon glyphicon-fast-forward"></span></a></li>
                      </ul>
                  </div>
              </div>

            </div> <!-- /.content -->
        </div> <!-- /.block-flat -->
    </div>
</div>