<div class="row margin-top-0">
    <div class="col-md-12 no-padding">
        <div class="block-flat padding-top-0 padding-bottom-0">
            <div class="content padding-top-10">
              <% if(_.isNull(schedule.get('weightticket'))) { %>
              <h2 class="ponumber margin-bottom-0"><%= formatDateAMPM(schedule.get('date')) %></h2>
              Status: <label class="label label-<%= schedule.get("status").class %>"><%= schedule.get("status").name %></label><br>
              PO No.: <span class='text-danger'><%= so.get("order_number") %></span>
              <% } else { %>
              <% } %>

              <h3><i class='fa fa-ticket'></i> <%= ucfirst(wiType) %> Ticket</h3>

              <form id="soWeightInfoFrom" class="form-horizontal" role="form" method="post" enctype="multipart/form-data">
              <input id="weightinfo_type" type="hidden" class="weightinfo_type" name="weightinfo_type" value="<%= wiType %>">
				

                <fieldset>
                  <div class="table-responsive">
                    <table id="weight-info" class="table table-bordered">
                      <thead>
                        <tr>
                          <th style="width:15%;">Scale</th>
						  <th style="width:15%;">Scale Name</th>
                          <th style="width:15%;">Scale Fee</th>
                          <th style="width:15%;">Bales</th>
                          <th style="width:15%;">Gross</th>
                          <th style="width:15%;">Tare</th>
                          <th style="width:10%;">Net</th>
                        </tr>
                      </thead>
                      <tbody>
					    <tr>
						  <td>
							<div class="styled-select">
							  <select id="scaleAccount_id" class="form-contro width-200 scaleAccount_id" name="scaleAccount_id" value="">
							    <option value="">Select a scale account</option>
								<%= scaler_account_list %>
							  </select>
							</div>
						  </td>
						  <td>
							<div class="styled-select">
							  <select id="scales" class="form-control width-200 scale_id" name="scale_id" value="">
							    <option value="">Select a scale name</option>
							  </select>
							</div>
						  </td>
						  <td><input id="fee" maxlength="80" name="fee" class="form-control fee" placeholder="0.00" value="" readonly></td>
						  <td><input maxlength="80" name="bales" class="form-control bales mask-bales" placeholder="0" value=""></td>
						  <td><input maxlength="80" name="gross" class="form-control gross" placeholder="0.0000" value=""></td>
						  <td><input maxlength="80" name="tare" class="form-control tare" placeholder="0.0000" value=""></td>
						  <td><span class="net">0.0000</span></td>
						</tr>
					  </tbody>
                    </table>
                  </div>
				  <div class="table-responsive">
                    <table id="product-list" class="table table-bordered">
                      <thead>
                        <tr>
                          <th style="width:20%;">Stack No.</th>
                          <th style="width:20%;">Product</th>
						  <th style="width:20%;">Bales</th>
                          <th style="width:20%;">Lbs.</th>
                          <th style="width:20%;">Net Tons</th>
                        </tr>
                      </thead>
					  <tfoot>
						<tr>
						  <td colspan="2">Total</td>
						  <td><span class="total-bales">0</span></td>
						  <td><span class="total-pounds">0.00</span></td>
						  <td><span class="total-net-tons">0.0000</span></td>
						</tr>
					  </tfoot>
                      <tbody></tbody>
                    </table>
                  </div>
                </fieldset>
                <div class="form-group form-button-container">
                    <div class="col-md-12">
                        <div class="pull-right">
                            <button id="save" type="submit" class="save btn btn-primary">Save</button>
                            <a id="go-to-previous-page" class="btn btn-default" href="#">Cancel</a>
                        </div>
                    </div>
                </div>
              </form>
              
            </div> <!-- /.content -->
        </div> <!-- /.block-flat -->
    </div>
</div>