<div class="row">
    <div class="col-md-12">
        <div class="block-flat">
            <div class="header">
                <h3>Contact <small class="transform-upper">ADD</small></h3>
            </div>
            <div class="content">

                <form id="addRolesForm" class="form-horizontal" role="form" method="post">
                  <% if (typeof role_id !== "undefined") { %>
                    <input type="hidden" id="id" name="id" value="<%= role_id %>" />
                  <% } %>
                  <div class="form-group">
                    <label for="name" class="col-sm-2 control-label">Name *</label>
                    <div class="col-sm-10">
                      <input type="text" class="form-control capitalize" id="name" name="name" placeholder="" minlength="5" maxlength="20" required>
                    </div>
                  </div>
                  <div class="form-group">
                    <label for="description" class="col-sm-2 control-label">Description</label>
                    <div class="col-sm-10">
                      <textarea class="form-control" rows="3" id="description" name="description"></textarea>
                    </div>
                  </div>
                  <div class="form-group">
                    <label for="" class="col-sm-2 control-label"></label>
                    <div class="col-sm-10">
                       <button id="save" type="submit" class="save btn btn-primary">Save</button>
                       <a id="cancel-role-save" class="btn btn-link" href="<%= role_url %>">Cancel</a>
                    </div>
                  </div>
                </form>
              
            </div> <!-- /.content -->
        </div> <!-- /.block-flat -->
    </div>
</div>