<div class="row">
    <div class="col-md-12">
        <div class="block-flat">

          <dl class="dl-horizontal">
            <dt>Description</dt>
            <dd>
              <% if (role.get("description") != "") { %>
                <%= role.get("description") %>
              <% } else { %>
                &nbsp;
              <% } %>
            </dd>
            <dt></dt>
            <dd>
              <div class="clearfix"></div>
              <a href="<%= role_edit_url %>/<%= role.get("id") %>" class="btn btn-primary">Edit</a>
              <button id="delete-role" type="button" class="btn btn-danger" value="Delete">Delete</button>
              <a id="go-to-previous-page" href="#" class="btn btn-default">Cancel</a>
            </dd>
          </dl>
          
        </div> <!-- /.block-flat -->
    </div>
</div>