<% if (!_.isEmpty(roles)) { %>
  <% _.each(roles, function(role){ %>
    <tr>
      <td><%= role.get("name") %></td>
      <td><%= role.get("description") %></td>
      <td>
        <a href="<%= role_edit_url %>/<%= role.get("id") %>" class="btn btn-info btn-xs">
          <span class="glyphicon glyphicon-pencil"></span>
        </a>
        <a href="<%= permission_edit_url %>/<%= role.get("id") %>">
           permission
        </a>
      </td>
    </tr>
  <% }); %>
<% } else { %>
	<tr>
		<td colspan="3">No result found.</td>
	</tr>
<% } %>