<div class="row margin-top-0">
    <div class="col-md-12 no-padding">
        <div class="block-flat">  
          <h2 class="content-header"><span><%= role.get('name') %></span></h2>       
          <dl class="dl-horizontal padding-top-10 margin-bottom-10">
            <dt>Description</dt>
            <dd>
              <% if (role.get("description") != "") { %>
                <%= role.get("description") %>
              <% } else { %>
                &nbsp;
              <% } %>
            </dd>
            <dt></dt>
            <dd>
              <div class="clearfix"></div>
              <a href="<%= role_edit_url %>/<%= role.get("id") %>" class="btn btn-primary btn-trans btn-rad btn-sm"><i class="fa fa-pencil width-10"></i> Edit</a>
              <button id="delete-role" type="button" class="btn btn-danger btn-rad btn-trans btn-sm" value="Delete"><i class="fa fa-times width-10"></i> Delete</button>
              <a id="go-to-previous-page" href="#" class="btn btn-warning btn-trans btn-rad btn-sm"><i class="fa fa-ban width-10"></i> Cancel</a>
            </dd>
          </dl>
          
        </div> <!-- /.block-flat -->
    </div>
</div>