<div class="row margin-top-0">
    <div class="col-md-12 no-padding">
        <div class="padding-top-5 padding-bottom-10 margin-bottom-10">
          <div class="md-dark prusia">
            <h2 class="entity-header margin-top-0 margin-bottom-0 padding-bottom-10"><%= role.get('name') %></h2>
          </div>           
        </div>
        <div class="block-flat"> 
          <fieldset> 
            <legend class="margin-bottom-0">
              <h3 class="margin-top-0">DETAILS</h3>
            </legend>
            <table class="no-border no-strip information">
              <tbody class="no-border-x no-border-y">                
                  <tr>
                      <td class="width-50"></td>
                      <td>
                          <table class="no-border no-strip">
                              <tbody class="no-border-x no-border-y">                                
                                <tr>
                                  <td style="width:3%;"><i class="fa fa-align-justify"></i></td>
                                  <td style="width:10%;"><i>Description</i></td>
                                  <td>
                                    <% if (role.get("description") != "") { %>
                                      <%= role.get("description") %>
                                    <% } else { %>
                                      &nbsp;
                                    <% } %>
                                  </td>
                                </tr>                                
                              </tbody>
                          </table>
                      </td>
                  </tr>
              </tbody>
            </table>           
          </fieldset>
          <div class="row margin-left-0 margin-right-0">
            <div class="col-md-12 no-padding">
              <div class="pull-right clearfix">
                <a href="<%= role_edit_url %>/<%= role.get("id") %>" class="btn btn-primary btn-trans btn-rad btn-sm"><i class="fa fa-pencil width-10"></i> Edit</a>
                <button id="delete-role" type="button" class="btn btn-danger btn-rad btn-trans btn-sm" value="Delete"><i class="fa fa-times width-10"></i> Delete</button>
                <a id="go-to-previous-page" href="#" class="btn btn-warning btn-trans btn-rad btn-sm"><i class="fa fa-ban width-10"></i> Cancel</a>
              </div>
            </div>
          </div>    
        </div> <!-- /.block-flat -->
    </div>
</div>