<div class="row margin-top-0">
    <div class="col-md-12 no-padding">
        <div class="block-flat padding-top-0 padding-bottom-0">
            <div class="content padding-top-0">

                <div class="row margin-top-0">
                    <div class="col-md-12 col-xs-12 padding-top-10 padding-right-0">
                        <a href="<%= role_add_url %>" class="btn btn-primary btn-rad btn-sm margin-left-0">+ Add Role</a>
                    </div>
                </div>

                <div class="content-inner table-responsive">
                    <table id="role-list" class="table-condensed table-bordered table-hover">
                      <thead>
                        <tr>
                          <th class="width-300">Role Name</th>
                          <th>Description</th>
                          <th class="width-110">Action</th>
                        </tr>
                      </thead>
                      <tbody></tbody>
                    </table>
                  
                    <div class="clearfix">
                        <ul class="pagination pagination-sm pull-right margin-none" style="display:none;">
                            <li><a class="first-page btn" href="#"><span class="glyphicon glyphicon-fast-backward"></span></a></li>
                            <li><a class="prev-page btn" href="#"><span class="glyphicon glyphicon-step-backward"></span></a></li>
                            <li><a class="next-page btn" href="#"><span class="glyphicon glyphicon-step-forward"></span></a></li>
                            <li><a class="last-page btn" href="#"><span class="glyphicon glyphicon-fast-forward"></span></a></li>
                        </ul>
                    </div>
                </div>

            </div> <!-- /.content -->
        </div> <!-- /.block-flat -->
    </div>
</div>