<form id="convertToPOForm" class="form-horizontal">
	<div class="row margin-top-0">
		<div class="col-sm-10 col-sm-offset-1">
			<p style="text-align:left">Please fill in...</p>
			<div class="form-group">
				<label for="location_id" class="col-sm-2 control-label">Destination</label>
				<div id="bid-destination" class="col-sm-10"><%= destination %></div>
			</div>
			<div class="form-group so-field">
				<label for="account_customer" class="col-sm-2 control-label">Customer<i class="color-danger">*</i></label>
				<div class="col-sm-10">
					<input type="text" maxlength="50" name="account_customer" id="account_customer" class="form-control capitalize input-sm" autocomplete="off">
					<input type="hidden" class="form-control" id="account_id_customer" name="account_id_customer" value="">
				</div>
			</div>
			<div class="form-group so-field">
				<label for="contract_id" class="col-sm-2 control-label">Customer Contact<i class="color-danger">*</i></label>
				<div class="col-sm-10">
					<select required="" name="contract_id" class="form-control contract_id width-160 input-sm" id="contract_id">
	                    <option value="">Select contract</option>
	                </select>
	            </div>
			</div>
			<div class="form-group">
				<label for="transportdatestart" class="col-sm-1 control-label">Start</label>
				<div class="col-sm-5">
					<div id="bid-start-date" class="calendar-cont">
						<div class="input-group date datetime margin-bottom-0">
							<input id="transportdatestart" class="form-control form-date" name="transportdatestart" size="16" type="text" value="" required/>
							<span class="input-group-addon btn btn-primary"><span class="glyphicon glyphicon-th"></span></span>
						</div>
					</div>
					<div class="error-msg-cont"></div>
				</div>
				<label for="transportdateend" class="col-sm-1 control-label">End</label>
				<div class="col-sm-5">
					<div id="bid-end-date" class="calendar-cont">
						<div class="input-group date datetime margin-bottom-0">
							<input id="transportdateend" class="form-control form-date" name="transportdateend" size="16" type="text" value="" required/>
							<span class="input-group-addon btn btn-primary"><span class="glyphicon glyphicon-th"></span></span>
						</div>
					</div>
					<div class="error-msg-cont"></div>
				</div>
			</div>
		</div>
	</div>
</form>