<% if (!_.isEmpty(stacks)) { %>
	<% _.each(stacks, function(stack){ %>
		<div class="row margin-top-0 padding-top-10">
			<div class="col-md-2">Stack No.: <code><%= stack.get("stackNumber") %></code></div>
			<div class="col-md-2">Product: <span class="text-danger"><%= stack.get("productName") %></span></div>
		</div>
		<div class="row margin-top-0">
			<div class="col-md-9">
				<div class="content-inner table-responsive">
					<table class="table-condensed table-bordered table-hover">
						<thead>
							<tr>
								<th class="width-250">Schedule</th>
								<th class="width-250">Weight Ticket No.</th>
								<th class="width-150">Expected</th>
								<th class="width-150">Delivered</th>
							</tr>
						</thead>
						<tbody>
							<% if (!_.isEmpty(stack.get("schedule"))) { %>
								<% _.each(stack.get("schedule"), function(schedule){ %>
								<tr>
									<td>
										<a href="<%= schedule_url %>/<%= schedule.transportschedule_id %>" title="view">
											<%= formatDateAMPM(schedule.transportscheduledate) %>
										</a> 
										<% if(schedule.transportscheduledate_status.id == 1) { %>
											<label class="label label-<%= schedule.transportscheduledate_status.class %>">
												<%= schedule.transportscheduledate_status.name %>
											</label>
										<% } %>
									</td>
									<td>
										<% if (schedule.weightTicketNumber) { %>
											<a href="<%= weight_info_url %>/<%= schedule.transportschedule_id %>" title="view">
												<%= schedule.weightTicketNumber %>
											</a> 
											<% if(schedule.weightTicketNumber_status.id == 1) { %>
												<label class="label label-<%= schedule.weightTicketNumber_status.class %>">
													<%= schedule.weightTicketNumber_status.name %>
												</label>
											<% } %>
										<% } %>
									</td>
									<td><%= numberFormatTons(schedule.expected) %></td>
									<td><%= numberFormatTons(schedule.delivered) %></td>
								</tr>
								<% }); %>
							<% } else { %>
								<tr>
									<td colspan="4">No results found.</td>
								</tr>
							<% } %>
						</tbody>
					</table>
				</div>
			</div>
			<div class="col-md-3">
				<div class="content-inner table-responsive">
					<table class="table-condensed table-bordered table-hover">
						<tbody>
							<tr>
								<td>Expected</td>
								<td><span class="text-danger"><%= numberFormatTons(stack.get("totalExpected")) %></span></td>
							</tr>
							<tr>
								<td>Total Deliveries</td>
								<td><span class="text-danger"><%= numberFormatTons(stack.get("totalDeliveries")) %></span></td>
							</tr>
							<tr>
								<td>Remaining</td>
								<td>
									<span class="text-danger">
										<%= numberFormatTons(parseFloat(stack.get("totalExpected")) - parseFloat(stack.get("totalDeliveries"))) %>
									</span>
								</td>
							</tr>
						</tbody>
					</table>
				</div>
			</div>
		</div>
	<% }); %>
<% } %>