<% if (!_.isEmpty(stacks)) { %>
	<% _.each(stacks, function(stack){ %>
		<div class="row">
			<div class="col-md-2">Stack No.: <%= stack.get("stackNumber") %></div>
			<div class="col-md-2">Product: <%= stack.get("productName") %></div>
		</div>
		<div class="row">
			<div class="col-md-9">
				<div class="content-inner table-responsive">
					<table class="table-condensed table-bordered table-hover">
						<thead>
							<tr>
								<th>Schedule</th>
								<th>Weight Ticket No.</th>
								<th>Expected</th>
								<th>Delivered</th>
							</tr>
						</thead>
						<tbody>
							<% _.each(stack.get("schedule"), function(schedule){ %>
							<tr>
								<td><%= schedule.weightTicketNumber %></td>
								<td><%= schedule.weightTicketNumber %></td>
								<td><%= schedule.expected %></td>
								<td><%= schedule.delivered %></td>
							</tr>
							<% }); %>
						</tbody>
					</table>
				</div>
			</div>
			<div class="col-md-3">
				3
			</div>
		</div>
	<% }); %>
<% } %>