<tr class="product-item">
	<td><span class="po-product"><%= product %></span></td>
	<td><span class="po-product-desc"><%= desc %></span></td>
	<td class="text-right-align"><span class="po-product-stacknumber"><%= stacknumber %></span></td>
	<td class="text-right-align"><span class="po-product-tons"><%= tons %></span></td>
	<td class="text-right-align"><span class="po-product-bales"><%= bales %></span></td>
	<td class="text-right-align"><%= unitprice %></td>
	<td class="text-right-align"><span class="po-product-amount"><%= amount %></span></td>
</tr>