<tr class="product-stack-item">
	<td>
		<input type="hidden" class="id" name="id" value="" />
		<input class="form-control stacknumber" name="stacknumber" type="text" maxlength="20">
	</td>
	<td>
		<div class="styled-select">
			<select class="form-control section_id width-160" name="section_id">
				<option value="">Select a stack location</option>
			</select>
		</div>
	</td>
	<td><input class="form-control description" name="description" maxlength="80"></td>
	<td>
		<div class="input-group margin-0"><span class="input-group-addon">$</span><input class="form-control text-right price unitprice" type="text" name="unitprice" placeholder="0.00" value="" required></div>
		<div class="error-msg-cont"></div>
	</td>
	<td><input class="form-control text-right bales" name="bales" type="text"></td>
	<td><input class="form-control text-right tons" name="tons" type="text" maxlength="12"></td>
	<td><div class="input-group margin-0"><span class="input-group-addon">$</span><input class="form-control text-right unit-price" type="text" value="0.00" readonly></div></td>
	<% if (typeof is_bid === "undefined") { %>
	<td>
        <div class="styled-select">
            <select class="select2 ishold width-80" name="ishold">
                <option value="0">No</option>
                <option value="1">Yes</option>
            </select>
        </div>
	</td>
	<td><input class="form-control text-right rfv" type="text" name="rfv" minlength="3" maxlength="3"></td>
	<td>
		<input type="hidden" class="uploadedfile" name="uploadedfile" value="" data-filename="" />
		<a class="attach-pdf no-attachment" data-id="" href="#"><i class="fa fa-book"></i></a>
	</td>
	<% } %>
	<td>
		<button title="Remove Product Stack" type="button" class="pull-right btn btn-danger btn-xs remove-product-stack"><span class="glyphicon glyphicon-remove"></span></button>
	</td>
</tr>
