<tr class="product-item">
	<td><span class="po-product"></span><input class="product_id id" type="hidden" name="id" value="" ></td>
	<td><span class="po-product-desc"></span></td>
	<td class="text-align-right"><span class="po-product-stacknumber"></span></td>
	<td class="text-align-right"><span class="po-product-tons"></span></td>
	<td class="text-align-right"><span class="po-product-bales"></span></td>
	<td><input class="form-control text-align-right unitprice" name="unitprice" type="text" value="" required></td>
	<td class="text-align-right"><span class="po-product-amount"></span></td>
</tr>