<tr class="product-item">
	<td style="width: 150px;">
		<input type="hidden" class="id" name="id" value="" />
        <div class="styled-select">
            <select class="form-control product_id width-160" name="product_id"><%= product_list %></select>
        </div>
	</td>
    <td><input class="form-control description" name="description" maxlength="80"></td>
	<td><input class="form-control stacknumber" type="text" name="stacknumber" maxlength="20" required></td>
	<td>
		<div class="input-group margin-0"><span class="input-group-addon">$</span><input class="form-control text-right price unitprice" type="text" name="unitprice" placeholder="0.00" value="" required></div>
		<div class="error-msg-cont"></div>
	</td>

	<td><input class="form-control text-right tons" type="text" name="tons" maxlength="12"></td>
	<td><input class="form-control text-right bales" type="text" name="bales"></td>
	<td><div class="input-group margin-0"><span class="input-group-addon">$</span><input class="form-control text-right unit-price" type="text" value="0.00" readonly></div></td>
	<% if (typeof is_bid === "undefined") { %>
	<td>
        <div class="styled-select">
            <select class="select2 ishold width-80" name="ishold">
                <option value="0">No</option>
                <option value="1">Yes</option>
            </select>
        </div>
	</td>
	<td><input class="form-control text-right rfv" type="text" name="rfv" minlength="3" maxlength="3"></td>
	<td><a class="attach-pdf" data-id="" href="#"><i class="fa fa-book"></i></a></td>
	<% } %>
	<td>
		<button title="Remove Product" type="button" class="pull-right btn btn-danger btn-xs remove-product"><span class="glyphicon glyphicon-remove"></span></button>
	</td>
</tr>
