<tr class="product-item">
	<td style="width: 150px;">
		<input type="hidden" class="id" name="id" value="" />
        <div class="styled-select">
            <select class="form-control productorder_id width-180" name="productorder_id" required><%= product_list %></select>
        </div>
	</td>
    <td><span class="product"></span></td>
	<td>
		<div class="styled-select">
			<select class="form-control sectionto_id width-160" name="sectionto_id">
				<option value="">Select a stack location</option>
			</select>
		</div>
	</td>
	<td>
		<div class="input-group input-group-sm margin-0">
			<input type="text" class="form-control text-right quantity" name="quantity" placeholder="0.0000" required>
			<span class="input-group-addon">Tons</span>
		</div>	
		<div class="error-msg-cont"></div>
	</td>
	<td>
		<span title="Remove Product" class="remove-product pull-right fa-stack text-danger font-size-12 cursor-pointer">
			<i class="fa fa-square fa-stack-2x"></i>
			<i class="fa fa-times fa-stack-1x fa-inverse"></i>
		</span>
	</td>
</tr>
