<% if (!_.isEmpty(pos)) { %>
	<% _.each(pos, function(po){ %>
	<tr>
		<td><a href="<%= po_url %>/<%= po.get("id") %>"><%= po.get("order_number") %></a></td>
		<td><%= po.get("created_at").split(" ")[0] %></td>
		<td>
			<% if (po.get("transportdatestart")) { %>
				<%= po.get("transportdatestart") %>
			<% } %>
		</td>
		<td>
			<% if (po.get("transportdateend")) { %>
				<%= po.get("transportdateend") %>
			<% } %>
		</td>
		<td><%= po.get("account").name %></td>
		<td>
			<label class="label label-<%= po.get("status").class %>"><%= po.get("status").name %></label>
		</td>
		<td>
			<div class="progress">
				<div style="width: 73%" class="progress-bar progress-bar-<%= po.get("status").class %>">73%</div>
			</div>
		</td>
		<td>
            <% if (!_.isNull(po.get("location"))) { %>
                <%= po.get("location").location %>
            <% } %>
        </td>
		<td class="text-right">$ <%= po.get("totalPrice") %></td>
		<td>
			<% if (po.get("status").name.toLowerCase() == "open") { %>
				<a href="<%= po_sched_url %>/<%= po.get("id") %>" class="text-primary" title="schedule">
					<span class="fa-stack">
						<i class="fa fa-square fa-stack-2x"></i>
						<i class="fa fa-clock-o fa-stack-1x fa-inverse"></i>
					</span>
				</a>
			<% } else {%>
				<span class="fa-stack">
					<i class="fa fa-square fa-stack-2x"></i>
					<i class="fa fa-clock-o fa-stack-1x fa-inverse"></i>
				</span>
			<% } %>

			<% if (po.get("status").name.toLowerCase() == "open" || po.get("status").name.toLowerCase() == "pending" || po.get("status").name.toLowerCase() == "testing") { %>
				<a href="<%= po_edit_url %>/<%= po.get("id") %>" class="text-primary" title="edit">
					<span class="fa-stack">
						<i class="fa fa-square fa-stack-2x"></i>
						<i class="fa fa-pencil fa-stack-1x fa-inverse"></i>
					</span>
				</a>
				<a href="#" data-id="<%= po.get("id") %>" class="cancel-po text-primary">
					<span class="fa-stack">
						<i class="fa fa-shopping-cart fa-stack-1x"></i>
						<i class="fa fa-ban fa-stack-2x text-danger"></i>
					</span>
				</a>
			<% } else {%>
				<span class="fa-stack">
					<i class="fa fa-square fa-stack-2x"></i>
					<i class="fa fa-pencil fa-stack-1x fa-inverse"></i>
				</span>
				<span class="fa-stack">
					<i class="fa fa-shopping-cart fa-stack-1x"></i>
					<i class="fa fa-ban fa-stack-2x"></i>
				</span>
			<% } %>
			
			
		</td>
	</tr>
	<% }); %>
<% } else { %>
	<tr>
		<td colspan="9">No results found.</td>
	</tr>
<% } %>