<tr class="product-stack-item">
	<td><code><%= stacknumber %></code></td>
	<td><%= location_from %></td>
	<td><%= description %></td>
	<% if (typeof is_bid === "undefined") { %>
	<td class="text-center"><% if(ishold==1) { %><i class="fa fa-check-square-o color-success"></i><% } %></td>
	<td class="text-right"><%= rfv %></td>
	<td>
		<% if (typeof file_path !== "undefined") { %>
			<a class="attach-pdf color-danger" href="<%= file_path %>" target="_blank"><i class="fa fa-file-pdf-o"></i></a>
		<% } else { %>
			<i class="fa fa-file-pdf-o"></i>
		<% } %>
	</td>
	<% } %>
	<td class="text-right"><%= bales %></td>
	<td class="text-right"><%= tons %></td>
	<td class="text-right">$ <%= unitprice %></td>
	<td class="text-right">$ <%= totalprice %></td>
</tr>