<tr class="product-item">
	<td>
		<input class="form-control productname" type="text" maxlength="20" value="<%= productname %>" readonly>
	</td>
	<td><textarea class="form-control description" maxlength="200" readonly><%= description %></textarea></td>
	<td><input class="form-control text-align-right stacknumber" type="text" value="<%= stacknumber %>" maxlength="20" readonly></td>
	<td>
		<div class="input-group"><span class="input-group-addon">$</span><input class="form-control text-align-right price unitprice" type="text" value="<%= unitprice %>" readonly></div>
	</td>
	<td><input class="form-control text-align-right number tons" type="text" value="<%= tons %>" readonly></td>
	<td><input class="form-control text-align-right number bales" type="text" value="<%= bales %>" readonly></td>
	<td><div class="input-group"><span class="input-group-addon">$</span><input class="form-control text-align-right totalprice" type="text" value="<%= totalprice %>" readonly></div></td>
	<td>
		<input class="form-control ishold" type="text" value="<%= ishold %>" readonly>
	</td>
</tr>