<div class="row margin-top-0">
    <div class="col-md-12">
        <div class="block-flat">
            <div class="content">
              
				<form id="POScheduleForm" class="form-horizontal" role="form" method="post" enctype="multipart/form-data">
					<% if (typeof sched_id !== "undefined") { %>
						<input type="hidden" name="id" value="<%= sched_id %>" />
					<% } %>

					<input type="hidden" id="order_id" name="order_id" value="<%= po_id %>" />

					<div class="col-md-6">
						<h4>Schedule</h4>
						<div class="form-group">
							<label for="scheduledate" class="col-sm-4 control-label">Date</label>
							<div class="col-sm-8">
								<div id="po-sched-start-date" class="calendar-cont">
									<div class="input-group input-group-sm date margin-0 width-150">
										<input type="text" class="form-control" name="scheduledate" value="" required>
										<span class="input-group-addon"><i class="glyphicon glyphicon-th"></i></span>
									</div>
								</div>
								<div class="error-msg-cont"></div>
							</div>				
						</div>

						<div class="form-group">
							<label for="" class="col-sm-4 control-label">Time</label>
							<div class="col-sm-8">
	                            <div class="styled-select">
	                                <select class="form-control hours width-80 pull-left margin-right-5" id="scheduletimeHour" name="scheduletimeHour"></select>
	                                <select class="form-control minutes width-80 pull-left margin-right-5" id="scheduletimeMin" name="scheduletimeMin"></select>
	                                <select class="form-control ampm width-80 pull-left" id="scheduletimeAmPm" name="scheduletimeAmPm">
	                                    <option value="AM">AM</option>
	                                    <option value="PM">PM</option>
	                                </select>
	                            </div>
							</div>
						</div>

						<h4>Origin</h4>
						<div class="form-group">
							<label for="originloader" class="col-sm-4 control-label">Loader</label>
							<div class="col-sm-8">
								<div class="styled-select">
	                                <select class="form-control width-200" id="originloader" name="originloader" required>
	                                    <option value="">Select a loader</option>
										<%= originloader_account_list %>
	                                </select>
	                            </div>
							</div>
						</div>
						
						<div class="form-group">
							<label for="originloader_id" class="col-sm-4 control-label">Loader Contact</label>
							<div class="col-sm-8">
								<div class="styled-select">
	                                <select class="form-control width-200" id="originloader_id" name="originloader_id" required>
										<option value="">Select a loader contact</option>
									</select>
                                    <span class="field-throbber throbber_wrap" style="display: none;"><i class="fa fa-refresh fa-spin throbber_ajax"></i></span>
	                            </div>
							</div>
						</div>

						<div class="form-group">
							<label for="originloaderfee" class="col-sm-4 control-label">Loader's Fee</label>
							<div class="col-sm-8">
								<div class="input-group input-group-sm margin-0 width-100">
									<span class="input-group-addon">$</span>
									<input type="text" class="form-control text-right loader monetary-value" id="originloaderfee" name="originloaderfee" placeholder="0.00" required>
								</div>	
								<div class="error-msg-cont"></div>
							</div>
						</div>

						<h4>Destination</h4>
						<div class="form-group">
							<label for="destinationloader" class="col-sm-4 control-label">Loader</label>
							<div class="col-sm-8">
								<div class="styled-select">
	                                <select class="form-control width-200" id="destinationloader" name="destinationloader" required>
										<option value="">Select a loader</option>
	                                    <%= destinationloader_account_list %>
	                                </select>
	                            </div>
							</div>
						</div>

						<div class="form-group">
							<label for="destinationloader_id" class="col-sm-4 control-label">Loader Contact</label>
							<div class="col-sm-8">
								<div class="styled-select">
	                                <select class="form-control width-200" id="destinationloader_id" name="destinationloader_id" required>
										<option value="">Select a loader contact</option>
									</select>
                                    <span class="field-throbber throbber_wrap" style="display: none;"><i class="fa fa-refresh fa-spin throbber_ajax"></i></span>
	                            </div>
							</div>
						</div>

						<div class="form-group">
							<label for="destinationloaderfee" class="col-sm-4 control-label">Loader's Fee</label>
							<div class="col-sm-8">
								<div class="input-group input-group-sm margin-0 width-100">
									<span class="input-group-addon">$</span>
									<input type="text" class="form-control text-right loader monetary-value" id="destinationloaderfee" name="destinationloaderfee" placeholder="0.00" required>
								</div>	
								<div class="error-msg-cont"></div>
							</div>
						</div>
					</div>

					<div class="col-md-6">
						<h4>Trucker</h4>
						<div class="form-group">
							<label for="truckerAccountType_id" class="col-sm-4 control-label">Trucker Type</label>
							<div class="col-sm-8">
								<div class="styled-select">
									<select class="form-control width-200" id="truckerAccountType_id" name="truckerAccountType_id" required>
										<option value="">Select a trucker type</option>
										<%= trucker_account_type_list %>
									</select>
								</div>
							</div>
						</div>

						<div class="form-group">
							<label for="truckerAccount_id" class="col-sm-4 control-label">Trucker</label>
							<div class="col-sm-8">
								<div class="styled-select">
	                                <select class="form-control width-200" id="truckerAccount_id" name="truckerAccount_id" required>
										<option value="">Select a trucker</option>
	                                </select>
                                    <span class="field-throbber throbber_wrap" style="display: none;"><i class="fa fa-refresh fa-spin throbber_ajax"></i></span>
	                            </div>
							</div>
						</div>
						
						<div class="form-group">
							<label for="truck_id" class="col-sm-4 control-label">Trucker Number</label>
							<div class="col-sm-8">
								<div class="styled-select">
	                                <select class="form-control width-200" id="truck_id" name="truck_id" required>
										<option value="">Select a trucker number</option>
									</select>
                                    <span class="field-throbber throbber_wrap" style="display: none;"><i class="fa fa-refresh fa-spin throbber_ajax"></i></span>
	                            </div>
							</div>
						</div>

						<div class="form-group">
							<label for="trucker_id" class="col-sm-4 control-label">Trucker Contact</label>
							<div class="col-sm-8">
								<div class="styled-select">
	                                <select class="form-control width-200" id="trucker_id" name="trucker_id" required>
										<option value="">Select a trucker contact</option>
									</select>
                                    <span class="field-throbber throbber_wrap" style="display: none;"><i class="fa fa-refresh fa-spin throbber_ajax"></i></span>
	                            </div>
							</div>
						</div>

						<div class="form-group">
							<label for="trailer" class="col-sm-4 control-label">Trailer</label>
							<div class="col-sm-8">
								<div class="styled-select">
	                                <select class="form-control width-200" id="trailer" required>
										<option value="">Select a trailer</option>
	                                    <%= trailer_account_list %>
	                                </select>
	                            </div>
							</div>
						</div>

						<div class="form-group">
							<label for="trailer_id" class="col-sm-4 control-label">Trailer Number</label>
							<div class="col-sm-8">
								<div class="styled-select">
	                                <select class="form-control width-200" id="trailer_id" name="trailer_id" required>
										<option value="">Select a trailer number</option>
									</select>
                                    <span class="field-throbber throbber_wrap" style="display: none;"><i class="fa fa-refresh fa-spin throbber_ajax"></i></span>
	                            </div>
							</div>
						</div>

						<div class="form-group">
							<label for="distance" class="col-sm-4 control-label">Distance</label>
							<div class="col-sm-8">
								<input type="text" class="form-control text-right width-100 input-sm" id="distance" name="distance" style="display:inline-block" required> <span id="map" style="display:inline-block;cursor:pointer;margin-left:10px;" class="glyphicon glyphicon-map-marker"></span>
							</div>
						</div>
						
						<div class="form-group">
							<label for="distance-loaded" class="col-sm-4 control-label">Loaded Distance</label>
							<div class="col-sm-8">
								<input type="text" class="form-control text-right width-100 input-sm" id="distance-loaded" style="display:inline-block" readonly>
							</div>
						</div>
						
						<div class="form-group">
							<label for="fuelcharge" class="col-sm-4 control-label">Fuel Charges</label>
							<div class="col-sm-2">
								<div class="input-group input-group-sm margin-0 width-100">
									<span class="input-group-addon">$</span>
									<input type="text" class="form-control text-right monetary-value" id="fuelcharge" name="fuelcharge" placeholder="0.00" readonly>
								</div>
								<div class="error-msg-cont"></div>
							</div>
							<div class="col-sm-6">
								<div class="checkbox">
									<label><input id="has-fuel-charge" class="has-fuel-charge" type="checkbox"> Compute</label>
								</div>
							</div>
						</div>

						<div class="form-group">
							<label for="truckingrate" class="col-sm-4 control-label">Trucking/Hauling Rate</label>
							<div class="col-sm-8">
								<div class="input-group input-group-sm margin-0 width-100">
									<span class="input-group-addon">$</span>
									<input type="text" class="form-control text-right monetary-value" id="truckingrate" name="truckingrate" placeholder="0.00" value="0.00" required readonly>
								</div>
							</div>
						</div>

						<div class="form-group">
							<label for="trailerrate" class="col-sm-4 control-label">Trailer Rent</label>
							<div class="col-sm-8">
								<div class="input-group input-group-sm margin-0 width-100">
									<span class="input-group-addon">$</span>
									<input type="text" class="form-control text-right monetary-value" id="trailerrate" name="trailerrate" placeholder="0.00" value="0.00" readonly>
								</div>
							</div>
						</div>
						
					</div>
					

					<div class="clearfix"></div>

					<div class="col-md-12">
						<h4>
							Products
							<span title="Add Product" id="add-product" class="pull-right fa-stack text-primary font-size-12 cursor-pointer">
								<i class="fa fa-square fa-stack-2x"></i>
								<i class="fa fa-plus fa-stack-1x fa-inverse"></i>
							</span>
						</h4>

						<div class="table-responsive">
							<table id="product-list" class="table table-bordered">
								<thead>
									<tr>
										<th>Stack #</th>
										<th>Product</th>
										<th>Location</th>
										<th class="width-150">Quantity</th>
										<th class="width-40"></th>
									</tr>
								</thead>
								<tfoot>
									<tr>
										<td class="text-right" colspan="3">Total</td>
										<td>
											<div class="input-group input-group-sm margin-0">
												<input id="total-quantity" type="text" class="form-control text-right" placeholder="0.0000" readonly>
												<span class="input-group-addon">Tons</span>
											</div>
										</td>
										<td></td>
									</tr>
								</tfoot>
								<tbody></tbody>
							</table>
						</div>
						
						<div class="form-group form-button-container">
							<div class="pull-right">
								<button id="save" type="submit" class="save btn btn-primary"><i class="fa fa-save"></i> Save</button>
								<a id="delete-schedule" class="btn btn-danger" href="#" style="display:none;">Delete</a>
								<a id="go-to-previous-page" class="btn btn-default" href="#">Cancel</a>
							</div>
						</div>
					</div>

					<div class="clearfix"></div>
				</form>

            </div> <!-- /.content -->
        </div> <!-- /.block-flat -->
    </div>
</div>