<div class="row">
    <div class="col-md-12">
        <div class="block-flat">
            <div class="content">
              <div class="row margin-top-0">
                <div class="col-md-3 padding-top-10 padding-right-0">
                  <a href="<%= po_add_url %>" class="btn btn-primary">+ Add Purchase Order</a>
                  <a href="<%= bid_add_url %>" class="btn btn-info">+ Add Bid</a>
                </div>
                <div class="col-md-2">
                  <div class="form-group">
                    <div id="filter-date-of-purchase" class="search-filter-field calendar-cont">
                        <div class="input-group date datetime margin-bottom-0" data-start-view="2" data-date="1979-09-16T05:25:07Z" data-date-format="dd MM yyyy - HH:ii p" data-link-field="dtp_input1">
                          <input class="form-control" size="16" type="text" value="" />
                          <span class="input-group-addon btn btn-primary"><span class="glyphicon glyphicon-th"></span></span>
                        </div>
                        <p class="help-block">Date of Purchase</p>
                    </div>  
                  </div>
                </div>
                <div class="col-md-2">
                  <div class="form-group">
                      <div id="filter-pickup-start" class="search-filter-field calendar-cont">
                          <div class="input-group date datetime margin-bottom-0" data-start-view="2" data-date="1979-09-16T05:25:07Z" data-date-format="dd MM yyyy - HH:ii p" data-link-field="dtp_input1">
                            <input class="form-control" size="16" type="text" value="" />
                            <span class="input-group-addon btn btn-primary"><span class="glyphicon glyphicon-th"></span></span>
                          </div>
                          <p class="help-block">Pick-up Period: Start</p>
                      </div>
                  </div>
                </div>
                <div class="col-md-2">
                  <div class="form-group">
                      <div id="filter-pickup-end" class="search-filter-field calendar-cont">
                          <div class="input-group date datetime margin-bottom-0" data-start-view="2" data-date="1979-09-16T05:25:07Z" data-date-format="dd MM yyyy - HH:ii p" data-link-field="dtp_input1">
                            <input class="form-control" size="16" type="text" value="" />
                            <span class="input-group-addon btn btn-primary"><span class="glyphicon glyphicon-th"></span></span>
                          </div>
                          <p class="help-block">Pick-up Period: End</p>
                      </div>
                  </div>
                </div>
                <div class="col-md-3 padding-top-10">
                  <form class="form-inline" role="form">
                    <div class="pull-right">
                      <div class="input-group">
                        <label class="sr-only" for="search">Search</label>
                        <input type="text" class="search form-control" id="search-keyword" placeholder="">

                        <div class="input-group-btn">
                          <button type="button" class="btn btn-primary dropdown-toggle" data-toggle="dropdown">
                            <span class="caret"></span>
                          </button>
                          <ul class="dropdown-menu filter" role="menu">
                            <li class="dropdown-header"><i class="fa fa-truck"></i>Filter By Destination</li>
                            <li><input class="location_id" type="radio" name="location_id" value="" checked> All</li>
                            <%= destination_filters %>
                            <li class="dropdown-header"><i class="fa fa-tags"></i>Filter By Status</li>
                            <li><input class="statusFilter" type="radio" name="statusFilter" value="" checked> All</li>
                            <%= status_filters %>
                          </ul>
                          <button type="button" class="btn btn-primary search-local">Search</button>
                        </div>
                      </div>
                    </div>
                  </form>
                </div>
              </div>

              <div class="clearfix">
                <ul class="pagination" style="display:none;">
                  <li><a class="first-page" href="#">&laquo;</a></li>
                  <li><a class="last-page" href="#">&raquo;</a></li>
                </ul>
              </div>

              <div class="content-inner table-responsive">
                <table id="po-list" class="table table-bordered table-striped table-hover">
                  <thead>
                    <tr>
                      <th>PO No.</th>
                      <th class="sortable sort-date-of-po"><i class="fa fa-sort"></i> Date of Purchase</span></th>
                      <th>Start</th>
                      <th>End</th>
                      <th>Producer</th>
                      <th>Status</th>
                      <th>Destination</th>
                      <th>Total Amount</th>
                      <th>Operation</th>
                    </tr>
                  </thead>
                  <tbody></tbody>
                </table>
              </div>

              <!--<div class="clearfix">
                <ul class="pagination" style="display:none;">
                  <li><a class="first-page" href="#">&laquo;</a></li>
                  <li><a class="last-page" href="#">&raquo;</a></li>
                </ul>
              </div>-->

            </div> <!-- /.content -->
        </div> <!-- /.block-flat -->
    </div>
</div>