<div class="row">
    <div class="col-md-12">
        <div class="block-flat">
            <div class="header">
                <h3>Purchase Orders <small class="transform-upper">LIST</small></h3>
            </div>
            <div class="content">
              
              <div class="row">
                <div class="col-md-6 col-xs-4">
                  <a href="<%= po_add_url %>" class="btn btn-primary">+ Add Purchase Order</a>
                  <a href="<%= bid_add_url %>" class="btn btn-info">+ Add Bid</a>
                </div>
                
                <div class="col-md-6 col-xs-8">
                  <form class="form-inline" role="form">
                    <div class="pull-right">
                      <div class="input-group">
                        <label class="sr-only" for="search">Search</label>
                        <input type="text" class="search form-control" id="search-keyword" placeholder="">

                        <div class="input-group-btn">
                          <button type="button" class="btn btn-primary dropdown-toggle" data-toggle="dropdown">
                            <span class="caret"></span>
                          </button>
                          <ul class="dropdown-menu pull-right filters" role="menu">
                            <li class="dropdown-header">Filter By Destination</li>
                            <li>
                              <input class="location_id" type="radio" name="location_id" value="" checked> All
                            </li>
                            <%= destination_filters %>
                            <li class="dropdown-header">Filter By Status</li>
                            <li>
                              <input class="statusFilter" type="radio" name="statusFilter" value="" checked> All
                            </li>
                            <%= status_filters %>
                          </ul>
                          <button type="button" class="btn btn-primary search-local">Search</button>
                        </div>
                      </div>
                    </div>
                  </form>
                </div>
              </div>

              <div class="row margin-top-10">
                <div class="col-md-12 search-filter-cont">
                  <div class="sub-cont">
                    <div class="row">
                      <div class="col-md-6">
                        <div class="form-group">
                            <label class="col-md-4 control-label">Date of Purchase</label>
                            <div id="filter-date-of-purchase" class="search-filter-field calendar-cont col-md-6">
                                <div class="input-group date datetime" data-start-view="2" data-date="1979-09-16T05:25:07Z" data-date-format="dd MM yyyy - HH:ii p" data-link-field="dtp_input1">
                                  <input class="form-control" size="16" type="text" value="" />
                                  <span class="input-group-addon btn btn-primary"><span class="glyphicon glyphicon-th"></span></span>
                                </div>
                            </div>
                        </div>
                      </div>
                    </div>
                  </div>
                  
                  <div class="sub-cont">
                    <div class="row">
                      <div class="col-md-5">
                        <div class="form-group">
                            <label class="col-md-5 control-label">Pick-up Period: Start</label>
                            <div id="filter-pickup-start" class="search-filter-field calendar-cont col-md-7">
                                <div class="input-group date datetime" data-start-view="2" data-date="1979-09-16T05:25:07Z" data-date-format="dd MM yyyy - HH:ii p" data-link-field="dtp_input1">
                                  <input class="form-control" size="16" type="text" value="" />
                                  <span class="input-group-addon btn btn-primary"><span class="glyphicon glyphicon-th"></span></span>
                                </div>
                            </div>
                        </div>
                      </div>
                      
                      <div class="col-md-5">
                        <div class="form-group">
                            <label class="col-md-2 col-md-offset-0 control-label">End</label>
                            <div id="filter-pickup-end" class="search-filter-field calendar-cont col-md-7">
                                <div class="input-group date datetime" data-start-view="2" data-date="1979-09-16T05:25:07Z" data-date-format="dd MM yyyy - HH:ii p" data-link-field="dtp_input1">
                                  <input class="form-control" size="16" type="text" value="" />
                                  <span class="input-group-addon btn btn-primary"><span class="glyphicon glyphicon-th"></span></span>
                                </div>
                            </div>
                        </div>
                      </div>
                    </div>
                    
                  </div>
                </div>
              </div>

              <div class="clearfix">
                <ul class="pagination" style="display:none;">
                  <li><a class="first-page" href="#">&laquo;</a></li>
                  <li><a class="last-page" href="#">&raquo;</a></li>
                </ul>
              </div>

              <div class="content-inner table-responsive">
                <table id="po-list" class="table table-bordered table-striped table-hover">
                  <thead>
                    <tr>
                      <th>PO No.</th>
                      <th class="sortable sort-date-of-po">Date of Purchase <span class="glyphicon glyphicon-sort"></span></th>
                      <th>Start</th>
                      <th>End</th>
                      <th>Producer</th>
                      <th>Status</th>
                      <th>Destination</th>
                      <th>Total Amount</th>
                      <th>Operation</th>
                    </tr>
                  </thead>
                  <tbody></tbody>
                </table>
              </div>

              <!--<div class="clearfix">
                <ul class="pagination" style="display:none;">
                  <li><a class="first-page" href="#">&laquo;</a></li>
                  <li><a class="last-page" href="#">&raquo;</a></li>
                </ul>
              </div>-->

            </div> <!-- /.content -->
        </div> <!-- /.block-flat -->
    </div>
</div>