<div id="po-schedule-form-cont"></div>
<div class="content-inner table-responsive">
	<table id="bid-list" class="table table-bordered">
		<thead>
			<tr>
				<th>Date</th>
				<th>Time</th>
				<th>Trucker Type</th>
				<th>Trucker</th>
				<th>Loader (Origin)</th>
				<th>Loader (Destination)</th>
				<th>Distance</th>
			</tr>
		</thead>
		<tbody>
			<tr><td colspan="7">No schedules found</td></tr>
		</tbody>
	</table>
</div>
<div>
	<div class="pull-right">
		<a id="add-schedule" class="btn btn-default" href="#">Add Schedule</a>
	</div>
</div>