<form id="WeightTicketForm" class="form-horizontal" role="form" method="post" enctype="multipart/form-data">
	<fieldset>
		<legend>Weight Ticket</legend>
		<% if (typeof schedule_id !== "undefined") { %>
			<input type="hidden" id="id" name="id" value="<%= schedule_id %>" />
		<% } %>
		<div class="row">
			<div class="col-sm-12">
				<div class="form-group">
					<label for="wtn" class="col-sm-2 control-label small">Weight Ticket No</label>
					<div class="col-sm-10"><input type="text" class="form-control" readonly></div>
				</div>
				<div class="form-group">
					<label for="bidproduct_id" class="col-sm-2 control-label small">Product</label>
					<div class="col-sm-10">
						<select class="form-control" name="bidproduct_id" id="bidproduct_id"></select>
					</div>
				</div>
			</div>
		</div>
		<div class="row">
			<div class="col-sm-12">
				<table class="table table-bordered">
					<thead>
						<tr>
							<th>Type</th>
							<th>Bales</th>
							<th>Gross</th>
							<th>Tare</th>
							<th>Net</th>
							<th>Scale</th>
							<th>Scale Fee</th>
						</tr>
					</thead>
					<tbody>
						<tr>
							<td>Origin</td>
							<td>
								<input type="text" class="form-control text-align-right number" id="origin_bales" name="origin_bales" required>
							</td>
							<td>
								<input type="text" class="form-control text-align-right number" id="origin_gross" name="origin_gross" required>
							</td>
							<td>
								<input type="text" class="form-control text-align-right number" id="origin_tare" name="origin_tare" required>
							</td>
							<td>
								<input type="text" class="form-control text-align-right number" id="origin_net" name="origin_net" required>
							</td>
							<td>
								<input type="text" class="form-control" id="originscale" name="originscale-name" required>
								<input type="hidden" class="form-control" id="originscale-id" name="origin_account_id" required>
							</td>
							<td>
								<input type="text" class="form-control text-align-right" id="origin_scale_fee" name="origin_scale_fee" value="0.00" readonly>
							</td>
						</tr>
						<tr>
							<td>Destination</td>
							<td>
								<input type="text" class="form-control text-align-right number" id="destination_bales text-align-right" name="destination_bales" required>
							</td>
							<td>
								<input type="text" class="form-control text-align-right number" id="destination_gross text-align-right" name="destination_gross" required>
							</td>
							<td>
								<input type="text" class="form-control text-align-right number" id="destination_tare text-align-right" name="destination_tare" required>
							</td>
							<td>
								<input type="text" class="form-control text-align-right number" id="destination_net text-align-right" name="destination_net" required>
							</td>
							<td>
								<input type="text" class="form-control" id="destinationscale" name="destinationscale-name" required>
								<input type="hidden" class="form-control" id="destinationscale-id" name="destination_account_id" required>
							</td>
							<td>
								<input type="text" class="form-control text-align-right" id="destination_scale_fee" name="destination_scale_fee" value="0.00" readonly>
							</td>
						</tr>
					</tbody>
				</table>
			</div>
		</div>
	</fieldset>
	<div class="row">
		<div class="col-sm-12">
			<div class="form-group form-button-container">
				<div class="pull-right">
					<button id="save" type="submit" class="save btn btn-default">Save</button>
					<a id="back-to-schedule" class="btn btn-default" href="#">Back</a>
				</div>
			</div>
		</div>
	</div>
</form>
