<% if (!_.isEmpty(pos)) { %>
	<% _.each(pos, function(po){ 		
	%>
	<tr <% if(_.isNull(po.get("location_id")) || (!_.isNull(po.get("location_id")) && po.get('location_id') == swfarm_location)) { %> class="collapse-trigger cursor-pointer"<% } %> data-id="<%= po.get("id") %>">
		<td>
			<%
			if(_.isNull(po.get("location")) || (!_.isNull(po.get("location")) && po.get('location').id == swfarm_location)) { %>
				<i class="fa fa-angle-right width-10 accordion-carret"></i>&nbsp;
			<% }
			else { %>
				<span class="margin-left-10">&nbsp;</span>
			<% }
			%>			
			<a class="stop-propagation" href="<%= po_url %>/<%= po.get("id") %>"><%= po.get("order_number") %></a>
			<span class="throbber_wrap" style="display: none;"><i class="fa fa-spinner fa-spin throbber_ajax"></i></span>
		</td>
		<td><a href="<%= account_url %>/<%= po.get("account").id %>" class="stop-propagation"><%= po.get("account").name %></a></td>
		<td>
			<%
			if(!_.isNull(po.get("location"))) {
				print(po.get("location").location);
			} 			
	        %>
        </td>
        <td class="td-status">
			<label class="label label-<%= po.get("status").class %>"><%= po.get("status").name %></label>
		</td>
		<td><%= formatDate(po.get("created_at")) %></td>
		<td>
			<% if (po.get("transportdatestart")) { %>
				<%= formatDate(po.get("transportdatestart")) %>
			<% } %>
		</td>
		<td>
			<% if (po.get("transportdateend")) { %>
				<%= formatDate(po.get("transportdateend")) %>
			<% } %>
		</td>
		<td>
			<div class="progress">
				<div style="width: <%= po.get("weightPercentageDelivered") %>%" class="progress-bar progress-bar-<%= po.get("status").class %>"><%= po.get("weightPercentageDelivered") %>%</div>
			</div>
		</td>
		<td class="text-right">$ <%= numberFormat(po.get("totalPrice")) %></td>
	</tr>
	<% if(_.isNull(po.get("location_id")) || (!_.isNull(po.get("location_id")) && po.get('location_id') == swfarm_location)) { %>
		<tr>
			<td colspan="9" style="padding:0;">
				<div class="order-collapsible-item list-view-collapse collapse" id="<%= collapsible_id %><%= po.get("id") %>">
					<div class="container">
						<div class="order-stack-details">
							<div class="row margin-top-0">
								<div class="col-md-12">
									<div class="pull-right">
										<%
											var postatus = po.get("status").id;
										%>
										<a href="<%= po_url %>/<%= po.get("id") %>" class="btn btn-trans btn-rad btn-primary btn-sm">
											<i class="fa fa-eye width-10"></i> View <% if (postatus != po_status_pending) { %>PO<% } else { %>Bid<% } %>
										</a>
										<% if (postatus == po_status_pending || postatus == po_status_open || postatus == po_status_testing) { %>
											<a href="<%= po_edit_url %>/<%= po.get("id") %>" class="btn btn-trans btn-primary btn-rad btn-sm editable-button">
												<i class="fa fa-pencil width-10"></i> Edit <% if (postatus != po_status_pending) { %>PO<% } else { %>Bid<% } %>
											</a>
											<a href="#" data-id="<%= po.get("id") %>" class="btn btn-trans btn-rad btn-warning btn-sm cancel-po editable-button">
												<i class="fa fa-ban width-10"></i> Cancel <% if (postatus != po_status_pending) { %>PO<% } else { %>Bid<% } %>
											</a>	
											<% if (postatus != po_status_pending && !_.isNull(po.get("location")) && po.get("location").id == swfarm_location) { %>
												<a href="#" class="btn btn-warning btn-trans btn-rad btn-sm close-po editable-button" data-id="<%= po.get("id") %>">
													<i class="fa fa-times width-10"></i> Close PO
												</a>
												<a href="<%= schedule_url %>/<%= po.get("id") %>/<%= add %>" class="btn btn-trans btn-primary btn-rad btn-sm editable-button">
													<i class="fa fa-clock-o width-10"></i> Add Schedule
												</a>
											<% } %>																
										<% } %>
									</div>
								</div>
							</div>
							<div class="order-weight-details-by-stack"></div>
						</div>
					</div>
				</div>
			</td>
		</tr>
	<% 
	}
	}); %>
<% } else { %>
	<tr>
		<td colspan="9">No results found.</td>
	</tr>
<% } %>