<tr class="product-item">
	<td>
		<input type="hidden" class="id" name="id" value="" />
        <select class="form-control product_id width-200 input-sm" name="product_id"><%= product_list %></select>
	</td>
	<td>
		<input class="form-control text-right product-item-field tons input-sm" type="text" name="tons" maxlength="12">
	</td>
	<td>
		<div class="input-group input-group-sm margin-0">
			<span class="input-group-addon">$</span>
			<input class="form-control text-right product-item-field unit-price" type="text" value="0.00" readonly>
		</div>
	</td>
	<td>
		<button title="Remove Product" type="button" class="pull-right btn btn-danger btn-rad btn-xs remove-product">
			<span class="glyphicon glyphicon-remove"></span>
		</button>
	</td>
</tr>
<tr class="product-stack">
	<td colspan="4">
		<div class="row margin-top-0 padding-top-10">
			<div class="col-md-12">
				<h3 class='margin-top-0 margin-bottom-0'>
					Stacknumber
					<button title="Add Product Stack" type="button" class="pull-right btn btn-primary btn-rad btn-xs add-product-stack">
						<span class="glyphicon glyphicon-plus"></span>
					</button>
				</h3>
				<hr class='margin-top-10 margin-bottom-10' />

				<div class="table-responsive">
					<table class="table-condensed table-bordered product-stack-table">
						<thead>
							<tr>
								<th>Stack No.<i class='color-danger width-10'>*</i></th>
								<th>Location From<i class='color-danger width-10'>*</i></th>
								<th>Description</th>
								<th>
									<% if (typeof is_bid === "undefined") { %>
										Unit Price
									<% } else { %>
										Bid Unit Price
									<% } %>
									<i class='color-danger width-10'>*</i>
								</th>
								<th>Bales<i class='color-danger width-10'>*</i></th>
								<th>Est Tons<i class='color-danger width-10'>*</i></th>
								<th><% if (typeof is_bid === "undefined") { %>Total Price<% } else { %>Bid Total Price<% } %></th>
								<% if (typeof is_bid === "undefined") { %>
								<th>Testing</th>
								<th>RFV</th>
								<th>PDF</th>
								<% } %>
								<th></th>
							</tr>
						</thead>
						<tfoot>
							<tr>
								<td class="text-right" colspan="5">Total</td>
								<td><input class="form-control text-right total-tons input-sm" type="text" value="0.0000" readonly></td>
								<td>
									<div class="input-group input-group-sm margin-0">
										<span class="input-group-addon">$</span>
										<input class="form-control text-right total-price" type="text" value="0.00" readonly>
									</div>
								</td>
								<td <% if (typeof is_bid === "undefined") { %>colspan="4"<% } %>>&nbsp;</td>
							</tr>
						</tfoot>
						<tbody data-id=""></tbody>
					</table>
				</div>
			</div>
		</div>
	</td>
</tr>