<% _.each(destinations, function(destination){ %>
<label class="radio-inline"> <input class="location_id icheck" type="radio" name="location_id" value="<%= destination.get("id") %>"> <%= destination.get("location") %></label>
<% }); %>
<script type="text/javascript">
    $(document).ready(function(){
        /*Input & Radio Buttons*/
        $('.icheck').iCheck({
            checkboxClass: 'icheckbox_flat-green',
            radioClass: 'iradio_flat-green'
        });
        
        $('.iradio_flat-green').first().addClass('checked');
    });
</script>