<form id="cancellationReasonForm" class="form-horizontal">
	<input id="cancelled-order-id" type="hidden" name="id" value="" />
	<div class="row margin-top-0">
		<div class="col-sm-10 col-sm-offset-1">
			<p style="text-align:left">Please select a reason for cancellation to continue.</p>
			<div class="styled-select">
				<select class="form-control width-200" id="reason" name="reason" required>
					<option value="">Select a reason</option>
					<%= reasons %>
				</select>
			</div>
		</div>
	</div>
	<div id="cancellation-others-text" class="row" style="display:none;">
		<div class="col-sm-10 col-sm-offset-1">
			<textarea class="form-control" id="others" name="others"></textarea>
		</div>
	</div>
</form>