<% if (!_.isEmpty(weightInfo)) { %>
	<% _.each(weightInfo, function(info){ %>
		<% if (info.get("weightTicketNumber")) { %>
			<tr>
				<td>
					<a href="<%= weightInfo_url %>/<%= info.get("transportScheduleId") %>">
						<%= info.get("weightTicketNumber") %>
					</a>
				</td>
				<td><label class="label label-<%= info.get("status").class %>"><%= info.get("status").name %></label></td>
				<td>
					<a href="<%= po_schedule_url %>/<%= info.get("transportScheduleId") %>">
						<%= formatDateAMPM(info.get("transportScheduleDate")) %>
					</a>
				</td>
				<td class="text-right"><%= numberFormatTons(info.get("gross")) %></td>
				<td class="text-right"><%= numberFormatTons(info.get("tare")) %></td>
				<td class="text-right"><%= numberFormatTons(info.get("netWeight")) %></td>
			</tr>
		<% } %>
	<% }); %>
<% } else { %>
	<tr>
		<td colspan="5">No result found.</td>
	</tr>
<% } %>