<div class="content padding-top-0">
	<% if(!wi.get("weightTicketNumber")) { %>
		<h2 class="ponumber margin-bottom-0"><%= po.get("order_number") %></h2>
		Scheduled Date: <span class="text-danger"><%= formatDateAMPM(schedule.get("date")) %></span><br>
		Status: <label class="label label-<%= schedule.get("status").class %>"><%= schedule.get("status").name %></label><br>
	<% } else { %>
		<h2 class="ponumber margin-bottom-0"><%= wi.get("weightTicketNumber") %></h2>
		Loading Ticket No.: <span class="text-danger"><%= wi.get("loadingTicketNumber") %></span><br>
		Status: <label class="label label-<%= wi.get("status").class %>"><%= wi.get("status").name %></label><br>
		PO No.: <span class="text-danger"><%= po.get("order_number") %></span><br>
		Scheduled Date: <span class="text-danger"><%= formatDateAMPM(schedule.get("date")) %></span><br>
		Created: <span class="text-danger"><%= formatDateAMPM(wi.get("created_at")) %></span>
	<% } %>
	<!-- <div class="row">
		<div class="col-md-12">
			<div class="tab-container">
				<ul class="nav nav-tabs flat-tabs">
				  <li class="active"><a data-toggle="tab" href="#pt">Pickup</a></li>
				  <li class=""><a data-toggle="tab" href="#dt">Dropoff</a></li>
				</ul>
				<div class="tab-content">
					<div id="pt" class="tab-pane cont active">
						<% if (typeof editable !== "undefined") { if (typeof has_pickup_info !== "undefined") { %>
							<a class="btn btn-primary btn-sm btn-trans btn-rad margin-left-0 editable-button" href="<%= pickup_weight_info_edit_url %>">
								<i class="fa fa-pencil width-10"></i> Edit Ticket
							</a>
						<% } else { %>
							<a class="btn btn-primary btn-sm btn-trans btn-rad editable-button margin-left-0" href="<%= pickup_weight_info_add_url %>">
								+ Add Ticket
							</a>
						<% } } %>
					</div>
					<div id="dt" class="tab-pane cont">
						<% if (typeof editable !== "undefined") { if (typeof has_dropoff_info !== "undefined") { %>
							<a class="btn btn-success btn-sm btn-trans btn-rad editable-button margin-left-0" href="<%= dropoff_weight_info_edit_url %>">
								<i class="fa fa-pencil width-10"></i> Edit Ticket
							</a>
						<% } else { %>
							<a class="btn btn-success btn-sm btn-trans btn-rad editable-button margin-left-0" href="<%= dropoff_weight_info_add_url %>">
								+ Add Ticket
							</a>
						<% } } %>
					</div>
				</div>
			</div>
		</div>
	</div> -->
  <form id="poWeightInfoFrom" class="form-horizontal" role="form" method="post" enctype="multipart/form-data">
    <fieldset>
      <legend>Pickup</legend>
      <div id="pickup-fields" style="display:none;">
		  <div class="table-responsive">
			<table id="pickup-info" class="table table-bordered">
			  <thead>
				<tr>
				  <th style="width:15%;">Scale</th>
				  <th style="width:15%;">Scale Name</th>
				  <th style="width:15%;">Scale Fee</th>
				  <th style="width:15%;">Bales</th>
				  <th style="width:15%;">Gross</th>
				  <th style="width:15%;">Tare</th>
				  <th style="width:10%;">Net</th>
				</tr>
			  </thead>
			  <tbody>
				<tr>
				  <td><input class="form-control scale-account" placeholder="" readonly></td>
				  <td><input class="form-control scale-name" placeholder="" readonly></td>
				  <td><input class="form-control fee" placeholder="0.00" readonly></td>
				  <td><input class="form-control bales" placeholder="0" readonly></td>
				  <td><input class="form-control gross" placeholder="0.0000" readonly></td>
				  <td><input class="form-control tare" placeholder="0.0000" readonly></td>
				  <td><span class="net">0.0000</span></td>
				</tr>
			  </tbody>
			</table>
		  </div>
		  <div class="table-responsive">
			<table id="pickup-product-list" class="table table-bordered">
			  <thead>
				<tr>
				  <th style="width:20%;">Stack No.</th>
				  <th style="width:20%;">Product</th>
				  <th style="width:20%;">Bales</th>
				  <th style="width:20%;">Lbs.</th>
				  <th style="width:20%;">Net Tons</th>
				</tr>
			  </thead>
			  <tfoot>
				<tr>
				  <td colspan="2">Total</td>
				  <td><span class="total-bales">0</span></td>
				  <td><span class="total-pounds">0.00</span></td>
				  <td><span class="total-net-tons">0.0000</span></td>
				</tr>
			  </tfoot>
			  <tbody></tbody>
			</table>
		  </div>
	  </div>
    </fieldset>
	<div class="form-group form-button-container">
        <div class="col-md-12">
            <div class="pull-right">
                <% if (typeof editable !== "undefined") { %>
					<% if (typeof has_pickup_info !== "undefined") { %>
						<a class="btn btn-primary editable-button" href="<%= pickup_weight_info_edit_url %>">Edit Pickup Weight Ticket</a>
					<% } else { %>
						<a class="btn btn-primary editable-button" href="<%= pickup_weight_info_add_url %>">Add Pickup Weight Ticket</a>
					<% } %>
				<% } %>
            </div>
        </div>
    </div>
	<fieldset>
      <legend>Dropoff</legend>
	  <div id="dropoff-fields" style="display:none;">
		  <div class="table-responsive">
			<table id="dropoff-info" class="table table-bordered">
			  <thead>
				<tr>
				  <th style="width:15%;">Scale</th>
				  <th style="width:15%;">Scale Name</th>
				  <th style="width:15%;">Scale Fee</th>
				  <th style="width:15%;">Bales</th>
				  <th style="width:15%;">Gross</th>
				  <th style="width:15%;">Tare</th>
				  <th style="width:10%;">Net</th>
				</tr>
			  </thead>
			  <tbody>
				<tr>
				  <td><input class="form-control scale-account" placeholder="" readonly></td>
				  <td><input class="form-control scale-name" placeholder="" readonly></td>
				  <td><input class="form-control fee" placeholder="0.00" readonly></td>
				  <td><input class="form-control bales" placeholder="0" readonly></td>
				  <td><input class="form-control gross" placeholder="0.0000" readonly></td>
				  <td><input class="form-control tare" placeholder="0.0000" readonly></td>
				  <td><span class="net">0.0000</span></td>
				</tr>
			  </tbody>
			</table>
		  </div>
		  <div class="table-responsive">
			<table id="dropoff-product-list" class="table table-bordered">
			  <thead>
				<tr>
				  <th style="width:20%;">Stack No.</th>
				  <th style="width:20%;">Product</th>
				  <th style="width:20%;">Bales</th>
				  <th style="width:20%;">Lbs.</th>
				  <th style="width:20%;">Net Tons</th>
				</tr>
			  </thead>
			  <tfoot>
				<tr>
				  <td colspan="2">Total</td>
				  <td><span class="total-bales">0</span></td>
				  <td><span class="total-pounds">0.00</span></td>
				  <td><span class="total-net-tons">0.0000</span></td>
				</tr>
			  </tfoot>
			  <tbody></tbody>
			</table>
		  </div>
	  </div>
    </fieldset>
	<div class="form-group form-button-container">
        <div class="col-md-12">
            <div class="pull-right">
				<% if (typeof editable !== "undefined") { %>
					<% if (typeof has_dropoff_info !== "undefined") { %>
						<a class="btn btn-primary editable-button" href="<%= dropoff_weight_info_edit_url %>">Edit Dropoff Weight Ticket</a>
					<% } else { %>
						<a class="btn btn-primary editable-button" href="<%= dropoff_weight_info_add_url %>">Add Dropoff Weight Ticket</a>
					<% } %>
                <% } %>
            </div>
        </div>
    </div>
    <div class="form-group form-button-container">
        <div class="col-md-12">
            <div class="pull-right">
                <a href="<%= weight_info_print_url %>" class="btn btn-primary">Print</a>
                <button id="mail-weight-ticket" class="btn btn-primary">Email</button>
                <% if (typeof editable !== "undefined") { %>
					<a class="btn btn-primary close-weight-ticket editable-button" href="#">Close Weight Ticket</a>
				<% } %>
				<a id="go-to-previous-page" class="btn btn-default" href="#">Back</a>
            </div>
        </div>
    </div>
  </form>
  
</div>
