<tr class="product-item">
	<td>
		<input type="hidden" class="transportScheduleProduct_id" name="<%= route_type %>transportScheduleProduct_id<%= number %>" value="<%= id %>" />
		<span class="product-stock-number"><%= stock_number %></span>
	</td>
	<td><span class="product-name"><%= name %></span></td>
	<td><input class="form-control product-bales" name="<%= route_type %>bales<%= number %>" maxlength="250" /></td>
	<td><input class="form-control product-pounds" name="<%= route_type %>pounds<%= number %>" maxlength="250" /></td>
	<td><span class="product-net"><%= net %></span></td>
</tr>
