<div class="row">
    <div class="col-md-12">
        <div class="block-flat">
            <div class="content">
              
              <form id="poWeightInfoFrom" class="form-horizontal" role="form" method="post" enctype="multipart/form-data">
                <fieldset>
                  <legend>Details</legend>
                  <div class="row">
                    <div class="col-md-6">
                      <div class="form-group">
                        <label for="po-number" class="col-sm-3 control-label">PO No.</label>
                        <div class="col-sm-7">
                          <input id="po-number" type="text" class="form-control" maxlength="250" readonly>
                        </div>
                      </div>
					  <div class="form-group">
                        <label for="producer" class="col-sm-3 control-label">Producer</label>
                        <div class="col-sm-7">
                          <input id="producer" type="text" class="form-control" maxlength="250" readonly>
                        </div>
                      </div>
					  <div class="form-group">
                        <label for="weight-ticket-no" class="col-sm-3 control-label">Weight Ticker No.</label>
                        <div class="col-sm-7">
                          <input id="weight-ticket-no" type="text" class="form-control" maxlength="250" readonly>
                        </div>
                      </div>
					  <div class="form-group">
                        <label for="loading-ticket-no" class="col-sm-3 control-label">Loading Ticket No.</label>
                        <div class="col-sm-7">
                          <input id="loading-ticket-no" type="text" class="form-control" maxlength="250" readonly>
                        </div>
                      </div>
                    </div>
                    <div class="col-md-6">
                      <div class="form-group">
                        <label for="date-and-time" class="col-sm-3 control-label">Date and Time</label>
                        <div class="col-sm-7">
                          <input id="date-and-time" type="text" class="form-control" maxlength="250" readonly>
                        </div>
                      </div>
                    </div>
                  </div>
                </fieldset>
                <fieldset>
                  <legend>Pickup</legend>
                  <div class="table-responsive">
                    <table id="pickup-info" class="table table-bordered">
                      <thead>
                        <tr>
                          <th style="width:15%;">Scale</th>
						  <th style="width:15%;">Scale Name</th>
                          <th style="width:15%;">Scale Fee</th>
                          <th style="width:15%;">Bales</th>
                          <th style="width:15%;">Gross</th>
                          <th style="width:15%;">Tare</th>
                          <th style="width:10%;">Net</th>
                        </tr>
                      </thead>
                      <tbody>
					    <tr>
						  <td><input class="form-control scale-account" placeholder="" readonly></td>
						  <td><input class="form-control scale-name" placeholder="" readonly></td>
						  <td><input class="form-control fee" placeholder="0.00" readonly></td>
						  <td><input class="form-control bales" placeholder="0" readonly></td>
						  <td><input class="form-control gross" placeholder="0.0000" readonly></td>
						  <td><input class="form-control tare" placeholder="0.0000" readonly></td>
						  <td><span class="net">0.0000</span></td>
						</tr>
					  </tbody>
                    </table>
                  </div>
				  <div class="table-responsive">
                    <table id="pickup-product-list" class="table table-bordered">
                      <thead>
                        <tr>
                          <th style="width:20%;">Stack No.</th>
                          <th style="width:20%;">Product</th>
						  <th style="width:20%;">Bales</th>
                          <th style="width:20%;">Lbs.</th>
                          <th style="width:20%;">Net Tons</th>
                        </tr>
                      </thead>
					  <tfoot>
						<tr>
						  <td colspan="2">Total</td>
						  <td><span class="total-bales">0</span></td>
						  <td><span class="total-pounds">0.00</span></td>
						  <td><span class="total-net-tons">0.0000</span></td>
						</tr>
					  </tfoot>
                      <tbody></tbody>
                    </table>
                  </div>
                </fieldset>
				<fieldset>
                  <legend>Dropoff</legend>
                  <div class="table-responsive">
                    <table id="dropoff-info" class="table table-bordered">
                      <thead>
                        <tr>
                          <th style="width:15%;">Scale</th>
						  <th style="width:15%;">Scale Name</th>
                          <th style="width:15%;">Scale Fee</th>
                          <th style="width:15%;">Bales</th>
                          <th style="width:15%;">Gross</th>
                          <th style="width:15%;">Tare</th>
                          <th style="width:10%;">Net</th>
                        </tr>
                      </thead>
                      <tbody>
					    <tr>
						  <td><input class="form-control scale-account" placeholder="" readonly></td>
						  <td><input class="form-control scale-name" placeholder="" readonly></td>
						  <td><input class="form-control fee" placeholder="0.00" readonly></td>
						  <td><input class="form-control bales" placeholder="0" readonly></td>
						  <td><input class="form-control gross" placeholder="0.0000" readonly></td>
						  <td><input class="form-control tare" placeholder="0.0000" readonly></td>
						  <td><span class="net">0.0000</span></td>
						</tr>
					  </tbody>
                    </table>
                  </div>
				  <div class="table-responsive">
                    <table id="dropoff-product-list" class="table table-bordered">
                      <thead>
                        <tr>
                          <th style="width:20%;">Stack No.</th>
                          <th style="width:20%;">Product</th>
                          <th style="width:20%;">Bales</th>
						  <th style="width:20%;">Lbs.</th>
                          <th style="width:20%;">Net Tons</th>
                        </tr>
                      </thead>
					  <tfoot>
						<tr>
						  <td colspan="2">Total</td>
						  <td><span class="total-bales">0</span></td>
						  <td><span class="total-pounds">0.00</span></td>
						  <td><span class="total-net-tons">0.0000</span></td>
						</tr>
					  </tfoot>
                      <tbody></tbody>
                    </table>
                  </div>
                </fieldset>
                <div class="form-group form-button-container">
                    <div class="col-md-12">
                        <div class="pull-right">
                            <a class="btn btn-primary" href="<%= weight_info_edit_url %>">Edit Weight Ticket</a>
                            <a class="btn btn-default" href="<%= previous_po_sched_url %>">Cancel</a>
                        </div>
                    </div>
                </div>
              </form>
              
            </div> <!-- /.content -->
        </div> <!-- /.block-flat -->
    </div>
</div>