<tr class="product-item">
	<td class='valign-middle'><span class="product-name"><%= name %></span></td>
	<td class='valign-middle'>
		<input type="hidden" class="id" name="id<%= number %>" value="<% if (typeof id !== "undefined") { %><%= id %><% } %>" />
		<input type="hidden" class="transportScheduleProduct_id" name="transportScheduleProduct_id<%= number %>" value="<%= schedule_product_id %>" />
		<code><span class="product-stock-number"><%= stock_number %></span></code>
	</td>
	<td><input class="form-control product-bales input-sm" name="bales<%= number %>" value="<% if (typeof bales !== "undefined") { %><%= bales %><% } %>" maxlength="250" placeholder='0' /></td>
	<td><input class="form-control product-pounds input-sm" name="pounds<%= number %>" value="<% if (typeof pounds !== "undefined") { %><%= pounds %><% } %>" maxlength="250" placeholder='0.00' /></td>
	<td class='valign-middle'><span class="product-net"><%= net %></span></td>
</tr>
