<% if (!_.isEmpty(stacknumbers)) { %>
	<% _.each(stacknumbers, function(stacknumber){ %>
	<tr>
		<td><%= formatDate(stacknumber.get("transactionDate")) %></td>
		<td><% if (stacknumber.get("weightticketnumber")) { %><%= stacknumber.get("weightticketnumber") %><% } %></td>
		<td><%= stacknumber.get("transactionType") %></td>
		<td><% if (stacknumber.get("ordernumber")) { %><%= stacknumber.get("ordernumber") %><% } %></td>
		<td><%= stacknumber.get("totalDelivered") %></td>
	</tr>
	<% }); %>
<% } else { %>
	<tr>
		<td colspan="5">No result found.</td>
	</tr>
<% } %>