<div>
	<a href="<%= product_add_url %>">+ Add Product</a>
</div>
<div>
	<ul class="pagination" style="display:none;">
		<li><a class="first-page" href="#">&laquo;</a></li>
		<li><a class="last-page" href="#">&raquo;</a></li>
	</ul>
</div>
<div class="table-responsive">
	<table id="product-list" class="table table-bordered">
		<thead>
			<tr>
				<th>Product</th>
				<th>Description</th>
				<th>Operation</th>
			</tr>
		</thead>
		<tbody></tbody>
	</table>
</div>
<div>
	<ul class="pagination" style="display:none;">
		<li><a class="first-page" href="#">&laquo;</a></li>
		<li><a class="last-page" href="#">&raquo;</a></li>
	</ul>
</div>