<% if (!_.isEmpty(products)) { %>
  <% _.each(products, function(product){ %>
    <tr>
      <td valign="top"><%= product.get("name") %></td>
      <td><p style="word-wrap: break-word; max-width: 520px;"><%= product.get("description") %></p></td>
      <td valign="top">
        <a href="<%= product_edit_url %>/<%= product.get("id") %>" class="text-primary">
		      <span class="fa-stack">
            <i class="fa fa-square fa-stack-2x"></i>
            <i class="fa fa-pencil fa-stack-1x fa-inverse"></i>
          </span>
        </a>
        <a href="#" class="text-danger delete-product" data-id="<%= product.get("id") %>">
    			<span class="fa-stack">
            <i class="fa fa-square fa-stack-2x"></i>
            <i class="fa fa-times fa-stack-1x fa-inverse"></i>
          </span>
    		</a>
      </td>
    </tr>
  <% }); %>
<% } else { %>
	<tr>
		<td colspan="3">No results found.</td>
	</tr>
<% } %>