<% if (!_.isEmpty(products)) { %>
  <% _.each(products, function(product){ %>
    <tr>
      <td class="align-center"><input type="checkbox" name="productids[]" class="productids" value="<%= product.get("id") %>"></td>
      <td><a href="<%= product_url %>/<%= product.get("id") %>"><%= product.get("name") %></a></td>
      <td><%= product.get("description") %></td>
      <td>
        <a href="<%= product_edit_url %>/<%= product.get("id") %>" class="btn btn-info btn-xs">
           <span class="glyphicon glyphicon-pencil"></span>
        </a>
        <a href="<%= product_edit_url %>/<%= product.get("id") %>" id="delete" class="btn btn-danger btn-xs">
          <span class="glyphicon glyphicon-remove"></span>
        </a>
      </td>
    </tr>
  <% }); %>
<% } else { %>
	<tr>
		<td colspan="4">No result found.</td>
	</tr>
<% } %>