<% if (!_.isEmpty(products)) { %>
  <% _.each(products, function(product){ %>
    <tr>
      <td><%= product.get("name") %></td>
      <td style="word-wrap: break-word;"><%= product.get("description") %></td>
      <td>
        <a href="<%= product_edit_url %>/<%= product.get("id") %>" class="btn btn-info btn-xs">
			<span class="glyphicon glyphicon-pencil"></span>
        </a>
        <a href="#" class="btn btn-danger btn-xs delete-product" data-id="<%= product.get("id") %>">
			<span class="glyphicon glyphicon-remove"></span>
		</a>
      </td>
    </tr>
  <% }); %>
<% } else { %>
	<tr>
		<td colspan="3">No results found.</td>
	</tr>
<% } %>