<% if (!_.isEmpty(contacts)) { %>
  <% _.each(contacts, function(contact){ %>
    <tr>
      <td><a href="<%= contact_url %>/<%= contact.get("id") %>"><%= contact.get("lastname") %>, <%= contact.get("firstname") %> <%= contact.get("suffix") %></a></td>
      <td><a href="<%= account_url %>/<%= contact.get("account").id %>"><%= contact.get("account").name %></a></td>
      <td>
        <%
          _.each(contact.get('account').accounttype, function(type){ %>
          <span class="label label-default"><%= type.name %></span>
          <% });
        %>
      </td>
      <td><%= contact.get("position") %></td>
      <td><a href='mailto:<%= contact.get("email") %>'><%= contact.get("email") %></a></td>
      <td><%= contact.get("phone") %></td>
      <td align="center">
        <a href="<%= contact_edit_url %>/<%= contact.get("id") %>">
          <span class="fa-stack">
            <i class="fa fa-square fa-stack-2x"></i>
            <i class="fa fa-pencil fa-stack-1x fa-inverse"></i>
          </span>
        </a>
        <a href="#" class="color-danger delete-contact" data-id="<%= contact.get("id") %>">
    		  <span class="fa-stack">
            <i class="fa fa-square fa-stack-2x"></i>
            <i class="fa fa-times fa-stack-1x fa-inverse"></i>
          </span>
    		</a>
      </td>
    </tr>
  <% }); %>
<% } else { %>
	<tr>
		<td colspan="7"><span class="text-danger">No results found.</span></td>
	</tr>
<% } %>