<div class="row margin-top-0">
    <div class="col-md-12 no-padding">
        <div class="block-flat padding-top-0 padding-bottom-0">
            <div class="content padding-top-0">
            
                <div class="row margin-top-0">
                    <!-- div class="col-md-3">
                        <img class="img-circle margin-top-10" src="/images/default_profile.jpg">
                    </div -->
                    <div class="col-md-9">
                        <form id="addContactForm" class="form-horizontal" contact="form" method="post">
                            <% if (typeof contact_id !== "undefined") { %>
                                <input type="hidden" id="id" name="id" value="<%= contact_id %>" />
                            <% } %>
                            <div class="form-group">
                                <label for="firstname" class="col-sm-3 control-label">First Name *</label>
                                <div class="col-sm-5">
                                    <input type="text" class="form-control capitalize width-300 input-sm" id="firstname" name="firstname" placeholder="" minlength="1" maxlength="50" required>
                                </div>
                            </div>
                            <div class="form-group">
                                <label for="lastname" class="col-sm-3 control-label">Last Name *</label>
                                <div class="col-sm-5">
                                    <input type="text" class="form-control capitalize width-300 input-sm" id="lastname" name="lastname" placeholder="" minlength="1" maxlength="50" required>
                                </div>
                            </div>
                            <div class="form-group">
                                <label for="suffix" class="col-sm-3 control-label">Suffix</label>
                                <div class="col-sm-5">
                                  <input type="text" class="form-control capitalize width-70 input-sm" id="suffix" name="suffix" placeholder="" minlength="2" maxlength="6">
                                </div>
                            </div>
                            <div class="form-group">
                                <label for="account" class="col-sm-3 control-label">Account Name *</label>
                                <div class="col-sm-5">
                                    <input type="text" class="form-control width-300 input-sm" id="account" name="" placeholder="" minlength="1" maxlength="50" required>
                                    <input type="hidden" class="form-control" id="account_id" name="account" required>
                                </div>
                            </div>
                            <div class="form-group">
                                <label for="position" class="col-sm-3 control-label">Position</label>
                                <div class="col-sm-5">
                                    <input type="text" class="form-control capitalize width-300 input-sm" id="position" name="position" placeholder="" minlength="1" maxlength="50">
                                </div>
                            </div>
                            <div class="form-group">
                                <label for="email" class="col-sm-3 control-label">Email *</label>
                                <div class="col-sm-5">
                                    <input type="text" class="form-control lowercase width-300 input-sm" id="email" name="email" placeholder="" minlength="1" maxlength="128" required>
                                </div>
                            </div>
                            <div class="form-group">
                                <label for="phone" class="col-sm-3 control-label">Phone *</label>
                                <div class="col-sm-5">
                                    <input type="text" class="form-control phone-number width-150 input-sm" id="phone" name="phone" placeholder="" minlength="12" maxlength="12" required>
                                </div>
                            </div>
                            <div class="form-group">
                                <label for="mobile" class="col-sm-3 control-label">Mobile</label>
                                <div class="col-sm-5">
                                    <input type="text" class="form-control mobile-number width-150 input-sm" id="mobile" name="mobile" placeholder="" minlength="12" maxlength="12">
                                </div>
                            </div>
                            <div class="form-group">
                                <label for="rate" class="col-sm-3 control-label">Rate</label>
                                <div class="col-sm-5">
                                    <div class="input-group input-group-sm margin-0 width-100">
                                        <input type="text" class="form-control rate width-150 text-right" id="rate" name="rate" placeholder="0.00">
                                        <span class="input-group-addon">%</span>
                                    </div>
                                </div>
                            </div>
                            <div class="form-group">
                                <label for="" class="col-sm-3 control-label"></label>
                                <div class="col-sm-5">
                                     <button id="save" type="submit" class="save btn btn-primary btn-sm"><i class="fa fa-save"></i> Save</button>
                                     <a id="go-to-previous-page" class="btn btn-link btn-sm" href="#">Cancel</a>
                                </div>
                            </div>
                        </form>
                    </div>
                </div>

            </div> <!-- /.content -->
        </div> <!-- /.block-flat -->
    </div>
</div>