<% if (!_.isEmpty(contacts)) { %>
  <% _.each(contacts, function(contact){ %>
    <tr>
      <td class="align-center"><input type="checkbox" name="contactids[]" class="contactids" value="<%= contact.get("id") %>"></td>
      <td><a href="<%= contact_url %>/<%= contact.get("id") %>"><%= contact.get("lastname") %>, <%= contact.get("firstname") %></a></td>
      <td><%= contact.get("account").name %></td>
      <td><%= contact.get("position") %></td>
      <td><%= contact.get("email") %></td>
      <td><%= contact.get("mobile") %></td>
      <td><%= contact.get("phone") %></td>
      <td>
        <a href="<%= contact_edit_url %>/<%= contact.get("id") %>" class="btn btn-info btn-xs">
          <span class="glyphicon glyphicon-pencil"></span>
        </a>

        <a href="<%= contact_edit_url %>/<%= contact.get("id") %>" class="btn btn-danger btn-xs">
          <span class="glyphicon glyphicon-remove"></span>
        </a>
      </td>
    </tr>
  <% }); %>
<% } else { %>
	<tr>
		<td colspan="8">No result found.</td>
	</tr>
<% } %>