<div class="row">
    <div class="col-md-12">
        <div class="block-flat">

            <dl class="dl-horizontal">
                <% if(!_.isEmpty(contact.get("firstname"))) { %>
                <dt>Full Name</dt>
                <dd><%= contact.get("lastname") %>, <%= contact.get("firstname") %></dd>
                <% } else { %>
                <dd>&nbsp;</dd>
                <% } %>

                <% if(!_.isEmpty(contact.get("account"))) { %>
                <dt>Account Name</dt>
                <dd><%= contact.get("account").name %></dd>
                <% } %>

                <% if(!_.isEmpty(contact.get("position"))) { %>
                <dt>Position</dt>
                <dd><%= contact.get("position") %></dd>
                <% } %>

                <% if(!_.isEmpty(contact.get("email"))) { %>
                <dt>Email</dt>
                <dd><%= contact.get("email") %></dd>
                <% } %>

                <% if(!_.isEmpty(contact.get("phone"))) { %>
                <dt>Phone</dt>
                <dd><%= contact.get("phone") %></dd>
                <% } %>

                <% if(!_.isEmpty(contact.get("mobile"))) { %>
                <dt>Mobile</dt>
                <dd><%= contact.get("mobile") %></dd>
                <% } %>
                
                <% if(!_.isEmpty(contact.get("rate"))) { %>
                <dt>Rate</dt>
                <dd><%= contact.get("rate") %> %</dd>
                <% } %>

                <dt></dt>
                <dd>
                    <div class="clearfix"></div>
                    <a href="<%= contact_edit_url %>/<%= contact.get("id") %>" class="btn btn-primary"><i class="fa fa-pencil width-10"></i> Edit</a>
                    <button id="delete-contact" type="button" class="btn btn-danger"><i class="fa fa-times width-10"></i> Delete</button>
                    <a id="go-to-previous-page" href="#" class="btn btn-link">Cancel</a>
                </dd>
            </dl>
        </div> <!-- /.block-flat -->
    </div>
</div>