<div class="row">
    <div class="col-md-12">
        <div class="block-flat">
            <div class="content">

                <form id="addPermissionToRoleForm" class="form-horizontal" role="form" method="post">
                  <div class="table-responsive">
                    <table id="permission-list" class="table table-bordered table-hover">
                      <thead>
                        <tr>
                          <th>Permission</th>
                        </tr>
                      </thead>
                      <tbody></tbody>
                    </table>
                  </div>
                  <div class="form-button-container" style="display:none;">
                    <button id="save" type="submit" class="save btn btn-primary">Save</button>
                    <a id="go-to-previous-page" href="#" class="btn btn-default">Cancel</a>
                  </div>
                </form>
              
            </div> <!-- /.content -->
        </div> <!-- /.block-flat -->
    </div>
</div>