<div class="row margin-top-0">
    <div class="col-md-12 no-padding">
        <div class="block-flat padding-top-0 padding-bottom-0">
            <div class="content padding-top-10">

                <form id="addPermissionToRoleForm" class="form-horizontal" role="form" method="post">
                  <div class="content-inner table-responsive">
                    <table id="permission-list" class="table-condensed table-bordered table-hover">
                      <thead>
                        <tr>
                          <th>Permission</th>
                        </tr>
                      </thead>
                      <tbody></tbody>
                    </table>
                  </div>
                  <div class="form-button-container margin-top-10" style="display:none;">
                    <button id="save" type="submit" class="save btn btn-primary btn-rad btn-sm"><i class="fa fa-save"></i> Save</button>
                    <a href="#" class="btn btn-warning btn-sm btn-rad" id="go-to-previous-page"><i class="fa fa-ban width-10"></i> Cancel</a>
                  </div>
                </form>
              
            </div> <!-- /.content -->
        </div> <!-- /.block-flat -->
    </div>
</div>