<div class="row margin-top-0">
    <div class="col-md-12">
        <div class="block-flat">
            <div class="content padding-top-0">
              <div class="row margin-top-0">
                <div class="col-md-3 padding-top-10 padding-right-0">
                  <a href="<%= scale_add_url %>" class="btn btn-primary">+ Add Scale</a>
                </div>
                <div class="col-md-2"></div>
                <div class="col-md-2"></div>
                <div class="col-md-2"></div>
                <div class="col-md-3 padding-top-10">
                  <form id="searchLocal" name="searchLocal" class="form-inline searchLocal" role="form">
                      <div class="input-group">
                        <label class="sr-only" for="search">Search</label>
                        <input type="text" class="search form-control" id="search-keyword" placeholder="">

                        <div class="input-group-btn">
                          <button type="button" class="btn btn-primary search-local">Search</button>
                        </div>
                      </div>
                  </form>
                </div>
              </div>

              <div class="clearfix">
                <ul class="pagination" style="display:none;">
                  <li><a class="first-page" href="#">&laquo;</a></li>
                  <li><a class="last-page" href="#">&raquo;</a></li>
                </ul>
              </div>

              <div class="content-inner table-responsive">
                <table id="scale-list" class="table table-bordered table-hover">
                  <thead>
                    <tr>
					  <th>Scaler Account</th>
					  <th>Scale Name</th>
					  <th>Scale Fee</th>
					  <th>Action</th>
                    </tr>
                  </thead>
                  <tbody></tbody>
                </table>
              </div>

              <!--<div class="clearfix">
                <ul class="pagination" style="display:none;">
                  <li><a class="first-page" href="#">&laquo;</a></li>
                  <li><a class="last-page" href="#">&raquo;</a></li>
                </ul>
              </div>-->

            </div> <!-- /.content -->
        </div> <!-- /.block-flat -->
    </div>
</div>