<div class="row">
    <div class="col-md-12">
        <div class="block-flat">
            <dl id="view-scale" class="dl-horizontal">
                <dt>Scaler Account</dt>
                <dd><%= scale.get("account").name %></dd>
                <dt>Scale Name</dt>
                <dd><%= scale.get("name") %></dd>
                <dt>Scale Fee</dt>
                <dd>$ <%= numberFormat(scale.get("rate")) %></dd>
                <dd>
                    <div class="clearfix"></div>
                    <a href="<%= scale_edit_url %>/<%= scale.get('id') %>" class="btn btn-primary">Edit</a>
                    <button id="delete-scale" type="button" class="btn btn-danger">Delete</button>
                    <a id="go-to-previous-page" href="#" class="btn btn-default">Cancel</a>
                </dd>
            </dl>
        </div>
    </div>
</div>