<div class="row margin-top-0">
    <div class="col-md-12 no-padding">
        <div class="block-flat padding-top-0 padding-bottom-0">
            <div class="content padding-top-0">
                <div class="row margin-top-0">
                    <div class="col-md-12">
                        <form id="scalerForm" class="form-horizontal" role="form" method="post" enctype="multipart/form-data">
                            <% if (typeof scale_id !== "undefined") { %>
                                <input type="hidden" name="id" value="<%= scale_id %>" />
                            <% } %>
                            <fieldset>
                                <legend><h3 class="margin-top-10 margin-bottom-0">DETAILS</h3></legend>
                                <div class="form-group">
                                    <label for="account_id" class="col-sm-2 control-label">Scale Account Name <i class="color-danger">*</i></label>
                                    <div class="col-sm-5">
                                        <select class="form-control width-304 input-sm" id="account_id" name="account_id" required>
                                            <option value="">Select a scale account</option>
                                        </select>
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label for="name" class="col-sm-2 control-label">Scale Name <i class="color-danger">*</i></label>
                                    <div class="col-sm-5">
                                        <input type="text" class="form-control input-sm capitalize width-304" id="name" name="name" minlength="1" maxlength="20" required>
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label for="rate" class="col-sm-2 control-label">Scale Fee <i class="color-danger">*</i></label>
                                    <div class="col-sm-3">
                                        <div class="margin-0">
                                            <span class="input-group-addon pull-left">$</span>
                                            <input type="text" class="form-control input-sm mask-fee text-right pull-left width-150" id="rate" name="rate" min="0.00" max="100.00" maxlength="6" placeholder="0.00" required>
                                        </div>
                                    </div>
                                </div>
                            </fieldset>
                            <div class="form-group">
                                <div class="col-md-5 col-md-offset-2">
                                    <button id="save" type="submit" class="save btn btn-primary btn-rad btn-sm margin-left-0"><i class="fa fa-save"></i> Save</button>
                                    <% if (typeof scale_id !== "undefined") { %>
                                    <button id="delete-scale" type="button" class="btn btn-danger btn-rad btn-sm"><i class="fa fa-times width-10"></i> Delete</button>
                                    <% } %>
                                    <a id="go-to-previous-page" class="btn btn-link" href="#">Cancel</a>
                                </div>
                            </div>
                        </form>
                    </div>
                </div>
            </div> <!-- /.content -->
        </div> <!-- /.block-flat -->
    </div>
</div>