<% if (!_.isEmpty(scales)) { %>
	<% _.each(scales, function(scale){ %>
	<tr>
		<td><%= scale.get("account").name %></td>
		<td><%= scale.get("name") %></td>
		<td><%= scale.get("rate") %></td>
		<td>
			<a href="<%= scale_edit_url %>/<%= scale.get("id") %>" class="btn btn-info btn-xs" title="edit">
			  <span class="glyphicon glyphicon-pencil"></span>
			</a>
			<a href="#" class="btn btn-danger btn-xs delete-scale" data-id="<%= scale.get("id") %>">
			  <span class="glyphicon glyphicon-remove"></span>
			</a>
		</td>
	</tr>
	<% }); %>
<% } else { %>
	<tr>
		<td colspan="4">No result found.</td>
	</tr>
<% } %>