<div class="row margin-top-0">
    <div class="col-md-12 no-padding">
        <div class="padding-top-5 padding-bottom-10 margin-bottom-10">
          <div class="md-dark prusia">
            <h2 class="entity-header margin-top-0 margin-bottom-0 padding-bottom-10"><%= scale.get("name") %></h2>
          </div>           
        </div> 
        <div class="block-flat">
            <dl id="view-scale" class="dl-horizontal">
                <dt>Scale Account</dt>
                <dd><%= scale.get("account").name %></dd>
                <dt>Scale Fee</dt>
                <dd>$ <%= numberFormat(scale.get("rate")) %></dd>
                <dd>
                    <div class="clearfix"></div>
                    <a href="<%= scale_edit_url %>/<%= scale.get('id') %>" class="btn btn-primary btn-trans btn-rad btn-sm"><i class="fa fa-pencil width-10"></i> Edit</a>
                    <button id="delete-scale" type="button" class="btn btn-danger btn-rad btn-trans btn-sm"><i class="fa fa-times width-10"></i> Delete</button>
                    <a id="go-to-previous-page" href="#" class="btn btn-warning btn-trans btn-rad btn-sm"><i class="fa fa-ban width-10"></i> Cancel</a>
                </dd>
            </dl>
        </div>
    </div>
</div>