<div class="row">
	<div class="col-sm-12">
	    <div class="block-flat profile-info">
	      <div class="row">
	        <div class="col-sm-2">
	          <div class="avatar">
	          	<img class="profile-avatar" src="<% if (user.get("profileimg") != "" && user.get("profileimg") != null) { %><%= user.get("profileimg")+"?qwert="+(new Date().getTime()) %><% } else { %><%= user_pic_default %><% } %>" />
	          </div>
	        </div>
	        <div class="col-sm-10">
				<div class="personal">
		            <h1 class="name"><%= user.get("lastname") %>, <%= user.get("firstname") %> <%= user.get("suffix") %></h1>
		            <p class="description">
		            	<% _.each(user.get("roles"), function(role){ %>
							<span class="label label-default"><%= role.name %></span>
						<% }); %>
		            </p>

		            <ul class="list-unstyled">

						<li><i class="fa fa-sign-in"></i> <%= user.get("username") %></li>
		        	
			        	<% if (user.get("position") != "" | user.get("emp_no") != "") { %>
							<li><i class="fa fa-user"></i> <%= user.get("position") %> <%= user.get("emp_no") %></li>
						<% } %>
							
						<li><i class="fa fa-envelope"></i> <%= user.get("email") %></li>

			        	<% if (user.get("phone") != "") { %>
							<li><i class="fa fa-phone"></i> <%= user.get("phone") %></li>
						<% } %>

						<% if (user.get("mobile") != "") { %>
							<li><i class="fa fa-mobile-phone"></i> <%= user.get("mobile") %></li>
						<% }%>

					</ul>

		            <a href="<%=profile_edit_url%>" class="btn btn-primary btn-flat btn-rad margin-top-10" data-modal="reply-ticket">
		            	<i class="fa fa-pencil-square-o"></i> Edit Profile
		            </a>
				</div>
	        </div>
	      </div>
	    </div>
	</div>
</div>