<div class="row">
	<div class="col-md-3 user-pic-cont">
		<img class="user-pic" src="<% if (user.get("profileimg") != "" && user.get("profileimg") != null) { %><%= user.get("profileimg")+"?qwert="+(new Date().getTime()) %><% } else { %><%= user_pic_default %><% } %>" />
	</div>
	<div class="col-md-9">
		<dl class="dl-horizontal">
			<dt>Username</dt><dd><%= user.get("username") %></dd>
			<dt>Position</dt>
			<dd>
				<% if (user.get("position") != "") { %>
					<%= user.get("position") %>
				<% } else { %>
					&nbsp;
				<% } %>
			</dd>
			<dt>Email</dt><dd><%= user.get("email") %></dd>
			<dt>Phone</dt>
			<dd>
				<% if (user.get("phone") != "") { %>
					<%= user.get("phone") %>
				<% } else { %>
					&nbsp;
				<% } %>
			</dd>
			<dt>Mobile</dt>
			<dd>
				<% if (user.get("mobile") != "") { %>
					<%= user.get("mobile") %>
				<% } else { %>
					&nbsp;
				<% } %>
			</dd>
			<dt>Roles</dt>
			<dd>
				<% _.each(user.get("roles"), function(role){ %>
					<%= role.name %><br />
				<% }); %>
			</dd>
			<dt></dt>
		</dl>
	</div>
</div>