<div class="row margin-top-0">
    <div class="col-md-12 no-padding">
        <div class="padding-top-5 padding-bottom-10 margin-bottom-10">
          <div class="md-dark prusia">
            <h2 class="entity-header margin-top-0 margin-bottom-0 padding-bottom-10"><%= payment.get("transactionnumber") %></h2>
          </div>           
        </div>
        <div class="block-flat">           
            <fieldset>
                <legend>
                    <h3 class="margin-top-0">DETAILS</h3>
                </legend>
                <div class="row margin-top-0">
                    <div class="col-md-12 no-padding">
                        <dl id="view-trailer" class="dl-horizontal">
                            <dt>Posting Date</dt>
                            <dd><%= payment.get("created_at") %></dd>
                            <dt>PO No.</dt>
                            <dd><%= payment.get("order").order_number %></dd>
                            <dt>Producer</dt>
                            <dd><%= payment.get('account').name %></dd>
                            <dt>Check No.</dt>
                            <dd><%= payment.get("checknumber") %></dd>
                            <dt>Amount Paid</dt>
                            <dd>$ <%= payment.get("amount") %></dd>                            
                            <dt>Notes</dt>
                            <dd><%= payment.get("notes") %></dd>
                            <dd>
                                <div class="clearfix"></div>
                                <% if(!payment.get('isCancel')) { %>
                                    <a href="<%= payment_edit_url %>/<%= payment.get('id') %>" class="btn btn-primary btn-sm btn-trans btn-rad"><i class="fa fa-pencil width-10"></i> Edit</a>
                                <% } %> 
                                <button id="delete-payment" data-id="<%= payment.get("id") %>" type="button" class="btn btn-danger btn-sm btn-rad"><i class="fa fa-times width-10"></i> Delete Payment</button>                               
                                <a id="go-to-previous-page" href="#" class="btn btn-warning btn-sm btn-trans btn-rad"><i class="fa fa-ban width-10"></i> Cancel</a>
                            </dd>
                        </dl>
                    </div>
                </div>                                                 
            </fieldset>                
        </div>
    </div>
</div>