<% if (!_.isEmpty(pos)) { 
   var progress = 0;  
  _.each(pos, function(po){   
    %>
    <tr class="collapse-trigger cursor-pointer" data-id="<%= po.get("id") %>">
      <td>
        <i class="fa fa-angle-right width-10 accordion-carret"></i>
        <a href="<%= po_url %>/<%= po.get("id") %>" class="stop-propagation"><%= po.get('order_number') %></a>
        <span class="throbber_wrap" style="display: none;"><i class="fa fa-spinner fa-spin throbber_ajax"></i></span>
      </td>
      <td><a href="<%= account_url %>/<%= po.get("account").id %>" class="stop-propagation"><%= po.get('account').name %></a></td>
      <td class="td-status"><label class="label label-<%= po.get('status').class %>"><%= po.get('status').name %></label></td>
      <td>$ <%= numberFormat(po.get('totalPayment')) %></td>
      <td>$ <%= numberFormat(po.get('paidAmount')) %></td>
      <td>$ <%= numberFormat(po.get('balanceAmount')) %></td>
      <td>
        <div class="progress">
          <div style="width: <%= parseInt(po.get('balanceAmount')) %>%" class="progress-bar progress-bar-<%= po.get('status').class %>"><%= parseInt(po.get('balanceAmount')) %>%</div>
        </div>
      </td>
    </tr>
    <tr>=
      <td colspan="9" style="padding:0;">
        <div class="order-collapsible-item list-view-collapse collapse" id="<%= collapsible_id %><%= po.get("id") %>">
          <div class="container">
            <div class="order-stack-details">
              <div class="col-md-12 no-padding">
                <div class="pull-right">
                  <% var postatus = po.get("status").id %>                  
                  <% if (postatus == po_status_pending || postatus == po_status_pending_status_open || postatus == po_status_pending_status_testing) { %>
                    <% if (postatus != po_status_pending) { %>
                      <a href="<%= payment_url %>/<%= add %>/<%= po.get("id") %>" class="btn btn-trans btn-primary btn-rad btn-sm editable-button">
                        <i class="fa fa-clock-o width-10"></i> Add Payment
                      </a>
                    <% } %>
                  <% } %>
                </div>
              </div>
              <div class="payment-list-by-order padding-top-10"></div>
            </div>
          </div>
        </div>
      </td>
    </tr>
  <% }); %>
<% } else { %>
  <tr>
    <td colspan="4">No results found.</td>
  </tr>
<% } %>