<div class="row margin-top-0">
    <div class="col-md-12 no-padding">
        <div class="block-flat padding-top-0 padding-bottom-0">
            <div class="content padding-top-0">
                <div class="row margin-top-0">
                    <div class="col-md-3 col-md-offset-9 padding-top-10">
                        <form id="searchLocal" name="searchLocal" class="form-inline searchLocal" role="form">
                            <div class="input-group input-group-sm">
                                <label class="sr-only" for="search">Search</label>
                                <input type="text" class="search form-control" id="search-keyword" placeholder="" style="border-radius:3px 0 0 3px;">

                                <div class="input-group-btn">
                                    <button type="button" class="btn btn-primary search-local">Search</button>
                                </div>
                            </div>
                        </form>
                    </div>
                </div>

                <div class="content-inner table-responsive">
                    <table id="commission-list" class="table-condensed table-bordered table-hover">
                        <thead>
                            <tr>
                                <th class="sortable cursor-pointer"><i class="fa fa-sort"></i> Full Name</th>
                            </tr>
                        </thead>
                        <tbody id="commission-accordion" class="accordion-list-cont">
                            <tr>
                                <td>Loading contents...</td>
                            </tr>
                        </tbody>
                    </table>

                    <div class="clearfix">
                        <div class="styled-select pull-left margin-top-10 margin-bottom-0 margin-left-0 margin-right-0 display-items" style="display:none;">
                            <select class="form-control width-100" id="perpage" name="perpage">
                                <option value="15">15 rows</option>
                                <option value="25">25 rows</option>
                                <option value="50">50 rows</option>
                            </select>
                        </div>
                        <ul class="pagination pagination-sm pull-right margin-top-10 margin-bottom-0 margin-left-0 margin-right-0" style="display:none;">
                            <li><a class="first-page btn" href="#"><span class="glyphicon glyphicon-fast-backward"></span></a></li>
                            <li><a class="prev-page btn" href="#"><span class="glyphicon glyphicon-step-backward"></span></a></li>
                            <li><a class="next-page btn" href="#"><span class="glyphicon glyphicon-step-forward"></span></a></li>
                            <li><a class="last-page btn" href="#"><span class="glyphicon glyphicon-fast-forward"></span></a></li>
                        </ul>
                    </div>
                </div>

            </div> <!-- /.content -->
        </div> <!-- /.block-flat -->
    </div>
</div>