<form id="commissionForm" class="form-horizontal">
	<div class="row margin-top-0">
		<div class="col-sm-12">
			<input type="hidden" id="weightticket_id" name="weightticket_id" value="" />
			<input type="hidden" id="order_id" name="order_id" value="" />
			<input type="hidden" id="user_id" name="user_id" value="" />
			<input type="hidden" id="tons" name="tons" value="" />
			<fieldset>
				<legend class="margin-bottom-10">
					<h3>Commission Type</h3>
				</legend>				
				<div id="commission-type-cont" class="form-group"><%= commission_type_template %></div>
				<div class="row margin-top-10">
					<div id="<%= column_id_pre %><%= commission_type[0].id %>" class="col-sm-6">
						<div class="form-group">
							<label for="amountdue" class="col-sm-5 control-label">Commission</label>
							<div class="col-sm-7">
								<div class="input-group input-group-sm margin-0 width-100">
									<span class="input-group-addon"><i class="fa fa-dollar"></i></span>
									<input id="commission-flat-rate" type="text" class="form-control text-right price" name="amountdue" placeholder="0.00" required>
								</div>
								<div class="error-msg-cont"></div>
							</div>
						</div>
					</div>
					<div id="<%= column_id_pre %><%= commission_type[1].id %>" class="col-sm-6" style="border-left:1px solid #ddd;">
						<div class="form-group">
							<label for="" class="col-sm-5 control-label">Tons</label>
							<div class="col-sm-7">
								<input id="commission-ton" type="text" class="form-control text-right width-100 input-sm" name="" placeholder="0.0000" readonly>
							</div>
						</div>
						<div class="form-group margin-top-5">
							<label for="rate" class="col-sm-5 control-label">Rate</label>
							<div class="col-sm-7">
								<div class="input-group input-group-sm margin-0 width-100">
									<span class="input-group-addon"><i class="fa fa-dollar"></i></span>
									<input id="commission-rate-per-ton" type="text" class="form-control text-right rate price" name="rate" placeholder="0.00" required>
								</div>
								<div class="error-msg-cont"></div>
							</div>
						</div>
						<div class="form-group margin-top-5">
							<label for="amountdue" class="col-sm-5 control-label">Commission</label>
							<div class="col-sm-7">
								<div class="input-group input-group-sm margin-0 width-100">
									<span class="input-group-addon"><i class="fa fa-dollar"></i></span>
									<input id="commission-total-per-ton" type="text" class="form-control text-right amountdue" name="amountdue" placeholder="0.00" readonly>
								</div>
							</div>
						</div>
					</div>
				</div>
			</fieldset>
		</div>
	</div>
</form>