<!-- Modal -->
<div data-backdrop="static" data-keyboard="false" class="modal fade" id="modal-attach-pdf" tabindex="-1" role="dialog">
	<div class="modal-dialog full-color custom-width">
		<div class="modal-content">
			<div class="modal-header">
				<button type="button" class="close close-window" data-dismiss="modal" aria-hidden="true">&times;</button>
				<h3>Upload a PDF</h3>
			</div>
			<div class="modal-body">
				<form id="uploadPDFForm" class="form-horizontal" role="form" method="post" enctype="multipart/form-data">
					<input type="hidden" id="pdf-field" name="pdf-field" value="" />
					<div class="row">
						<div class="col-sm-10 col-sm-offset-1">
							<div id="upload-field-cont" style="display:none;">
								<input type="file" id="pdf-file" class="pdf-file" name="pdf-file">
								<span class="throbber_wrap" style="display: none;"><i class="fa fa-refresh fa-spin throbber_ajax"></i></span>
								<a id="undo-remove" href="#">undo remove</a>
								<span id="upload-error" style="display:none;">error here!!!</span>
							</div>
							<div id="pdf-icon-cont">
								<input type="hidden" id="previous-upload" name="previous-upload" data-id="" value="" />
								<a href="/" target="_blank" class="view-file"><img class="pdf-icon-small" src="/images/pdf-icon-small.png" /></a>
								<a href="/" target="_blank" class="view-file"><span id="pdf-filename" data-id="">filename.pdf</span></a> <a id="remove-pdf-filename" href="#">remove</a>
							</div>
						</div>
					</div>
				</form>
			</div>
			<div class="modal-footer">
				<button type="button" class="btn btn-primary btn-mono2 btn-flat close-window" data-dismiss="modal">Close</button>
			</div>
		</div><!-- /.modal-content -->
	</div><!-- /.modal-dialog -->
</div><!-- /.modal -->