<!-- Modal -->
<div class="modal fade" id="modal-confirm-navigate-away" tabindex="-1" role="dialog">
	<div class="modal-dialog">
		<div class="modal-content">
			<div class="modal-header">
				<button type="button " class="close close-navigate-away-window" data-dismiss="modal" aria-hidden="true">&times;</button>
			</div>
			<div class="modal-body">
				<div class="text-center">
					<div class="i-circle warning"><i class="fa fa-warning"></i></div>
					<h4>Warning!</h4>
					<p class="confirm-content">You are about to navigate away from this page...<br>Are you sure you want to continue?</p>
				</div>
			</div>
			<div class="modal-footer">
				<button type="button" class="btn btn-default btn-flat close-navigate-away-window" data-dismiss="modal">Cancel</button>
				<button type="button" class="btn btn-warning btn-flat" data-dismiss="modal" data-id="" id="confirm-navigate">Ok</button>
			</div>
		</div><!-- /.modal-content -->
	</div><!-- /.modal-dialog -->
</div><!-- /.modal -->