<!-- Modal -->
<div class="modal fade" id="modal-confirm-navigate-away" tabindex="-1" role="dialog">
	<div class="modal-dialog custom-width">
		<div class="modal-content">
			<div class="modal-header">
				<h3>Unsaved Changes</h3>
				<button type="button " class="close close-window close-navigate-away-window" data-dismiss="modal" aria-hidden="true">
					&times;
				</button>
			</div>
			<div class="modal-body">
				<div class="text-center">
					<div class="i-circle warning"><i class="fa fa-warning"></i></div>
					<h4>Warning!</h4>
					<p class="confirm-content">You're about to navigate away from this page.<br>Are you sure you want to continue?</p>
				</div>
			</div>
			<div class="modal-footer">
				<button type="button" class="btn btn-default btn-sm btn-flat close-window close-navigate-away-window" data-dismiss="modal">Cancel</button>
				<button type="button" class="btn btn-warning btn-sm btn-flat" data-dismiss="modal" data-id="" id="confirm-navigate">Yes</button>
			</div>
		</div><!-- /.modal-content -->
	</div><!-- /.modal-dialog -->
</div><!-- /.modal -->