<!-- Modal -->
<div class="modal fade" id="<%= confirm_modal_id %>" tabindex="-1" role="dialog">
	<div class="modal-dialog custom-width">
		<div class="modal-content">
			<div class="modal-header">
				<% if(typeof(confirm_title) != "undefined") { %><h3><%= confirm_title %></h3><% } %>
				<button type="button " class="close close-window" data-dismiss="modal" aria-hidden="true">&times;</button>
			</div>
			<div class="modal-body">
				<p class="confirm-content"><%= confirm_content %></p>
				<% if (typeof confirm_content_form !== "undefined") { %>
					<%= confirm_content_form %>
				<% } %>
			</div>
			<div class="modal-footer">
				<button type="button" class="btn btn-default btn-sm btn-flat close-window" data-dismiss="modal">Close</button>
				<button type="button" class="btn btn-warning btn-sm btn-flat" data-id="" id="<%= confirm_button_id %>">
					<%= confirm_button_label %>
				</button>
			</div>
		</div><!-- /.modal-content -->
	</div><!-- /.modal-dialog -->
</div><!-- /.modal -->