<% if(token) { %>
<div class="container-fluid">
  <div class="navbar-collapse no-padding">
    <ul class="nav navbar-nav navbar-right user-nav">
      <li class="dropdown notifications_menu">
        <a href="#" class="dropdown-toggle" data-toggle="dropdown">
          <span class="fa fa fa-bell-o"></span>
          Notifications
        </a>
        <ul class="dropdown-menu">
          <li><a href="#" class="see-all">See all notifications</a></li>
        </ul>
      </li>
      <li class="dropdown profile_menu">
        <a href="#" class="dropdown-toggle" data-toggle="dropdown">
          <span>Hi, <%= full_name %></span> <b class="caret"></b>
        </a>
        <ul class="dropdown-menu">
          <li><a href="<%= profile_view_url %>">My Profile</a></li>
          <li class="divider"></li>
          <li><a href="<%= logout_url %>">Sign Out</a></li>
        </ul>
      </li>
    </ul>

    <ul class="nav navbar-nav not-nav" style="height:45px">    
      <li>
        <h1>
          <% if (typeof(h1_title) != "undefined") { %><%= h1_title %><% } %> <% if (typeof(h1_small) != "undefined") { %> <small class="transform-upper"><%= h1_small %></small><% } %>
        </h1>
      </li>        
    </ul>
  </div>
</div>
<% } %>