<% if(token) { %>
<div class="cl-toggle"><i class="fa fa-bars"></i></div>
<div class="cl-navblock">
  <div class="menu-space">
    <div class="content">
      <div class="sidebar-logo">
        <div class="logo">
            <a href="#/<%= constant.URL.DASHBOARD %>"></a>
        </div>
      </div>
      <div class="side-user hidden">
        <div class="avatar"><img src="images/user-icon.png" alt="Avatar" /></div>
        <div class="info"></div>
      </div>
      <ul class="cl-vnavigation">
        <li class="active" ><a href="#/<%= constant.URL.DASHBOARD %>"><i class="fa fa-home"></i><span>Dashboard</span></a></li>

        <% if(_.contains(permission,constant.MENU.ACCOUNTS.VIEW) || _.isEqual(su,constant.SU)) { %>
        <li><a href="#/<%= constant.URL.ACCOUNT %>"><i class="fa fa-building-o"></i><span>Accounts</span></a></li>
        <% } %>
        
        <% if(_.contains(permission,constant.MENU.CONTACTS.VIEW) || _.isEqual(su,constant.SU)) { %>
        <li><a href="#/<%= constant.URL.CONTACT %>"><i class="fa fa-users"></i><span>Contacts</span></a></li>
        <% } %>
        
        <% if(_.contains(permission,constant.MENU.CONTRACT.VIEW) || _.isEqual(su,constant.SU)) { %>
        <li><a href="#/<%= constant.URL.CONTRACT %>"><i class="fa fa-folder-o"></i><span>Contract</span></a></li>
        <% } %>

        <% if(_.contains(permission,constant.MENU.PURCHASES.VIEW) || _.isEqual(su,constant.SU)) { %>
        <li><a href="#/<%= constant.URL.PO %>"><i class="fa fa-file-text-o"></i><span>Purchases</span></a></li>
        <% } %>

        <% if(_.contains(permission,constant.MENU.SALES.VIEW) || _.isEqual(su,constant.SU)) { %>
        <li><a href="#/<%= constant.URL.SO %>"><i class="fa fa-file-text"></i><span>Sales</span></a></li>
        <% } %>

		<% if(_.contains(permission,constant.MENU.INVENTORY.VIEW) || _.isEqual(su,constant.SU)) { %>
        <li><a href="#/<%= constant.URL.INVENTORY %>"><i class="fa fa-folder-o"></i><span>Inventory</span></a></li>
        <% } %>

        <% if(_.contains(permission,constant.MENU.PRODUCTS.VIEW) || _.isEqual(su,constant.SU)) { %>
        <li><a href="#/<%= constant.URL.PRODUCT %>"><i class="fa fa-barcode"></i><span>Products</span></a></li>
        <% } %>

        <% if(_.contains(permission,constant.MENU.REPORTS.VIEW) || _.isEqual(su,constant.SU)) { %>
        <li class"parent"><a href="#"><i class="fa fa-bar-chart-o"></i><span>Reports</span></a>
          <ul class="sub-menu">
            <% if(_.contains(permission,constant.MENU.OPERATOR.GENERATE) || _.isEqual(su,constant.SU)) { %>
            <li><a href="#/<%= constant.URL.OPERATOR %>">Operator's Pay Report</a></li>
            <% } %>
            <% if(_.contains(permission,constant.MENU.PRODUCER.GENERATE) || _.isEqual(su,constant.SU)) { %>
            <li><a href="#/<%= constant.URL.PRODUCER %>">Product Statement Report</a></li>
            <% } %>
            <% if(_.contains(permission,constant.MENU.TRUCKING.GENERATE) || _.isEqual(su,constant.SU)) { %>
            <li><a href="#/<%= constant.URL.TRUCKING %>">Trucking Statement Report</a></li>
            <% } %>
            <% if(_.contains(permission,constant.MENU.INVENTORY.GENERATE) || _.isEqual(su,constant.SU)) { %>
            <li><a href="#/<%= constant.URL.INVENTORY %>">Inventory Report</a></li>
            <% } %>
            <% if(_.contains(permission,constant.MENU.SALES.GENERATE) || _.isEqual(su,constant.SU)) { %>
            <li><a href="#/<%= constant.URL.SALES %>">Customer Sales Report</a></li>
            <% } %>
            <% if(_.contains(permission,constant.MENU.COMMISSION.GENERATE) || _.isEqual(su,constant.SU)) { %>
            <li><a href="#/<%= constant.URL.COMMISSION %>">Product Statement Report</a></li>
            <% } %>
            <% if(_.contains(permission,constant.MENU.GROSS.GENERATE) || _.isEqual(su,constant.SU)) { %>
            <li><a href="#/<%= constant.URL.GROSS %>">Gross Profit Report</a></li>
            <% } %>
            <% if(_.contains(permission,constant.MENU.DRIVER.GENERATE) || _.isEqual(su,constant.SU)) { %>
            <li><a href="#/<%= constant.URL.DRIVER %>">Driver Statement Report</a></li>
            <% } %>
          </ul>
        </li>
        <% } %>

        <% 
          if(
              _.contains(permission,constant.MENU.USERS.VIEW) || 
              _.contains(permission,constant.MENU.ROLES.VIEW) || 
              _.contains(permission,constant.MENU.ADMIN.VIEW) || 
              _.contains(permission,constant.MENU.ADMIN.TRAIL) || 
              _.isEqual(su,constant.SU)
            ) { 
        %>
        <li class="parent"><a href="#"><i class="fa fa-cogs"></i><span>Administration</span></a>
          <ul class="sub-menu">

            <% if(_.contains(permission,constant.MENU.ADMIN.VIEW) || _.isEqual(su,constant.SU)) { %>
            <li><a href="#/<%= constant.URL.ADMIN %>">Dashboard</a></li>
            <% } %>

            <% if(_.contains(permission,constant.MENU.USERS.VIEW) || _.isEqual(su,constant.SU)) { %>
            <li><a href="#/<%= constant.URL.USER %>">Users</a></li>
            <% } %>

            <% if(_.contains(permission,constant.MENU.ROLES.VIEW) || _.isEqual(su,constant.SU)) { %>
            <li><a href="#/<%= constant.URL.ROLE %>">Roles</a></li>
            <% } %>

            <% if(_.contains(permission,constant.MENU.ADMIN.VIEW) || _.isEqual(su,constant.SU)) { %>
            <li><a href="#/<%= constant.URL.AUDITTRAIL %>">Audit Trail</a></li>
            <% } %>
			
			<% if(_.contains(permission,constant.MENU.STACKLOCATION.VIEW) || _.isEqual(su,constant.SU)) { %>
            <li><a href="#/<%= constant.URL.STACKLOCATION %>">Stack Location</a></li>
            <% } %>
			
			<% if(_.contains(permission,constant.MENU.TRAILER.VIEW) || _.isEqual(su,constant.SU)) { %>
            <li><a href="#/<%= constant.URL.TRAILER %>">Trailer</a></li>
            <% } %>
			
			<% if(_.contains(permission,constant.MENU.TRUCKER.VIEW) || _.isEqual(su,constant.SU)) { %>
            <li><a href="#/<%= constant.URL.TRUCKER %>">Trucker</a></li>
            <% } %>
			
			<% if(_.contains(permission,constant.MENU.SCALE.VIEW) || _.isEqual(su,constant.SU)) { %>
            <li><a href="#/<%= constant.URL.SCALE %>">Scale</a></li>
            <% } %>
			
			<% if(_.contains(permission,constant.MENU.SETTINGS.EDIT) || _.isEqual(su,constant.SU)) { %>
            <li><a href="#/<%= constant.URL.SETTINGS %>">Settings</a></li>
            <% } %>
          </ul>
        </li>
        <% } %>

      </ul>
    </div>
  </div>
</div>
<% } %>