<div class="row">
	<div class="col-md-12">
		<div class="block-flat">
			<div class="content">

				<div class="row">
					<div class="col-md-12">
						<form id="locationForm" class="form-horizontal" role="form" method="post" enctype="multipart/form-data">
							<% if (typeof sl_id !== "undefined") { %>
							<input type="hidden" name="id" value="<%= sl_id %>" />
							<% } %>
							<fieldset>
								<legend>Location Details</legend>                  
								<div class="form-group">
									<label for="account_id" class="col-sm-2 control-label">Account *</label>
									<div class="col-sm-4">
										<div class="styled-select">
											<select class="form-control width-200" id="account_id" name="account_id" required>
												<option value="">Select an account</option>
												<%= account_list %>
											</select>
										</div>
									</div>
								</div>
								<div class="form-group">
									<label for="address" class="col-sm-2 control-label">Address *</label>
									<div class="col-sm-4">
										<div class="styled-select" style="display:inline-block;">
											<select class="form-control width-200" id="address" name="address">
												<option value="">Select an address</option>
											</select>
										</div>
										 <span id="map" style="display:inline-block;cursor:pointer;margin-left:10px;" class="glyphicon glyphicon-map-marker"></span>
									</div>
								</div>
								<div class="form-group">
									<label for="name" class="col-sm-2 control-label">Location Name *</label>
									<div class="col-sm-4">
										<input type="text" class="form-control capitalize" id="name" name="name" maxlength="50" required>
									</div>
								</div>
								<div class="form-group">
									<label for="description" class="col-sm-2 control-label">Description</label>
									<div class="col-sm-4">
										<textarea class="form-control" rows="3" id="description" name="description" maxlength="200"></textarea>
									</div>
								</div>
							</fieldset>
							<fieldset>
								<legend>
									Section
									<button title="Add Section" id="add-section" type="button" class="pull-right btn btn-info btn-xs"><span class="glyphicon glyphicon-plus"></span></button>
								</legend>
								<div class="table-responsive">
									<table id="section-list" class="table table-bordered">
										<thead>
											<tr>
												<th>Section Name</th>
												<th>Description</th>
												<th></th>
											</tr>
										</thead>
										<tbody></tbody>
									</table>
								</div>
							</fieldset>
							<div class="form-group">
								<div class="col-md-12">
									<div class="pull-right">
										<button id="save" type="submit" class="save btn btn-primary">Save</button>
										<% if (typeof sl_id !== "undefined") { %>
											<button id="delete-sl" type="button" class="btn btn-danger">Delete</button>
										<% } %>
										<a id="go-to-previous-page" class="btn btn-default" href="#">Cancel</a>
									</div>
								</div>
							</div>
						</form>
					</div>
				</div>

			</div> <!-- /.content -->
		</div> <!-- /.block-flat -->
	</div>
</div>