<% if (!_.isEmpty(sls)) { %>
	<% _.each(sls, function(sl){ %>
	<tr>
		<td><%= sl.get("location") %></td>
		<td><%= sl.get("stacknumber") %></td>
		<td><%= sl.get("product").name %></td>
		<td>
			<a href="<%= sl_edit_url %>/<%= sl.get("id") %>" class="text-primary" title="edit">
			  <span class="fa-stack">
	            <i class="fa fa-square fa-stack-2x"></i>
	            <i class="fa fa-pencil fa-stack-1x fa-inverse"></i>
	          </span>
			</a>
			<a href="#" class="text-danger delete-sl" data-id="<%= sl.get("id") %>">
			  <span class="fa-stack">
	            <i class="fa fa-square fa-stack-2x"></i>
	            <i class="fa fa-times fa-stack-1x fa-inverse"></i>
	          </span>
			</a>
		</td>
	</tr>
	<% }); %>
<% } else { %>
	<tr>
		<td colspan="4">No results found.</td>
	</tr>
<% } %>