<tr class="section-item">
	<td class="width-350">
		<input type="hidden" class="id" name="id" value="" />
		<input type="hidden" class="latitude" name="latitude" value="" />
		<input type="hidden" class="longitude" name="longitude" value="" />
        <input class="form-control input-sm name width-300 pull-left" name="name" maxlength="50" required>
        <span class="glyphicon glyphicon-map-marker pull-left map" style="display:inline-block;cursor:pointer;margin-top:7px;margin-left:10px;margin-right:10px"></span>
	</td>
    <td><input class="form-control input-sm description" name="description" maxlength="200"></td>
	<td align="center">
		<button title="Remove Section" type="button" class="btn btn-danger btn-rad btn-xs remove-section"><span class="glyphicon glyphicon-remove"></span></button>
	</td>
</tr>